/*==================================
FONT FACES
==================================*/

// Futura Book

@font-face {
  font-family: 'futura_book';
  src: url('Futura-Book.eot?#iefix') format('embedded-opentype'),  url('Futura-Book.woff') format('woff'), url('Futura-Book.ttf')  format('truetype'), url('Futura-Book.svg#Futura-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Futura Bold

@font-face {
  font-family: 'futura_bold';
  src: url('Futura-Bold.eot?#iefix') format('embedded-opentype'),  url('Futura-Bold.woff') format('woff'), url('Futura-Bold.ttf')  format('truetype'), url('Futura-Bold.svg#Futura-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Neutraface

@font-face {
  font-family: 'neutraface';
  src: url('NeutrafaceCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('NeutrafaceCondensed-Bold.otf')  format('opentype'),
	     url('NeutrafaceCondensed-Bold.woff') format('woff'), url('NeutrafaceCondensed-Bold.ttf')  format('truetype'), url('NeutrafaceCondensed-Bold.svg#NeutrafaceCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Neutratextps Book

@font-face {
  font-family: 'neutratextps_book';
  src: url('NeutraTextPS-Book.eot?#iefix') format('embedded-opentype'),  url('NeutraTextPS-Book.woff') format('woff'), url('NeutraTextPS-Book.ttf')  format('truetype'), url('NeutraTextPS-Book.svg#NeutraTextPS-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Neutratextps Demi

@font-face {
  font-family: 'neutratextps_demi';
  src: url('NeutraTextPS-Demi.eot?#iefix') format('embedded-opentype'),  url('NeutraTextPS-Demi.woff') format('woff'), url('NeutraTextPS-Demi.ttf')  format('truetype'), url('NeutraTextPS-Demi.svg#NeutraTextPS-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Neutratextps Bold

@font-face {
  font-family: 'neutratextps_bold';
  src: url('NeutraTextPS-Bold.eot?#iefix') format('embedded-opentype'),  url('NeutraTextPS-Bold.woff') format('woff'), url('NeutraTextPS-Bold.ttf')  format('truetype'), url('NeutraTextPS-Bold.svg#NeutraTextPS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Neutraface Display

@font-face {
  font-family: 'neutraface_display';
  src: url('Neutraface2Display-Titling.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Display-Titling.otf')  format('opentype'),
	     url('Neutraface2Display-Titling.woff') format('woff'), url('Neutraface2Display-Titling.ttf')  format('truetype'), url('Neutraface2Display-Titling.svg#Neutraface2Display-Titling') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*==================================
GENERAL FONTS
==================================*/

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Body & Paragraph

body {
	background-color: $white;
	color: $brown;
}

body, p {
	font-size: 21px;
	line-height: 29px;
  font-family: 'neutratextps_book', sans-serif;

  @include mobile_landscape {
    font-size: 18px;
    line-height: 28px;
  }
}

p.small {
  font-size: 16px;
  line-height: 20px;
}

// Headers

h1, .h1, h2.h1 {
	font-size: 35px;
  line-height: 43px;

  @include tablet {
    font-size: 27px;
	  line-height: 35px;
  }
}

h1.large, .h1.large, h2.h1.large {
  font-size: 55px;
  line-height: 63px;

  @include tablet {
    font-size: 35px;
    line-height: 40px;
  }
}

h1.display, .h1.display, h2.h1.display {
  font-size: 50px;
  line-height: 58px;
  font-family: 'futura_bold', sans-serif;
  text-align: center;
  margin-bottom: 50px;

  @include tablet {
    font-size: 27px;
    line-height: 35px;
  }
}

h1.futura {
  font-family: 'futura_bold', sans-serif;
  margin-bottom: 10px;
  font-size: 43px;
  line-height: 50px;

  @include tablet {
    font-size: 27px;
    line-height: 35px;
  }
}

h2 {
	font-size: 23px;
  line-height: 30px;
  
  @include tablet {
    font-size: 23px;
	  line-height: 30px;
  }
}

h2.futura {
  font-family: 'futura_bold', sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 40px;

  @include tablet {
    font-size: 25px;
    line-height: 30px;
  }
}

h3 {
	font-size: 23px;
	line-height: 30px;
}

h4 {
	font-size: 18px;
	line-height: 25px;
}

h5 {
  font-size: 16px;
  line-height: 23px;
}

h6 {
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'neutratextps_bold', sans-serif;
  font-weight: normal;
}

// Bold

b, strong {
  font-family: 'neutratextps_demi', sans-serif;
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;
}

// Styled links within content areas

.wysiwyg a {
  border-bottom: 5px solid $orange;

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}