/*==================================
COLORS
==================================*/

.text_white {
  color: $white;
}

.text_cream {
  color: $cream;
}

.text_orange {
  color: $orange;
}

.text_gold {
  color: $gold;
}

.text_red {
  color: $red;
}

.dark_text {
  color: $darkTextBrown;
}

.color_border_brown {
  color: $borderBrown;
}

/*==================================
BACKGROUNDS
==================================*/

// Solid

.background_white {
  background: $white;
}

.background_cream {
  background: $cream;
}

.background_light_cream {
  background: $lightCream;
}

/*==================================
MARGINS
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
FONTS
==================================*/

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.titlecase {
  text-transform: none;
}

.italic {
  font-style: italic;
}

.futura_book {
  font-family: 'futura_book', sans-serif;
}

.neutratextps_bold {
  font-family: 'neutratextps_bold', sans-serif;
}

.line_through {
  text-decoration: line-through;
}

// Sub/Super script text

sub,
sup {
	font-size: 50%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/*==================================
Responsive
==================================*/

// Mobile

.hide_on_mobile {
  display: block;

  @include mobile_landscape {
    display: none;
  }
}

.show_on_mobile {
  display: none;

  @include mobile_landscape {
    display: block;
  }
}

// Tablet

.hide_on_tablet {
  display: block;

  @include tablet {
    display: none !important;
  }
}

.show_on_tablet {
  display: none;

  @include tablet {
    display: block;
  }
}

// Tablet Landscape

.hide_on_tablet_landscape {
  display: block;

  @include tablet_landscape {
    display: none !important;
  }
}

.show_on_tablet_landscape {
  display: none;

  @include tablet_landscape {
    display: block;
  }
}

/*==================================
Visibility
==================================*/

.hide {
  display: none;
}

/*==================================
ALIGNMENT
==================================*/

.align_center {
  text-align: center;
}

.alignleft {
  display: inline;
  max-width: 50%;
  float: left;
  margin: 0 20px 20px 0;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.alignright {
  display: inline;
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_vertical_space_between {
  display: flex;
  flex-direction: column;
}

/*==================================
BORDERS
==================================*/

.border_bottom_gold {
  border-bottom: 3px solid $gold;
}