/*==================================
GENERAL STRUCTURE
==================================*/

.main_content {
    overflow-x: hidden;
    padding-top: 120px;
    opacity: 1;
    transition: all .5s ease-in-out;

    &.loaded {
        opacity: 1;
    }

    @include tablet_landscape {
        padding-top: 90px;
    }
}

.template-blog, .template-article {
  .main_content{
    padding-top: 30px;
  }
}

.container {
    position: relative;
    max-width: 1160px;
    width: 90%;
    margin: 0 auto;
}

.large_container {
    position: relative;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.medium_container {
    position: relative;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.small_container {
    position: relative;
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
}

/*==================================
Panel
==================================*/

.panel {
    padding: 40px 0;

    @include tablet {
        padding: 30px 0;
    }

    @include mobile {
        padding: 30px 0;
    }
}

.panel.padding_top {
    padding: 40px 0 0;

    @include tablet {
        padding: 30px 0 0;
    }

    @include mobile {
        padding: 30px 0 0;
    }
}

.panel.large {
    padding: 80px 0;

    @include tablet {
        padding: 40px 0;
    }

    @include mobile {
        padding: 30px 0;
    }
}

// Background Image Panel

.panel--with-background-image {
    background-size: cover;
    background-position: center;
}

// Down Arrow Shaped Panel

.panel-down-arrow {
    position: relative;
    padding: 60px 0 150px;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);

    @include tablet {
        clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
    }
}

.panel-down-arrow .down-arrow-btn {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}

/*==================================
GRID
==================================*/

.row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -20px;

    @include tablet_landscape {
        margin: 0px -10px;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4, .column_1_5, .column_2_5, .column_3_5, .column_4_5  {
	position: relative;
	margin: 0px 0px 20px;
	padding: 0px 20px;

	img {
		display: block;
    }
    
    @include tablet_landscape {
        margin: 0px 0px 20px;
        padding: 0 10px;
    }
}

// Columns

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet_landscape {
    	width: 50%;
    }

    @include tablet {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include tablet_landscape {
    	width: 100%;
    }
}

.column_1_5 {
    width: 20%;
    
    @include tablet_landscape {
    	width: 33.33%;
    }

    @include tablet {
    	width: 50%;
    }
}

.column_2_5 {
    width: 40%;
}

.column_3_5 {
    width: 60%;
}

.column_4_5 {
    width: 80%;
}