/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #26221D;

// Text

$textBrown: #78643F;
$darkTextBrown: #5B4A2E;

// Border

$borderBrown: #BFB299;

// Browns

$brown: #653B2D;
$brown85: #6A4B40;
$darkBrown: #502C1F;
$lightBrown: #988578;

// Tans

$tan: #B28B49;
$tan75: #C8AC7A;

// Gold

$gold: #C0AA60;

// Creams

$cream: #F1EBDE;
$lightCream: #F8F5EF;

// Orange

$orange: #FDB933;
$lightOrange: #FFCA68;

// Reds

$red: #E63E2E;

// Forms

$validGreen: #7DF17A;
$invalidRed: #F17A7A;

// Grey

$grey: #D5D7D8;

// Greys

$textgrey: #2C2C2C;

/*================
Special Branding
================*/

$amazonVerified: #c45500;

$pslRed: #CA2643;

$pslOrange: #F9A23B;

$pslDarkOrange: #D59333;

/*================
Border
================*/

$borderRadius: 5px;

/*================
Box Shadow
================*/

$boxShadow: 0 0 16px 0 rgba($black,0.12), 0 16px 16px 0 rgba($black,0.06);

$boxShadowHover: 0 12px 16px rgba(0, 0, 0, 0.2);

$boxShadowInput: 1px 2px 5px 0 rgba(0,0,0,0.50);

/*================
Transitions
================*/

$growTransition: cubic-bezier(.165, .84, .44, 1);

$bounceIn: cubic-bezier(.25,1.7,.35,.8);