<div class="panel">
	<div class="container">
		<header class="page_header">
			<h1>{{ 'general.404.title' | t }}</h1>
		</header>
		<div class="row wysiwyg">
			<div class="column_2_3">
				<p>{{ 'general.404.subtext_html' | t }}</p>
			</div>
		</div>
	</div>
</div>

