<article role="article" itemscope itemtype="http://schema.org/Article">

  <div class="panel padding_top">

    <div class="medium_container wysiwyg post_body">

      <header class="post_header">
        <h1>{{ article.title }}</h1>
        {% if article.excerpt.size > 0 %}
          <p>{{ article.excerpt }}</p>
        {% endif %}
      </header>

      {% if article.image %}
        {{ article | img_url: '1024x1024' | img_tag: article.title }}
      {% endif %}

      <!-- Article Content -->

      <div class="rte" itemprop="articleBody">
        {{ article.content }}
      </div>      

    </div>

  </div>
  
  <!-- Icons -->

  {% section 'icon_group_blog' %}
  
  <!-- Press -->

  {% section 'press_blog_post' %}

  <!-- Newsletter -->

  {% section 'newsletter_panel_blog_post' %}

</article>