<div class="panel">

  <div class="medium_container">

    {% paginate blog.articles by 10 %}

      {% for article in blog.articles %}

        <div class="post_card">
       
          <div class="post_card_top">
            <h1>
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h1>
          </div>

          {% if article.image %}
            <a href="{{ article.url }}" class="post_card_image">
              {{ article | img_url: '1024x1024' | img_tag: article.title }}
            </a>
          {% endif %}

          <div class="post_card_bottom">
            <div class="rte">
              {% if article.excerpt.size > 0 %}
                <p>{{ article.excerpt }}</p>
              {% else %}
                <p>
                  {{ article.content | strip_html | truncatewords: 50 }}
                </p>
              {% endif %}
            </div>

            <a href="{{ article.url }}" class="btn primary">Read More</a>

          </div>

        </div>

      {% endfor %}

      {% if paginate.pages > 1 %}
        <div class="pagination">
          {% if paginate.previous.is_link %}
            <a href="{{ paginate.previous.url }}"><i class="fa fa-angle-left"></i> Previous</a>
          {% endif %}
          {% if paginate.next.is_link %}
            <a href="{{ paginate.next.url }}">Next <i class="fa fa-angle-right"></i></a>
          {% endif %}
        </div>
      {% endif %}

    {% endpaginate %}

  </div>

</div>
