{% include 'subscription-cart-footer' %}

<div class="panel">
	<div class="container">

    <header class="page_header">
      <h1>My Cart</h1>
    </header>
    
		{% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate class="cart_page_form">

        <div class="table cart_table">

          <div class="table_row table_header">
            <div class="table_cell fourty left">Item</div>
            <div class="table_cell twenty">Unit Price</div>
            <div class="table_cell twenty">Quantity</div>
            <div class="table_cell twenty right">Subtotal</div>
          </div>
          
          <div class="table_body">

            {% for item in cart.items %}

              {% assign original_product_handle = item.product.metafields.subscriptions.original_handle %}
              {% assign original_product_info = all_products[original_product_handle] %}
              {% assign original_subscription_product = all_products[original_product_handle].metafields.subscriptions %}
              
              <div class="table_row cart_item" data-product-name="{{ item.product.handle }}">

                <!-- Item (Photo/Info) -->

                <div class="table_cell fourty left cart_item_details">
                  
                  <a href="{{ item.url | within: collections.all }}" class="product_image">
                    <img src="{{ item | img_url: '240x240' }}" alt="{{ item.title | escape }}">
                  </a>

                  <!-- Info (Variant, Tags) -->

                  <div class="product_info">

                    <h2><a href="{{ item.url }}">{{ item.product.title }}</a></h2>
                    <p>{{ item.variant.title }}</p>

                    {%- assign tag_size = item.product.tags | size -%}

                    {% if tag_size > 0 %}
                      <p>
                        {% for tag in item.product.tags %}
                          {% unless tag == 'Subscription' %}
                            {{ tag }}{% unless forloop.last == true %}, {% endunless %}
                          {% endunless %}
                        {% endfor %}
                      </p>
                    {% endif %}

                    {% comment %}
                      Subscription information. Shows subscription and frequency.
                    {% endcomment %}

                    {% assign recurringchecked = "false" %} 

                    {% for p in item.properties  %}   
                      {% if p.first == 'shipping_interval_frequency' %}
                        {% assign frequency = p.last %}
                        {% assign recurringchecked = "true" %} 
                      {% endif %}
                      {% if p.first == 'shipping_interval_unit_type' %}
                        {% if frequency == '1'%}
                          {% if p.last == 'Days' %}
                            {% assign frequency_unit = 'Day' %}
                          {% elsif p.last == 'Months'%}
                            {% assign frequency_unit = 'Month' %}
                          {% elsif p.last == 'Weeks'%}
                            {% assign frequency_unit = 'Week' %}
                          {% endif %}
                        {% else %}
                          {% assign frequency_unit = p.last %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% if recurringchecked == "true" %}
                      <p><b>Subscription</b>: Delivered every {{ frequency }} {{ frequency_unit }}. Change or cancel anytime.</p>
                    {% endif %}
                    
                    {% comment %}
                      Dicount Calculations
                      If this is a subscription item then check the original item to find if there was a discount.
                      Only the original item will have the discount_percentage metafield.
                    {% endcomment %}

                    {% if original_product_handle != blank %}
                      {% assign discount_percentage = original_subscription_product.discount_percentage | round: 2 %}
                      {% assign discount_floor = original_subscription_product.discount_percentage | floor %}
                      {% if discount_percentage == discount_floor %}
                        {% assign discount_percentage = discount_floor %}
                      {% endif %}
                      {% unless discount_percentage == 0 %}
                        <p>{{ discount_percentage }}% Discount</p>
                      {% endunless %}
                    {% endif %}
                    
                    <p class="show_on_tablet">
                      Unit Price: {{ item.price | money }}
                      {% if original_product_handle != blank %}
                        {% if original_product_info.price != item.price %}
                          <span class="line_through color_border_brown">{{ original_product_info.price | money }}</span>
                        {% endif %}
                      {% endif %}
                    </p>
                    
                    <a class="remove_cart_item" data-line-item="{{ forloop.index }}" data-product-name="{{ item.product.handle }}" data-subscription-id="{{ item.properties.subscription_id }}"><i class="far fa-trash-alt fa-xs"></i></a>

                  </div>

                </div>

                <!-- Price -->

                <div class="table_cell twenty hide_on_tablet vertical_center">
                  {% comment %}
                    Show the discount price if this subscription product is discounted.
                  {% endcomment %}
                  {% if original_product_handle != blank %}
                    {% if original_product_info.price != item.price %}
                      <h2><span class="line_through color_border_brown">{{ original_product_info.price | money }}</span></h2>
                    {% endif %}
                  {% endif %}
                  <h2>{{ item.price | money }}</h2>
                </div>

                <!-- Quantity -->

                <div class="table_cell twenty cart_item_quantity vertical_center">
                  <div class="quantity_updater_container" data-variant-id="{{ item.variant_id }}" data-variant-price="{{ item.price }}" data-line-item="{{ forloop.index }}" data-subscription-id="{{ item.properties.subscription_id }}" data-shipping-interval-frequency="{{ item.properties.shipping_interval_frequency }}" data-shipping-interval-unit-type="{{ item.properties.shipping_interval_unit_type }}">
                    <div class="circular_icon clickable quantity_updater" data-type="decrease">
                      {% if item.quantity == 1 %}
                        <i class="far fa-trash-alt"></i>
                      {% else %}
                        <i class="fas fa-minus"></i>
                      {% endif %}
                    </div>
                    <h2 class="quantity">{{ item.quantity }}</h2>
                    <div class="circular_icon clickable quantity_updater" data-type="increase">
                        <i class="fas fa-plus"></i>
                    </div>
                  </div>
                  <!-- Error Feedback -->
                  <p class="error_feedback_message"></p>
                </div>

                <!-- Subtotal -->

                <div class="table_cell twenty right vertical_center">
                  <h2 class="cart_item_total">{{ item.line_price | money }}</h2>
                </div>

              </div>

            {% endfor %}

          </div>

        </div>

        <!-- Cart Footer -->

        <div class="cart_footer">

          <!-- Continue Shopping -->

          <div class="cart_footer_left">
            <ul class="trust_badges flush_left">
              <li><img src="{{ 'money_back_badge.png' | asset_img_url: 'original' }}" /></li>
              <li><img src="{{ 'free_shipping_badge.png' | asset_img_url: 'original' }}" /></li>
            </ul>
            <a class="underline_link" href="pages/all-products"><i class="fas fa-angle-left"></i> Continue Shopping</a>
          </div>

          <!-- Totals & Checkout Button -->

          <div class="cart_footer_right">
          
            <div class="order_calculations">

              <!-- Shipping -->

              <div class="order_calculation_line">

                <div class="order_calculation_title">
                    <h2>Shipping:</h2>
                </div>

                <div class="order_calculation_price">
                  <h2>Free</h2>
                </div>
              
              </div>

              <!-- Total -->

              <div class="order_calculation_line">

                <div class="order_calculation_title">
                    <h2>Cart Total:</h2>
                </div>

                <div class="order_calculation_price">
                  <h2 class="cart_total">{{ cart.total_price | money }}</h2>
                </div>
              
              </div>

            </div>
            
            <div class="checkout_button_container">
              <input type="submit" name="checkout" class="btn primary" value="Checkout">
            </div>
                        
            <ul class="payment_icons flush_right">
              <li><img src="{{ 'amazon.png' | asset_img_url: 'original' }}" /></li>
              <li><img src="{{ 'apple.png' | asset_img_url: 'original' }}" /></li>
              <li><img src="{{ 'amex.png' | asset_img_url: 'original' }}" /></li>
              <li><img src="{{ 'visa.png' | asset_img_url: 'original' }}" /></li>
              <li><img src="{{ 'mastercard.png' | asset_img_url: 'original' }}" /></li>
              <li><img src="{{ 'discover.png' | asset_img_url: 'original' }}" /></li>
            </ul>
          
          </div>

        </div>

      </form>

    {% else %}
      
      {% comment %}
        Cart empty state
      {% endcomment %}

      <div class="wysiwyg">
        <p>Your cart is currently empty. Continue shopping <a href="/pages/all-products">here.</a></p>
      </div>

    {% endif %}
	</div>
</div>

{% comment %}
  Organized Tracking Info for DCM and FB events.
{% endcomment %}

<div 
class="cart-tracking-info"
data-product-ids-dcm="{% for item in cart.items %}{{ item.variant_id }}{% unless forloop.last %}|{% endunless %}{% endfor %}"
data-product-ids-fb="{% for item in cart.items %}{{ item.variant_id }}{% unless forloop.last %}, {% endunless %}{% endfor %}"
data-product-prices="{% for item in cart.items %}{{ item.original_price | money_without_currency }}{% unless forloop.last %}|{% endunless %}{% endfor %}"
data-product-quantities-dcm="{% for item in cart.items %}{{ item.quantity }}{% unless forloop.last %}|{% endunless %}{% endfor %}"
data-product-quantities-fb="{% for item in cart.items %}{{ item.quantity }}{% unless forloop.last %}, {% endunless %}{% endfor %}">
</div>