<section class="psl_top">
    
    <!-- Intro -->
    
    <div class="psl_intro_container">
        <div class="rectangle_label">Coming Soon</div>
        <h1>Spice Up Your<br><span>Caffeine Routine</span></h1>
        <p><i>*Limited time and availability.</i></p>
    </div>
    
    <!-- Icons -->
    
    <div class="psl_icons_container">
    
        <div class="icon_container">
            <img src="{{ 'coffee_shot_icon.png' | asset_img_url: '500x' }}">
        </div>
        
        <div class="icon_container">
            <img src="{{ 'high_energy_icon.png' | asset_img_url: '500x' }}">
        </div>
        
        <div class="icon_container">
            <img src="{{ 'organic_icon.png' | asset_img_url: '500x' }}">
        </div>
    
    </div>
    
    <!-- Email Signup -->
    
    <div class="psl_email_signup_container">
        {% section 'newsletter_signup_psl' %}
    </div>
    
    <!-- Bottles -->
    
    <img src="{{ 'psl_bottle_desktop.png' | asset_img_url: '500x' }}" class="psl_bottle psl_bottle_desktop parallax_item" data-speed="1.5" data-rotate="10">
    <img src="{{ 'pml_bottle_desktop.png' | asset_img_url: '500x' }}" class="psl_bottle pml_bottle_desktop parallax_item" data-speed="1.5" data-rotate="-10">
    
    <img src="{{ 'psl_bottle_mobile.png' | asset_img_url: '500x' }}" class="psl_bottle_mobile">
    <img src="{{ 'pml_bottle_mobile.png' | asset_img_url: '500x' }}" class="pml_bottle_mobile">
        
</section>

<section class="psl_bottom">
    <div class="bottles">
        <a href="/pages/all-products">
            <img src="{{ 'forto_bottles.png' | asset_img_url: '2000x' }}" />
        </a>
    </div>
    <div class="content">
        <h1>See all flavors</h1>
        <a href="/pages/all-products" class="btn psl_btn">Shop All</a>
    </div>
</section>