<div class="panel">
	<div class="container">
		<header class="page_header">
			<h1>{{ page.title }}</h1>
		</header>
		<div class="row wysiwyg">
			<div class="column_2_3">
				{% section 'faq' %}
			</div>
		</div>
	</div>
</div>
