{% comment %}

Contact Us

{% endcomment %}

<div class="panel">
	<div class="container">
		<header class="page_header">
			<h1>{{ page.title }}</h1>
		</header>
		<div class="row wysiwyg">
			<div class="column_2_3">

				<!-- Contact Form -->

				{% form 'contact' %}

					{% if form.posted_successfully? %}
						<div class="successForm feedback">
							<p>{{ 'contact.form.post_success' | t }}</p>
						</div>
					{% endif %}

					{% if form.errors %}
						<div class="notification_banner invalid wysiwyg">
							<p>Your contact form has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To submit your form, make the following changes and try again:</p>
							{% for field in form.errors %}
								<p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
							{% endfor %}							
							<div class="circular_icon invalid">
								<i class="fas fa-exclamation"></i>
							</div>
						</div>
					{% endif %}

					{{ page.content }}

					<div id="contactFormWrapper">

							<label for="ContactFormName">Full Name</label>
							<input type="text" required id="contactFormName" name="contact[name]" placeholder="Full Name">

							<label for="ContactFormEmail">Email</label>
							<input type="email" required id="contactFormEmail" name="contact[email]" placeholder="Email">

							<div class="form_label_header">
								<label for="ContactFormPhone">Phone Number</label>
								<p>Optional</p>
							</div>
							<input type="text" id="contactFormPhone" name="contact[Phone]" placeholder="Phone Number">

							<label for="ContactFormReason">Reason For Contacting</label>
							<div class="form_select_container">
								<select id="ContactFormReason" name="contact[Reason]">
									<option></option>
									<option>Customer Service</option>
									<option>Sales/Business</option>
									<option>Partnerships</option>
									<option>Other</option>
								</select>
								<i class="fal fa-angle-down"></i>
							</div>

							<label for="ContactFormMessage">Your Message</label>
							<textarea required rows="5" id="contactFormMessage" name="contact[message]" placeholder="Your Message"></textarea>

							<input type="submit" class="btn primary" id="contactFormSubmit" value="Send" />
							
					</div>

				{% endform %}

			</div>
		</div>
	</div>
</div>