<div class="panel">

    {% section 'our_story_top' %}

    <div class="container">
        <div class="row wysiwyg">
            <div class="column_2_3">
                {{ page.content }}
            </div>
        </div>
    </div>

</div>
