{% comment %}
    Product Collections Menu
{% endcomment %}

<div class="container">
    <ul class="product_collections_menu">
        {% for link in linklists.product-collections.links %}
            <li><a href="#" class="smooth_scroll underline_link" data-target="{{ link.title | handle }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% comment %}
    Product Collection Sections
{% endcomment %}

{% for link in linklists.product-collections.links %}
    <div class="panel" id="{{ link.title | handle }}">
        <div class="container">
            
            <!-- Product Collection Header -->

            <div class="product_collection_header">
                <div class="icon hide_on_tablet">
                    <img src="{{ link.object.image | img_url: 'medium' }}" />
                </div>
                <div class="content">
                    <div class="product_collection_title">
                        <div class="icon">
                            <img src="{{ link.object.image | img_url: 'medium' }}" />
                        </div>
                        <h2>{{ link.title }}</h2>
                    </div>
                    <p>{{ link.object.description }}</p>
                </div>
            </div>

            <!-- Products -->

            <div class="row">
                {% for product in link.object.products %}
                    <div class="column_1_3 individual_product_card">

                        <!-- Product Image -->

                        <a href="{{ product.url }}" class="product_image">
                            <img src="{{ product.featured_image | img_url: 'original' }}" />
                        </a>

                        <div class="individual_product_card_bottom">
                       
                            <!-- Product Details -->

                            <div class="product_details">

                                <h2 class="h1"><a href="{{ product.url }}">{{ product.title }}</a></h2>
                                <p>{{ product.selected_or_first_available_variant.title }}</p>
                                <p>
                                    {% if product.compare_at_price_max > product.price %}<span class="line_through color_border_brown">{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>{% endif %}
                                    <b>{{ product.price | money_without_trailing_zeros }}</b>
                                </p>
                                {%- assign tag_size = product.tags | size -%}
                                {% if tag_size > 0 %}
                                    <p>{{ product.tags | join: ", " }}</p>
                                {% endif %}

                            </div>

                            <!-- Add To Cart Form -->

                            {% include 'form-add_to_cart', button_type: 'secondary', show_buy_now: 'false' %}
                    
                        </div>
                        
                    </div>

                {% endfor %}
                
            </div>

        </div>
    </div>
{% endfor %}