{% section 'full_width_hero_press' %}

<div class="panel">
    
	<div class="container">

		<header class="page_header">
			<h1>{{ page.title }}</h1>
		</header>
        
        <div class="wysiwyg">
            {{ page.content }}
        </div>
        
        {% section 'press_logo_grid' %}

    </div>
    
</div>