{% section 'full_width_hero_stores' %}

<div class="panel">

	<div class="container">

		<header class="page_header">
			<h1>{{ page.title }}</h1>
		</header>

        <div class="wysiwyg">
            {{ page.content }}
        </div>
        
        <div class="panel">
            {% section 'stores' %}
        </div>

    </div>
    
</div>