{% assign contents = product.description | split: '[product-description-section]' %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% comment %}
Product meta information.
{% endcomment %}

<meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
<meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
<meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
<meta itemprop="description" content="{{ contents[0] | strip_html | escape }}">
<meta itemprop="priceCurrency" content="{{ shop.currency }}">
<meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
<link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

<div class="panel">
	<div class="container">
		<div class="row product_row_top">

            <!-- Top Section w/ Product Images and Add To Cart -->

			<div class="column_3_5">
                <div class="product_slider_container">
                    <ul class="product_slider_thumbnails">
                        {% for image in product.images %}
                            {% if image.alt == 'nutrition-facts' %}
                                <li class="underline_link">Nutrition Facts</li>
                            {% else %}
                                <li class="product_slider_thumbnail_image" style="background-image: url('{{ image.src | img_url: '480x480' }}');"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="flexslider product_slider">
                        <ul class="slides">
                            {% for image in product.images %}
                                <li><img src="{{ image.src | img_url: '800x' }}" /></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
			</div>

            <div class="column_2_5 individual_product_details_container">
                
                <!-- Product Details -->

                <h1>{{ product.title }}</h1>
                
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                
                <h2 class="h1 large product_price">
                    {% if product.compare_at_price_max > product.price %}<span class="line_through color_border_brown">{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>{% endif %}
                    {{ product.price | money_without_trailing_zeros }}
                </h2>
                
                <p class="variant_info">{{ product.selected_or_first_available_variant.title }}</p>
                
                <!-- Add To Cart -->

                {% include 'form-add_to_cart', button_type: 'primary' %}

                <div class="wysiwyg">
                    {{ contents[0] }}
                </div>
            
            </div>

		</div>

        {% if contents[1] != blank %}
            <div class="wysiwyg">
                {{ contents[1] }}
            </div>
        {% endif %}

	</div>
</div>

{% section 'photo_text_panels' %}

{% section 'photo_carousel_product_page' %}

{% section 'icon_group_product_page' %}

{% section 'photo_text_cards' %}

{% section 'product_reviews' %}