<div class="container">
  <span class="page_header_label">My Account Portal</span>
</div>

<div class="panel">
	<div class="container">

    <!-- Mobile Navigation -->

    <div class="show_on_tablet_landscape mobile_account_navigation_container">
      <h2>{{ customer.name }}</h2>
      <div class="form_select_container">
        <select onchange="location = this.value;">
          <option value="/account" selected>Account</option>
          <option value="/account/addresses">Addresses</option>
          {% if customer.metafields.subscriptions.customer_string %}
            <option value="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</option>
          {% endif %}
          <option value="/account/logout">Sign Out</option>
        </select>
        <i class="fal fa-angle-down"></i>
      </div>
    </div>
    
		<div class="row">

       <!-- Sidebar -->

      <div class="column_1_4">

        <div class="hide_on_tablet_landscape">

          <!-- Desktop Navigation -->
          
          <h2>{{ customer.name }}</h2>
          <ul class="account_navigation">
            <li><a href="/account" class="active">Account</a></li>
            <li><a href="/account/addresses">Addresses</a></li>
            {% if customer.metafields.subscriptions.customer_string %}
              <li><a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</a></li>
            {% endif %}
          </ul>

          <a class="btn primary" href="/account/logout">Sign Out</a>
        
        </div>

      </div>

			<div class="column_3_4">
        
        <!-- Personal Info  -->

        <h1>Personal Information</h1>

        <p><b>Name:</b> {{ customer.name }}</p>
        <p><b>Email:</b> {{ customer.email }}</p>

        <!-- Order History -->
          
        <h1>Order History</h1>

        {% if customer.metafields.subscriptions.customer_string %}
          <p class="wysiwyg">All of your orders will appear below. To view and manage your subscriptions <a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">click here.</a> You'll be taken to a seperate subscription portal.</p> 
        {% endif %}

        {% if customer.orders.size != 0 %}

          <!-- Desktop Orders List -->

          <div class="hide_on_tablet">
            <div class="table">
              <div class="table_row table_header">
                <div class="table_cell left">Order</div>
                <div class="table_cell">Date</div>
                <div class="table_cell">Payment Status</div>
                <div class="table_cell">Shipment Status</div>
                <div class="table_cell right">Total</div>
              </div>
              <div class="table_body grey_text">
                {% for order in customer.orders %}
                  <div class="table_row">
                    <div class="table_cell left"><a href="{{ order.customer_url }}" class="underline_link">{{ order.name }}</a></div>
                    <div class="table_cell">{{ order.created_at | date: "%b %d, %Y" }}</div>
                    <div class="table_cell">{{ order.financial_status_label }}</div>
                    <div class="table_cell">{{ order.fulfillment_status_label }}</div>
                    <div class="table_cell right">{{ order.total_price | money }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <!-- Mobile Orders List -->

          <div class="show_on_tablet">
            {% for order in customer.orders %}
              <div class="cream_card">
                <header>
                  <h2>Order {{ order.name }}</h2>
                  <a href="{{ order.customer_url }}" class="underline_link">View Order</a>
                </header>
                <p>
                  <b>Date:</b> {{ order.created_at | date: "%b %d, %Y" }}<br>
                  <b>Payment Status:</b> {{ order.financial_status_label }}<br>
                  <b>Shipment Status:</b> {{ order.fulfillment_status_label }}<br>
                  <b>Total:</b> {{ order.total_price | money }}<br>
                </p>
              </div>
            {% endfor %}
          </div>

        {% else %}

          <p>You haven't placed any orders yet.</p>

        {% endif %}

        <!-- Default Address -->

        <h1>Default Address</h1>

        {% if customer.default_address %}

          <div class="address_container">

              {{ customer.default_address | format_address }}

          </div>

        {% endif %}

        <p><a href="/account/addresses" class="underline_link">Add/Edit Addresses</a></p>

			</div>
		
    </div>
	
  </div>

</div>
