<div class="panel">

	<div class="small_container">

		<header class="page_header">
			<h1>Activate Your Account</h1>
		</header>

    {% form 'activate_customer_password' %}

      {% if form.errors %}
        <div class="notification_banner invalid wysiwyg">
          {% for field in form.errors %}
            {% if field == 'form' %}
              <p>{{ form.errors.messages[field] }}</p>
            {% else %}
              <p>{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</p>
            {% endif %}
          {% endfor %}
          <div class="circular_icon invalid">
            <i class="fas fa-exclamation"></i>
          </div>
        </div>
      {% endif %}

      <label for="customer_password">Password*</label>
      <input 
        type="password"
        required
        name="customer[password]"
        id="customer_password"
      />

      <label for="customer_password_confirm">Confirm Password*</label>
      <input 
        type="password"
        required
        name="customer[password_confirmation]"
        id="customer_password"
      />

      <div class="form_submit_footer">
        <input type="submit" class="btn primary" value="Activate Account">
        <p><a class="underline_link" href="/">Decline Invitation</a></p>
      </div>

    {% endform %}

  </div>

</div>
