<div class="container">
  <span class="page_header_label">My Account Portal</span>
</div>

<div class="panel">
	<div class="container">

    <!-- Mobile Navigation -->

    <div class="show_on_tablet_landscape mobile_account_navigation_container">
      <div class="form_select_container">
        <select onchange="location = this.value;">
          <option value="/account">Account</option>
          <option value="/account/addresses" selected>Addresses</option>
          {% if customer.metafields.subscriptions.customer_string %}
            <option value="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</option>
          {% endif %}
          <option value="/account/logout">Sign Out</option>
        </select>
        <i class="fal fa-angle-down"></i>
      </div>
    </div>
    
		<div class="row">

       <!-- Sidebar -->

      <div class="column_1_4">

        <div class="hide_on_tablet_landscape">

          <h2>{{ customer.name }}</h2>
          <ul class="account_navigation">
            <li><a href="/account">Account</a></li>
            <li><a href="/account/addresses" class="active">Addresses</a></li>
            {% if customer.metafields.subscriptions.customer_string %}
              <li><a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</a></li>
            {% endif %}
          </ul>

          <a class="btn primary" href="/account/logout">Sign Out</a>

        </div>

      </div>

			<div class="column_3_4">

        <h1>Your Addresses</h1>

        <!-- Addressess -->

        {% paginate customer.addresses by 5 %}

          {% comment %}
            Add New Address Form
          {% endcomment %}

          <p><a class="underline_link address-new-toggle" href="#">Add New Address</a></p>

          <div id="AddressNewForm" class="hide form_container">
            
            {% form 'customer_address', customer.new_address %}
            
              <label for="AddressFirstNameNew">First Name</label>
              <input 
                type="text"
                name="address[first_name]"
                id="AddressFirstNameNew"
                value="{{ form.first_name }}"
                autocapitalize="words"
              />

              <label for="AddressLastNameNew">Last Name</label>
              <input 
                type="text"
                name="address[last_name]"
                id="AddressLastNameNew"
                value="{{ form.last_name }}"
              />

              <label for="AddressCompanyNew">Company</label>
              <input 
                type="text"
                name="address[company]"
                id="AddressCompanyNew"
                value="{{ form.company }}"
              />

              <label for="AddressAddress1New">Address 1</label>
              <input 
                type="text"
                name="address[address1]"
                id="AddressAddress1New"
                value="{{ form.address1 }}"
              />

              <label for="AddressAddress2New">Address 2</label>
              <input 
                type="text"
                name="address[address2]"
                id="AddressAddress2New"
                value="{{ form.address2 }}"
              />

              <label for="AddressCityNew">City</label>
              <input 
                type="text"
                name="address[city]"
                id="AddressCityNew"
                value="{{ form.city }}"
              />

              <label for="AddressCountryNew">Country</label>
              <div class="form_select_container">
                <select
                  name="address[country]"
                  id="AddressCountryNew"
                  data-default="{{ form.country }}">
                  {{ country_option_tags }}
                </select>
                <i class="fal fa-angle-down"></i>
              </div>

              <div id="AddressProvinceContainerNew" style="display: none">
                <label for="AddressProvinceNew">Province</label>
                <div class="form_select_container">
                  <select
                    name="address[province]"
                    id="AddressProvinceNew"
                    data-default="{{ form.province }}">
                  </select>
                  <i class="fal fa-angle-down"></i>
                </div>
              </div>

              <label for="AddressZipNew">Postal/Zip Code</label>
              <input 
                type="text"
                name="address[zip]"
                id="AddressZipNew"
                value="{{ form.zip }}"
              />

              <label for="AddressPhoneNew">Phone</label>
              <input 
                type="tel"
                name="address[phone]"
                id="AddressPhoneNew"
                value="{{ form.phone }}"
                pattern="[0-9\-]*"
              />
              
              <div class="form_checkbox_container">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">Set as default address</label>
              </div>
              
              <input type="submit" class="btn primary" value="Add Address">
              <button type="button" class="address-new-toggle">Cancel</button>

            {% endform %}

          </div>

          {% comment %}
            List Of Addresses
          {% endcomment %}

          {% for address in customer.addresses %}

            <div class="address_container">
              {{ address | format_address }}
              <div class="address_footer">
                <div>
                  <a class="address-edit-toggle underline_link" href="#" data-form-id="{{ address.id }}">Edit</a>
                  <a class="address-delete underline_link" href="#" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">Delete</a>
                </div>
                <p><b>Default</b></p>
              </div>
            </div>

            {% comment %}
              Edit Address Form
            {% endcomment %}

            <div id="EditAddress_{{ address.id }}" class="hide">
              
              {% form 'customer_address', address %}

                <label for="AddressFirstName_{{ form.id }}">First Name</label>
                <input 
                  type="text"
                  name="address[first_name]"
                  id="AddressFirstName_{{ form.id }}"
                  value="{{ form.first_name }}"
                />

                <label for="AddressLastName_{{ form.id }}">Last Name</label>
                <input 
                  type="text"
                  name="address[last_name]"
                  id="AddressLastName_{{ form.id }}"
                  value="{{ form.last_name }}"
                />

                <label for="AddressCompany_{{ form.id }}">Company</label>
                <input 
                  type="text"
                  name="address[company]"
                  id="AddressCompany_{{ form.id }}"
                  value="{{ form.company }}"
                />

                <label for="AddressAddress1_{{ form.id }}">Address 1</label>
                <input 
                  type="text"
                  name="address[address1]"
                  id="AddressAddress1_{{ form.id }}"
                  value="{{ form.address1 }}"
                />

                <label for="AddressAddress2_{{ form.id }}">Address 2</label>
                <input 
                  type="text"
                  name="address[address2]"
                  id="AddressAddress2_{{ form.id }}"
                  value="{{ form.address2 }}"
                />

                <label for="AddressCity_{{ form.id }}">City</label>
                <input 
                  type="text"
                  name="address[city]"
                  id="AddressCity_{{ form.id }}"
                  value="{{ form.city }}"
                />

                <label for="AddressCountry_{{ form.id }}">Country</label>
                <div class="form_select_container">
                  <select
                    name="address[country]"
                    id="AddressCountry_{{ form.id }}"
                    class="address-country-option"
                    data-form-id="{{ form.id }}"
                    data-default="{{ form.country }}">
                    {{ country_option_tags }}
                  </select>
                  <i class="fal fa-angle-down"></i>
                </div>

                <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                  <label for="AddressProvince_{{ form.id }}">Province</label>
                  <div class="form_select_container">
                    <select
                      name="address[province]"
                      id="AddressProvince_{{ form.id }}"
                      data-default="{{ form.province }}">
                    </select>
                    <i class="fal fa-angle-down"></i>
                  </div>
                </div>

                <label for="AddressZip_{{ form.id }}">Postal/Zip Code</label>
                <input 
                  type="text"
                  name="address[zip]"
                  id="AddressZip_{{ form.id }}"
                  value="{{ form.zip }}"
                />

                <label for="AddressPhone_{{ form.id }}">Phone</label>
                <input 
                  type="tel"
                  name="address[phone]"
                  id="AddressPhone_{{ form.id }}"
                  value="{{ form.phone }}"
                  pattern="[0-9\-]*"
                />

                <div class="form_checkbox_container">
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_{{ form.id }}">Set as default address</label>
                </div>

                <input type="submit" class="btn primary" value="Update Address">
                <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">Cancel</button>

              {% endform %}

            </div>

          {% endfor %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}

        {% endpaginate %}

      </div>

    </div>

  </div>

</div>