<div class="panel">

	<div class="small_container">

		<header class="page_header">
			<h1>Login</h1>
		</header>

        {% comment %}
            Password Reset Success Message.
            Shown to indicate an email has successfully been sent for the user to reset their password.
            Showing this message is controlled using js in section_switcher.js.
        {% endcomment %}

        <div class="notification_banner valid hide" id="reset_success_message">
            <p>We've sent you an email with a link to update your password.</p>
            <div class="circular_icon valid">
                <i class="fas fa-check"></i>
            </div>
        </div>

        {% comment %}
            Main customer log in. Including log in form, forgot password toggle link and button that links to create account page.
        {% endcomment %}

        <div id="customer_login_form" class="switchable_section">

            {% form 'customer_login' %}

                <div class="form_container">
                    
                    {% if form.errors %}
                        <div class="notification_banner invalid wysiwyg">
                            {% for field in form.errors %}
                                {% if field == 'form' %}
                                <p>{{ form.errors.messages[field] }}</p>
                                {% else %}
                                <p>{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</p>
                                {% endif %}
                            {% endfor %}
                            <div class="circular_icon invalid">
                                <i class="fas fa-exclamation"></i>
                            </div>
                        </div>
                    {% endif %}

                    <label for="customer_email">Email*</label>
                    <input 
                        required type="email" 
                        value="" 
                        autofocus
                        tabindex="1"
                        name="customer[email]" 
                        id="customer_email" 
                        class="{% if form.errors contains 'email' %}error{% endif %}"
                        spellcheck="false"
                        autocapitalize="off"
                        autofocus
                    />
                    
                    <div class="form_label_header">
                        <label for="customer_password">Password*</label>
                        <p><a href="#" class="section_switcher" data-section-to-show="recover_password_form">Forgot your password?</a></p>
                    </div>
                    <input 
                        type="password"
                        tabindex="2"
                        name="customer[password]"
                        id="customer_password"
                        class="{% if form.errors contains 'password' %}error{% endif %}"
                    />
                    
                    <div class="form_submit_footer">
                        <input 
                            type="submit" 
                            class="btn primary" 
                            value="Sign In" 
                            tabindex="3"
                        />
                        <p>New Customer? <a class="underline_link" href="/account/register">Sign Up</a></p>
                    </div>

                </div>

            {% endform %}

        </div>

        {% comment %}
        Recover Password
        {% endcomment %}

        <div id="recover_password_form" class="switchable_section" style="display: none">

            <div class="header_with_subtitle">
                <h2>Reset Password</h2>
                <p>We will send you an email to reset your password.</p>
            </div>

            {% form 'recover_customer_password' %}

                {% comment %}
                    Hidden password success element. Our js checks if this element is displayed.
                    If so then we show the reset password success message at the top of the page.
                {% endcomment %}

                {% if form.posted_successfully? %}
                    <span class="hide reset_password_success"></span>
                {% endif %}

                <div class="form_container">

                   {% if form.errors %}
                        <div class="notification_banner invalid wysiwyg">
                        {% for field in form.errors %}
                            {% if field == 'form' %}
                            <p>{{ form.errors.messages[field] }}</p>
                            {% else %}
                            <p>{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</p>
                            {% endif %}
                        {% endfor %}
                        <div class="circular_icon invalid">
                            <i class="fas fa-exclamation"></i>
                        </div>
                        </div>
                    {% endif %}

                    <label for="email">Email*</label>
                    <input required type="email" value="" name="email" id="recover-email" />

                    <div class="form_submit_footer">
                        <input type="submit" class="btn primary" value="Submit">
                        <p><a href="#" class="section_switcher" data-section-to-show="customer_login_form">Cancel</a></p>
                    </div>

                </div>

            {% endform %}

        </div>

        {% comment %}
        Guest Checkout
        Only displayed when a user arrives at the login page via the checkout screen.
        {% endcomment %}

        {% if shop.checkout.guest_login %}

            {% form 'guest_login' %}
                <div class="header_with_subtitle">
                    <h2>Continue With Purchase</h2>
                    <p>Checkout as a guest. You may create an account later if you wish.</p>
                </div>
                <button class="underline_link" type="submit">Continue <i class="fas fa-angle-right"></i></a>
            {% endform %}

        {% endif %}

    </div>

</div>