<div class="container">
  <span class="page_header_label">My Account Portal</span>
</div>

<div class="panel">
	<div class="container">

        <!-- Mobile Navigation -->

        <div class="show_on_tablet_landscape mobile_account_navigation_container">
            <h2>{{ customer.name }}</h2>
            <div class="form_select_container">
                <select onchange="location = this.value;">
                    <option value="/account" selected>Account</option>
                    <option value="/account/addresses">Addresses</option>
                    {% if customer.metafields.subscriptions.customer_string %}
                        <option value="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</option>
                    {% endif %}
                    <option value="/account/logout">Sign Out</option>
                </select>
                <i class="fal fa-angle-down"></i>
            </div>
        </div>

        <div class="row">

            <!-- Sidebar -->

            <div class="column_1_4">

                <div class="hide_on_tablet_landscape">

                    <h2>{{ customer.name }}</h2>
                    <ul class="account_navigation">
                        <li><a href="/account" class="active">Account</a></li>
                        <li><a href="/account/addresses">Addresses</a></li>
                        {% if customer.metafields.subscriptions.customer_string %}
                            <li><a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</a></li>
                        {% endif %}
                    </ul>

                    <a class="btn primary" href="/account/logout">Sign Out</a>
                
                </div>

            </div>

			<div class="column_3_4">

                <h1>Order {{ order.name }} - {{ order.created_at | date: "%B %d, %Y" }}</h1>

                <!-- Mobile Order Details -->

                <div class="show_on_tablet">
                    {%- for line_item in order.line_items -%}
                        <div class="cart_item_details cream_card">
                            <a href="{{ line_item.url | within: collections.all }}" class="product_image">
                                <img src="{{ line_item.product.featured_image | img_url: '240x240' }}" alt="{{ line_item.title | escape }}" />
                            </a>
                            <div class="product_info">
                                <p>{{ line_item.product.title }}</p>
                                <p><b>Size:</b> {{ line_item.variant.title }}</p>
                                {% if line_item.sku != blank %}
                                    <p><b>SKU:</b> {{ line_item.sku }}</p>
                                {% endif %}
                                <p><b>Quantity:</b> {{ line_item.quantity }}</p>
                                <p><b>Price:</b> {{ line_item.quantity | times: line_item.price | money }}</p>
                                {% if line_item.fulfillment %}
                                    <p>
                                        <b>Shipped:</b> {{ line_item.fulfillment.created_at | date: "%b %d" }}
                                        {% if line_item.fulfillment.tracking_number %}
                                            <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {%- endfor -%}
                </div>

                <!-- Shipping and Address Details -->

                <div class="row">

                    <div class="column_1_2">

                        <h2>Shipped To</h2>
                        <p>{{ order.shipping_address | format_address }}</p>

                        <h2>Shipping Method</h2>
                        <p>Shipment Status: {{ order.fulfillment_status_label }}</p>

                    </div>

                    <div class="column_1_2">

                        <h2>Payment Status</h2>
                        <p>{{ order.financial_status_label }}</p>

                        <h2>Billing Address</h2>
                        <p>{{ order.billing_address | format_address }}</p>

                    </div>

                </div>

                <!-- Order Details Table -->

                <div class="hide_on_tablet">
                    <div class="table">
                        <div class="table_row table_header">
                            <div class="table_cell left fourty">Item</div>
                            <div class="table_cell twenty">Unit Price</div>
                            <div class="table_cell twenty">Quantity</div>
                            <div class="table_cell right twenty">Subtotal</div>
                        </div>
                        {% for line_item in order.line_items %}
                            <div class="table_row">
                                <div class="table_cell left fourty cart_item_details">
                                    <a href="{{ line_item.url | within: collections.all }}" class="product_image">
                                        <img src="{{ line_item | img_url: '240x240' }}" alt="{{ line_item.title | escape }}" />
                                    </a>
                                    <div class="product_info">
                                        <p>{{ line_item.product.title }}</p>
                                        {% unless line_item.product.handle == 'donation' %}
                                            <p><b>Size:</b> {{ line_item.variant.title }}</p>
                                        {% endunless %}
                                        {% if line_item.fulfillment %}
                                            <p>
                                            <b>Shipped:</b> {{ line_item.fulfillment.created_at | date: "%b %d" }}
                                            {% if line_item.fulfillment.tracking_number %}
                                                <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                            {% endif %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="table_cell twenty">{{ line_item.price | money }}</div>
                                <div class="table_cell twenty">{{ line_item.quantity }}</div>
                                <div class="table_cell right twenty">{{ line_item.quantity | times: line_item.price | money }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Order Calculations -->

                <div class="order_calculations">

                    <div class="order_calculation_line">

                    <div class="order_calculation_title">
                        <h2>Subtotal:</h2>
                    </div>

                    <div class="order_calculation_price">
                        {% comment %}
                            If order has discounts then show the subtotal price without those discounts already taken out.
                        {% endcomment %}
                        {% if order.discounts %}
                            {% assign subtotal_without_discounts = order.subtotal_price %}
                            {% for discount in order.discounts %}
                                {% capture subtotal_without_discounts %}{{ subtotal_without_discounts | plus: discount.amount }}{% endcapture %}
                            {% endfor %}
                            <h2>{{ subtotal_without_discounts | money }}</h2>
                        {% comment %}
                            Else show the regular subtotal price.
                        {% endcomment %}
                        {% else %}
                            <h2>{{ order.subtotal_price | money }}</h2>
                        {% endif %}
                    </div>

                    </div>

                    {% for discount in order.discounts %}
                        <div class="order_calculation_line">
                            <div class="order_calculation_title">
                                <h2>Discount ({{ discount.code }}):</h2>
                            </div>
                            <div class="order_calculation_price">
                                <h2>-{{ discount.amount | money }}</h2>
                            </div>
                        </div>
                    {% endfor %}

                    {% for shipping_method in order.shipping_methods %}
                        <div class="order_calculation_line">
                            <div class="order_calculation_title">
                                <h2>Shipping ({{ shipping_method.title }}):</h2>
                            </div>
                            <div class="order_calculation_price">
                                <h2>{{ shipping_method.price | money }}</h2>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="order_calculation_line">
                        <div class="order_calculation_title">
                            <h2>Total Before Tax:</h2>
                        </div>
                        <div class="order_calculation_price">
                            <h2>{{ order.subtotal_price | plus: order.shipping_price | money }}</h2>
                        </div>
                    </div>  

                    {% for tax_line in order.tax_lines %}
                        <div class="order_calculation_line">
                            <div class="order_calculation_title">
                                <h2>Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</h2>
                            </div>
                            <div class="order_calculation_price">
                                <h2>{{ tax_line.price | money }}</h2>
                            </div>
                        </div>
                    {% endfor %} 

                    <div class="order_calculation_line">
                        <div class="order_calculation_title">
                            <h2>Order Total:</h2>
                        </div>
                        <div class="order_calculation_price">
                            <h2>{{ order.total_price | money }}</h2>
                        </div>
                    </div>     

                </div>
                
            </div>

        </div>
  
    </div>

</div>