<div class="panel">

	<div class="small_container">

		<header class="page_header">
			<h1>Register</h1>
		</header>

    {% comment %}
    Create customer form.
    {% endcomment %}

    {% form 'create_customer' %}

      {% if form.errors %}
        <div class="notification_banner invalid wysiwyg">
          {% for field in form.errors %}
            {% if field == 'form' %}
              <p>{{ form.errors.messages[field] }}</p>
            {% else %}
              <p>{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</p>
            {% endif %}
          {% endfor %}
          <div class="circular_icon invalid">
            <i class="fas fa-exclamation"></i>
          </div>
        </div>
      {% endif %}

      <label for="first_name">First Name*</label>
      <input 
        name="customer[first_name]"
        id="first_name"
        autofocus
      />

      <label for="last_name">Last Name*</label>
      <input 
        name="customer[last_name]"
        id="last_name"
      />

      <label for="customer_email">Email*</label>
      <input 
          required 
          type="email" 
          value="" 
          name="customer[email]" 
          id="customer_email" 
          class="{% if form.errors contains 'email' %}error{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"
      />

      <label for="password">Password*</label>
      <input 
        type="password"
        name="customer[password]"
        id="password"
        class="{% if form.errors contains 'password' %}error{% endif %}"
      />

      <div class="form_submit_footer">
        <input type="submit" class="btn primary" value="Register">
        <p>Returning Customer? <a class="underline_link" href="/account">Sign In</a></p>
      </div>

    {% endform %}

  </div>

</div>
