<div class="panel">

	<div class="small_container">

		<header class="page_header">
			<h1>Reset account password</h1>
		</header>

    <div class="form-reset-password">

      {% form 'reset_customer_password' %}

        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {% if form.errors %}
          <div class="notification_banner invalid wysiwyg">
            {% for field in form.errors %}
                {% if field == 'form' %}
                  <p>{{ form.errors.messages[field] }}</p>
                {% else %}
                  <p>{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}</p>
                {% endif %}
            {% endfor %}
            <div class="circular_icon invalid">
                <i class="fas fa-exclamation"></i>
            </div>
          </div>
        {% endif %}

        <label for="reset_password">Reset Password</label>
        <input 
          type="password"
          name="customer[password]"
          id="reset_password"
          class="{% if form.errors contains 'password' %}error{% endif %}"
        />

        <label for="password_confirmation">Password Confirmation</label>
        <input 
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          class="{% if form.errors contains 'password_confirmation' %}error{% endif %}"
        />

        <input type="submit" class="btn primary" value="Reset Password">

      {% endform %}

    </div>

  </div>

</div>
