<!doctype html>

<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">

  <head>

    <!-- Meta -->
    
	  <meta name="google-site-verification" content="TTGsK8C2xUaWcmd-XiDQaaLKEs_4UiAXO4u6dYOvYYs" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_img_url }}" type="image/png">
    
    <!-- Header Tracking Scripts -->
    
    {% include 'tracking-header' %}
    
    <!-- Meta -->
    
    {% include 'meta-seo' %}

    {% include 'meta-social' %}

    <script>

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
    </script>

    {{ content_for_header }}

    <!-- Styles -->

    {{ 'plugin_styles.min.css' | asset_url | stylesheet_tag }}
    {{ 'custom_styles.min.css' | asset_url | stylesheet_tag }}
       
    <script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>  

</head>
  
  {% include 'helper-page_checker' %}
  
  <body 
  id="{{ page_title | handle }}" 
  class="template-{{ template.name | handle }}"
  data-page-name="{{ pageName }}"
  data-customer-id="{{ customer.id }}"
  data-product-id="{{ product.id }}"
  data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-product-cat="{{ product.collections[0].title }}"
  data-product-price="{{ product.price | money_without_currency }}">
  
    {% include 'tracking-opening_body' %}

    {% section 'header-main' %}

    {% section 'header-mobile' %}

    <main role="main" class="main_content">
      {{ content_for_layout }}
    </main>

    {% include 'component-checkout_bar' %}

    {% include 'modal-video' %}

    {% section 'footer' %}

    <!-- Jquery -->

    {{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}

    <!-- Shopify Scripts -->

    {% if template.directory == 'customers' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {% endif %}

    <!-- Slate Theme Helper Scripts -->

    {% comment %} Contains a lot of the neccesary Shopify helper scripts for selecting variants and functions in the customer area. {% endcomment %}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    <!-- Scripts -->

    {{ 'https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch,Array.prototype.find,Array.prototype.findIndex,Array.prototype.includes,Object.entries,Element.prototype.closest' | script_tag }}
  
    {{ 'plugin_scripts.min.js' | asset_url | script_tag }}
    
    {{ 'custom_scripts.min.js' | asset_url | script_tag }}
    
    <!-- Footer Tracking Scripts -->
    
    {% include 'tracking-footer' %}

    <!-- ReCharge Subscription -->

    {% include 'subscription-theme-footer' %}

  </body>

</html>
