{% comment %}

Comparison Chart
---

Hero that includes and email sign up form.

{% endcomment %}

{% if section.settings.visible == true %}

  <section class="comparison-chart__panel" style="background-color: {{ section.settings.background_color }}">
    
    {% comment %} Coffee Beans {% endcomment %}

    <img src="{{ 'coffee_beans_left_side.png' | asset_img_url: '1000x' }}" class="comparison-chart-coffee comparison-chart-coffee--left" />
    <img src="{{ 'coffee_beans_right_side.png' | asset_img_url: '1000x' }}" class="comparison-chart-coffee comparison-chart-coffee--right" />

    <div class="container">
      <div class="comparison-chart-header">
        <div class="comparison-chart-header__image"> 
          <img src="{{ section.settings.header_text_image | img_url: '1000x' }}" />
        </div>
        <div class="comparison-chart-header__cta">
          <span class="comparison-chart-header__cta-title">{{ section.settings.header_email_text }}</span>
          {% if section.settings.show_cta %}
            {% if section.settings.cta_type == 'email' %}
              {% assign email_button_text = section.settings.email_button_text %}
              {% include 'form-klaviyo', list_id: 'J2Zm6m', submit_text: email_button_text %}
            {% else %}
              <a class="btn primary full_width dcm-event-tracker" data-type="coupon" data-label="{{ section.settings.cta_button_label }}" href="{{ section.settings.cta_button_link }}" {% if section.settings.cta_button_new_window %}target="_blank"{% endif %}>{{ section.settings.cta_button_text }}</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="down-arrow-btn smooth_scroll" data-target="comparison-chart">
      <p class="down-arrow-btn__title">{{ section.settings.header_arrow_text }}</p>
      <img src="{{ 'arrow-down-red.png' | asset_img_url }}" class="down-arrow-btn__arrow" />
    </div>

    {% comment %} Chart Images {% endcomment %}

    <div id="comparison-chart">

      {% comment %} Desktop {% endcomment %}

      <div class="hide_on_tablet">
        <div class="large_container">
          <div class="comparison-chart__desktop-image" style="transform: translateX({{ section.settings.desktop_image_horizontal_position }}px)">
            <img src="{{ section.settings.desktop_image | img_url: '2000x' }}" />
          </div>
        </div>
        <img src="{{ 'sunburst-bottom-left.png' | asset_img_url: '2000x' }}" class="comparison-chart__sunburst"/>
      </div>

      {% comment %} Mobile {% endcomment %}

      <div class="show_on_tablet">
        <div class="large_container">
          <ul class="tabs">
            <li>{{ section.settings.mobile_image_title_1 }}</li>
            <li>{{ section.settings.mobile_image_title_2 }}</li>
          </ul>
          <div class="flexslider tabbed-slider">
            <ul class="slides">
              <li>
                <img src="{{ section.settings.mobile_image_1 | img_url: '1000x' }}" />
              </li>
              <li>
                <img src="{{ section.settings.mobile_image_2 | img_url: '1000x' }}" />
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </section>

  <div class="show_on_tablet">
    <div class="panel">
      <div class="container">
        <span class="comparison-chart-header__cta-title align_center">{{ section.settings.header_email_text }}</span>
        {% if section.settings.show_cta %}
          {% if section.settings.cta_type == 'email' %}
            {% include 'form-klaviyo', list_id: 'J2Zm6m', submit_text: 'Get 1 Free' form_container_class: 'email-signup-form--centered' %}
          {% else %}
            <a class="btn primary full_width dcm-event-tracker" data-type="coupon" data-label="{{ section.settings.cta_button_label }}" href="{{ section.settings.cta_button_link }}" {% if section.settings.cta_button_new_window %}target="_blank"{% endif %}>{{ section.settings.cta_button_text }}</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

{% endif %}
        
{% schema %}
  {
    "name": "Comparison Chart",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#F1EBDE"
      },
      {
        "type": "image_picker",
        "id": "header_text_image",
        "label": "Header Text Image"
      },
      {
        "type": "textarea",
        "id": "header_email_text",
        "label": "Header Email Text"
      },
      {
        "type": "text",
        "id": "header_arrow_text",
        "label": "Header Arrow Text"
      },
      {
        "type": "header",
        "content": "Call To Action"
      },
      {
        "type":      "checkbox",
        "id":        "show_cta",
        "label":     "Show/Hide",
        "default":   true
      },
      {
        "type": "select",
        "id": "cta_type",
        "options": [
            { "value": "email", "label": "Email Form"},
            { "value": "button", "label": "Button"}
        ],
        "label": "Call To Action"
      },
      {
        "type": "text",
        "id": "email_button_text",
        "label": "Email Button Text"
      },
      {
        "type": "text",
        "id": "cta_button_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "cta_button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "cta_button_label",
        "label": "Button Label",
        "info": "Hidden label used for tracking purposes"
      },
      {
        "type": "checkbox",
        "id": "cta_button_new_window",
        "default": false,
        "label": "Link to a new window."
      },
      {
        "type": "header",
        "content": "Desktop Chart Image"
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Image (2000px width)"
      },
      {
        "type": "text",
        "id": "desktop_image_horizontal_position",
        "label": "Horizontal Position",
        "info": "Enter the units (px) for the horizonal offset of the image."
      },
      {
        "type": "header",
        "content": "Mobile Chart Image #1"
      },
      {
        "type": "text",
        "id": "mobile_image_title_1",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "mobile_image_1",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Mobile Chart Image #2"
      },
      {
        "type": "text",
        "id": "mobile_image_title_2",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "mobile_image_2",
        "label": "Image"
      }
    ]
  }
{% endschema %}