{% comment %}

Email Sign Up Hero
---

Hero that includes and email sign up form.

{% endcomment %}

{% if section.settings.visible == true %}
  <section class="hero-a">
    <img src="{{ section.settings.desktop_image | img_url: '2000x' }}" class="hero-a__desktop-image"/>
    <div class="hero-a__content-container">
      <div class="hero-a__content">
        <span class="hero-a__main-title">More Caffeine</span>
        <span class="hero-a__secondary-title">Organic Ingredients</span>
        <span class="hero-a__sub-title">Get your first FORTO coffee shot <span class="text_red">FREE!</span></span>
        {% include 'form-klaviyo', list_id: 'J2Zm6m', submit_text: 'Get 1 Free' %}
      </div>
    </div>
    <img src="{{ section.settings.mobile_image | img_url: '2000x' }}" class="hero-a__mobile-image"/>
  </section>
{% endif %}
        
{% schema %}
  {
    "name": "Email Sign Up Hero",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image (2000px width)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "secondary_title",
        "label": "Secondary Title"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title"
      }
    ]
  }
{% endschema %}