{% comment %}

FAQ's
---

List of questions and answers w/ smooth scroll to the answer.

{% endcomment %}

{% comment %} 
List of questions 
{% endcomment %}

<ul class="extra_spacing">
  {% for block in section.blocks %}
    {% if block.type == 'header' %}
      <h2>{{ block.settings.header_title }}</h2>
    {% elsif block.type == 'faq' %}
      <li><a href="#" class="smooth_scroll" data-target="faq_{{ forloop.index }}">{{ block.settings.question }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% comment %} 
Full questions and answers
{% endcomment %}

<div class="panel">
  {% for block in section.blocks %}
    {% if block.type == 'header' %}
      <h2 class="text_gold" id="{{ block.settings.header_title | handleize }}">{{ block.settings.header_title }}</h2>
    {% elsif block.type == 'faq' %}
      <div class="standard_card" id="faq_{{ forloop.index }}">
        <p class="header"><b>{{ block.settings.question }}</b></p>
        <p>{{ block.settings.answer }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "FAQ's",
    "blocks": [
      {
        "type": "header",
        "name": "Header",
        "settings": [
          {
            "type": "text",
            "id": "header_title",
            "label": "Title"
          }
        ]
      },
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}