<footer class="main_footer">

  <div class="container">

    <!-- Footer Top -->

    <div class="footer_top">

      <div class="row">

        <div class="column_1_5">
          <p class="footer_menu_header">{{ linklists.footer-column-1.title }}</p>
          <ul class="footer_menu_items">
            {% for link in linklists.footer-column-1.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="column_1_5">
          <p class="footer_menu_header">{{ linklists.footer-column-2.title }}</p>
          <ul class="footer_menu_items">
            {% for link in linklists.footer-column-2.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="column_1_5">
          <p class="footer_menu_header">{{ linklists.footer-column-3.title }}</p>
          <ul class="footer_menu_items">
            {% for link in linklists.footer-column-3.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="column_2_5">
          
          <p class="footer_menu_header">Deals and Latest News</p>
          
          <!-- Email Signup HTML -->
          
          {% include 'form-klaviyo', list_id: 'JWNJBX', submit_text: 'Save 10%' %}
            
          <div class="footer_social_container">
            <ul class="social_icons flush_left">
              {% if section.settings.social_facebook_link != blank %}
                <li><a href="{{ section.settings.social_facebook_link }}" target="_blank"><i class="fab fa-facebook-f fa-sm"></i></a></li>
              {% endif %}
              {% if section.settings.social_twitter_link != blank %}
                <li><a href="{{ section.settings.social_twitter_link }}" target="_blank"><i class="fab fa-twitter fa-sm"></i></a></li>
              {% endif %}
              {% if section.settings.social_instagram_link != blank %}
                <li><a href="{{ section.settings.social_instagram_link }}" target="_blank"><i class="fab fa-instagram fa-sm"></i></a></li>
              {% endif %}
            </ul>
            <p class="text_gold">{{ section.settings.social_handle }}</p>
          </div>
        </div>
      
      </div>

    </div>

    <!-- Footer Bottom -->

    <div class="footer_bottom">
      
      <ul class="payment_icons">
        <li><img src="{{ 'amazon.png' | asset_img_url: 'original' }}" /></li>
        <li><img src="{{ 'apple.png' | asset_img_url: 'original' }}" /></li>
        <li><img src="{{ 'amex.png' | asset_img_url: 'original' }}" /></li>
        <li><img src="{{ 'visa.png' | asset_img_url: 'original' }}" /></li>
        <li><img src="{{ 'mastercard.png' | asset_img_url: 'original' }}" /></li>
        <li><img src="{{ 'discover.png' | asset_img_url: 'original' }}" /></li>
      </ul>
      
      <ul class="footer_bottom_menu">
        {% for link in linklists.footer.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li>{{ section.settings.telephone }}</li>
        <li>{{ section.settings.copyright }}</li>
      </ul>
      
    </div>

    <p class="copyright">{{ section.settings.footer_copyright }}</p>

  </div>

</footer>

{% schema %}

  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "telephone",
        "label": "Telephone"
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright"
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "text",
        "id": "social_handle",
        "label": "Social Handle"
      },
      {
        "type": "text",
        "id": "social_facebook_link",
        "label": "Facebook Link"
      },
      {
        "type": "text",
        "id": "social_twitter_link",
        "label": "Twitter Link"
      },
      {
        "type": "text",
        "id": "social_instagram_link",
        "label": "Instagram Link"
      }
    ]
  }

{% endschema %}
