{% comment %}

Full Width Slider
---

Full width image slider with desktop and mobile images.

{% endcomment %}

{% if section.settings.show_component %}

    <!-- Slides -->

    <div class="flexslider full_width_slider">
        <ul class="slides">
            {% for block in section.blocks %}
                <li>
                    <a href="{{ block.settings.link }}">
                        <img 
                            src="{{ block.settings.desktop_image | img_url: 'original' }}" 
                            srcset="{{ block.settings.desktop_image | img_url: '1000x' }} 1000w, {{ block.settings.desktop_image | img_url: '2000x' }} 2000w" 
                            sizes="100vw" 
                            class="image_full"
                            alt="{{ block.settings.alt }}"
                        />
                        <img 
                            src="{{ block.settings.mobile_image | img_url: 'original' }}" 
                            srcset="{{ block.settings.mobile_image | img_url: '1000x' }} 300w" 
                            sizes="100vw" 
                            class="image_mobile"
                            alt="{{ block.settings.alt }}"
                        />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}

{% schema %}
  {
    "name": "Full Width Slider",
    "settings": [
      {
        "type": "paragraph",
        "content": "Each slide has a desktop and mobile image. The only size restriction is that each image should have a minimum width. It's highly recommended that each image in each set (desktop or mobile) have the same proportions."
      },
      {
        "type": "checkbox",
        "id": "show_component",
        "label": "Show Component?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image (2000px width)"
      	  },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image (1000px width)"
      	  },
          {    
            "type": "text",
            "id": "link",
            "label": "Link"
      	  },
          {    
            "type": "text",
            "id": "alt",
            "label": "Alt Text"
      	  }
        ]
      }
    ],
    "presets": [
      {
        "name": "Full Width Slider",
        "category": "Components"
      }
    ]
  }
{% endschema %}