{% comment %}

Full Width Hero
---

Full width page hero. Includes option for mobile image to display.

{% endcomment %}

{% if section.settings.visible == true %}
    <header class="full_width_hero">
      {% if section.settings.link != blank %}
        <a href="{{ section.settings.link }}" {% if section.settings.new_window %}target="_blank"{% endif %}>
      {% endif %}
        {% if section.settings.mobile_image != blank %}
          <div class="hide_on_mobile">
            <img src="{{ section.settings.desktop_image | img_url: '2000x' }}" />
          </div>
          <div class="show_on_mobile">
            <img src="{{ section.settings.mobile_image | img_url: '1000x' }}" />
          </div>
        {% else %}
          <img src="{{ section.settings.desktop_image | img_url: '2000x' }}" />
        {% endif %}
      {% if section.settings.link != blank %}
        </a>
      {% endif %}
    </header>
{% endif %}
        
{% schema %}
  {
    "name": "Full Width Hero",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image (2000px width)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image (Optional)"
      },
      {
        "type": "text",
        "id": "link",
        "label": "Link (Optional)"
      },
      {
        "type": "checkbox",
        "id": "new_window",
        "default": false,
        "label": "Link to a new window."
      }
    ]
  }
{% endschema %}