{% if section.settings.show_notification_bar %}
  <div class="header_notification_bar">
      <div class="container">
          <div class="header_notification_bar_content">
            <div class="wysiwyg">
              <p>{{ section.settings.text }}</p>
            </div>
            {% if section.settings.logo != blank %}
              <img src="{{ section.settings.logo | img_url: '300x' }}" />
            {% endif %}
          </div>
      </div>
  </div>
{% endif %}

{% schema %}

  {
    "name": "Notification Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_notification_bar",
        "label": "Show Notification Bar?",
        "default": false
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo (Optional)"
      }
    ]
  }

{% endschema %}
