<header class="mobile_header">

  <div class="mobile_header_top">
    <p>{{ section.settings.header_top_text }}</p>
  </div>

  <div class="mobile_header_bottom">

    <div class="container">

      <!-- Header Left -->

      <div class="mobile_header_left">

        <div class="logo">
          <a href="/">
            <img src="{{ settings.logo | img_url: 'grande' }}" />
          </a>
        </div>

      </div>

      <!-- Header Right -->

      <div class="mobile_header_right">

        <ul class="header_menu_items">
            <li class="cart_icon">
                <a href="/cart">
                <i class="fal fa-shopping-cart"></i>
                <div class="cart_count_container">
                    {% if cart.item_count > 0 %}
                        <span class="cart_count">{{ cart.item_count }}</span>
                    {% endif %}
                </div>
                </a>
            </li>
            <li><a href="/pages/all-products">Shop</a></li>
            <li class="menu_icon_container">
                <span class="menu_icon"></span>
            </li>
        </ul>

      </div>

    </div>
  
  </div>

  <ul class="mobile_navigation">
  
    {% for block in section.blocks %}
      {% if block.type == 'primary_link' %}
        <li>
          <a href="{{ block.settings.link_url }}"{% if block.settings.new_window %}target="_blank"{% endif %}>
            {{ block.settings.link_title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    
    {% for block in section.blocks %}
      {% if block.type == 'icon_link' %}
        <li class="with_icon">
          <a href="{{ block.settings.link_url }}" {% if block.settings.new_window %}target="_blank"{% endif %}>
            <i class="{{ block.settings.fa_icon }}"></i>
            <span>{{ block.settings.link_title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  
  </ul>
  
</header>

{% schema %}
  {
    "name": "Mobile Header",
    "settings": [
      {
        "type": "header",
        "content": "Mobile Header Top"
      },
      {
        "type": "text",
        "id": "header_top_text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "primary_link",
        "name": "Primary Link",
        "settings": [
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title"
      	  },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
      	  },
          {
            "type": "checkbox",
            "id": "new_window",
            "default": false,
            "label": "Link to a new window."
          }
        ]
      },
      {
        "type": "icon_link",
        "name": "Icon Link",
        "settings": [
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title"
      	  },
          {
            "type": "text",
            "id": "fa_icon",
            "label": "Font Awesome Icon"
      	  },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
      	  },
          {
            "type": "checkbox",
            "id": "new_window",
            "default": false,
            "label": "Link to a new window."
          }
        ]
      }
    ]
  }
{% endschema %}