{% comment %}

Header Hero Section
---

Call to action text and button w/ area for image.

{% endcomment %}

<section class="header_hero {% if section.settings.media == 'video' %}break_early{% endif %} {{ section.settings.alignment }}">
  <div class="content">
    <div class="content_container">
      <h1>{{ section.settings.title }}</h1>
      {% unless section.settings.text == blank %}
        <p>{{ section.settings.text }}</p>
      {% endunless %}
      {% if section.settings.button_color != blank and section.settings.button_color != 'rgba(0,0,0,0)' %}
        <a class="btn primary titlecase" href="{{ section.settings.link }}" style="background-color: {{ section.settings.button_color }}" {% if section.settings.new_window %}target="_blank"{% endif %}>{{ section.settings.button_text }}</a>
      {% else %}
        <a class="btn primary titlecase" href="{{ section.settings.link }}" {% if section.settings.new_window %}target="_blank"{% endif %}>{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
  <div class="media">
    {% if section.settings.media == 'image' %}
      <div class="image" style="background-image: url('{{ section.settings.hero_image | img_url: '1000x' }}')"></div>
    {% else %}
      {{ section.settings.video_embed }}
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Header Hero",
    "settings": [
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "select",
        "id": "media",
        "options": [
          { "value": "image", "label": "Image"},
          { "value": "video", "label": "Video" }
        ],
        "label": "Media Type"
      },
      {
        "type": "select",
        "id": "alignment",
        "options": [
            { "value": "media_on_left", "label": "Media On Left"},
            { "value": "media_on_right", "label": "Media On Right" }
        ],
        "label": "Alignment"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
  	  },
      {
        "type": "html",
        "id": "video_embed",
        "label": "Video Embed"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color (Optional)",
        "info": "This will default to the themes primary button color."
      },
      {
        "type": "text",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "checkbox",
        "id": "new_window",
        "default": false,
        "label": "Link to a new window."
      }
    ],
    "presets": [
      {
        "name": "Header Hero",
    	  "category": "Components"
      }
    ]
  }
{% endschema %}