<header class="main_header">

    <div class="main_header_top">

      <div class="main_header_top_left">
        <a href="{{ section.settings.header_top_left_button_link }}" class="main_header_top_cta ga_event_tracker" data-ga-category="Link" data-ga-action="Shop" data-ga-label="Header Top Left">{{ section.settings.header_top_left_button_text }}</a>
      </div>

      <div class="main_header_top_right">
        <ul class="main_header_top_list">
          <li>{{ section.settings.header_top_right_text }}</li>
        </ul>
      </div>

    </div>

    <div class="main_header_bottom">

      <div class="container">

        <!-- Header Left -->

        <div class="main_header_bottom_left">

          <div class="logo">
            <a href="/">
              <img src="{{ settings.logo | img_url: 'grande' }}" />
            </a>
          </div>

          <ul class="header_menu_items">
            {% for block in section.blocks %}
              {% if block.type == 'primary_link' %}
                <li>
                  <a href="{{ block.settings.link_url }}" {% if block.settings.new_window %}target="_blank"{% endif %}>{{ block.settings.link_title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

        </div>

        <!-- Header Right -->

        <div class="main_header_bottom_right">

          <ul class="header_menu_items header_icons">
            {% for block in section.blocks %}
              {% if block.type == 'icon_link' %}
                <li>
                  <a href="{{ block.settings.link_url }}" data-balloon="{{ block.settings.link_title }}" data-balloon-pos="down" {% if block.settings.new_window %}target="_blank"{% endif %}>
                    <i class="{{ block.settings.fa_icon }}"></i>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="cart_icon">
              <a href="/cart">
                <i class="fal fa-shopping-cart"></i>
                <div class="cart_count_container">
                  {% if cart.item_count > 0 %}
                    <span class="cart_count">{{ cart.item_count }}</span>
                  {% endif %}
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>

    </div>

</header>

{% schema %}
  {
    "name": "Main Header",
    "settings": [
      {
        "type": "header",
        "content": "Main Header Top"
      },
      {
        "type": "text",
        "id": "header_top_left_button_text",
        "label": "Left Button Text"
      },
      {
        "type": "url",
        "id": "header_top_left_button_link",
        "label": "Left Button link"
      },
      {
        "type": "text",
        "id": "header_top_right_text",
        "label": "Right Text"
      }
    ],
    "blocks": [
      {
        "type": "primary_link",
        "name": "Primary Link",
        "settings": [
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title"
      	  },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
      	  },
          {
            "type": "checkbox",
            "id": "new_window",
            "default": false,
            "label": "Link to a new window."
          }
        ]
      },
      {
        "type": "icon_link",
        "name": "Icon Link",
        "settings": [
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title"
      	  },
          {
            "type": "text",
            "id": "fa_icon",
            "label": "Font Awesome Icon"
      	  },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
      	  },
          {
            "type": "checkbox",
            "id": "new_window",
            "default": false,
            "label": "Link to a new window."
          }
        ]
      }
    ]
  }
{% endschema %}