{% comment %}

Icon Group
---

Group of icons with descriptive text for each.

{% endcomment %}

{% if section.settings.show_component %}

    <section class="panel">
        
        <div class="container">
        
            {% if section.settings.title != blank %}
                <div class="section_header">
                    <h2 class="h1">{{ section.settings.title }}</h2>
                    {% if section.settings.subtitle != blank %}
                    <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                    {% endif %}
                </div>
            {% endif %}

            <!-- Icons -->

            <ul class="icon_group">
                {% for block in section.blocks %}
                    <li class="icon_group_container">
                        <img src="{{ block.settings.icon_image | img_url: 'grande' }}" />
                        <p>{{ block.settings.icon_text }}</p>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </section>

{% endif %}

{% schema %}
  {
    "name": "Icon Group",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_component",
        "label": "Show Component?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_image",
            "label": "Icon Image"
      	  },
      	  {
            "type": "text",
            "id": "icon_text",
            "label": "Icon Text"
      	  }
        ]
      }
    ]
  }
{% endschema %}