{% comment %}

Image Gallery
---

Grid of images to display.

{% endcomment %}

<section class="panel">

	<div class="container">

        {% if section.settings.title != blank %}
          <div class="section_header">
            <h2 class="h1">{{ section.settings.title }}</h2>
            {% if section.settings.subtitle != blank %}
              <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
            {% endif %}
          </div>
        {% endif %}

        <!-- Image Gallery -->

        <div class="row image_gallery">
            {% for block in section.blocks %}
                <div class="{{ section.settings.columns }}">
                    <div class="image_gallery_item" style="background-image: url({{ block.settings.image | img_url: 'grande' }})"></div>
                </div>
            {% endfor %}
        </div>

    </div>

</section>

{% schema %}
  {
    "name": "Image Gallery",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "select",
        "id": "columns",
        "options": [
            { "value": "column_1_3", "label": "3 Columns"},
            { "value": "column_1_4", "label": "4 Columns"},
            { "value": "column_1_5", "label": "5 Columns"}
        ],
        "label": "Columns"
      }
    ],
    "max_blocks": 10,
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Gallery",
        "category": "Components"
      }
    ]
  }
{% endschema %}