{% comment %}

Information Cards
---

Ability to add cards with icon, title and text.

{% endcomment %}

{% if section.settings.visible == true %}

  <section class="panel">
    <div class="container">
        
      {% if section.settings.title != blank %}
        <div class="section_header">
          <h2 class="h1">{{ section.settings.title }}</h2>
          {% if section.settings.subtitle != blank %}
            <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
          {% endif %}
        </div>
      {% endif %}

      <!-- Cards -->

      <div class="hide_on_tablet">
        <div class="row information_cards_container">
          {% for block in section.blocks %}
            <div class="column_1_3">
              <div class="information_card">
                <div class="icon">
                    <img src="{{ block.settings.icon | img_url: 'large' }}" />
                </div>
                <h2>{{ block.settings.title }}</h2>
                <p>{{ block.settings.text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Tabs -->

      <div class="show_on_tablet">
        <div class="tabs_container">
            <ul class="tab_items">
              {% for block in section.blocks %}
                <li data-title="tab_item_{{ forloop.index }}">{{ block.settings.title }}</li>
              {% endfor %}
            </ul>
            <div class="tab_content align_center">
              {% for block in section.blocks %}
                <div id="tab_item_{{ forloop.index }}">
                  <div class="icon">
                      <img src="{{ block.settings.icon | img_url: 'large' }}" />
                  </div>
                  <h2>{{ block.settings.title }}</h2>
                  {{ block.settings.text }}
                </div>
              {% endfor %}
            </div>
        </div>
      </div>

    </div>
  </section>
  
{% endif %}

{% schema %}
  {
    "name": "Information Cards",
    "max_blocks": 3,
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
      	  {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
      	  },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
      	  },
      	  {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  }
        ]
      }
    ]
  }
{% endschema %}