{% comment %}

Masonry Press Grid
---

{% endcomment %}

{% if section.settings.visible == true %}

{% assign usedImageBlocks = '' %}

{% assign usedPressBlocks = '' %}

  <section class="panel" id="buzz">

    <div class="large_container">

        <div class="masonry-press__set">
            <div class="masonry-press__column masonry-press__column--60">
                <div class="masonry-press__item">
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            {% unless usedImageBlocks contains block.id %}
                                <div class="masonry-press__image" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="masonry-press__column masonry-press__column--40 masonry-press__column--hide-tablet">
                <div class="masonry-press__item masonry-press__item--flex-grow">
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            {% unless usedImageBlocks contains block.id %}
                                <div class="masonry-press__image" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="masonry-press__set">
            <div class="masonry-press__column masonry-press__column--60">
                <div class="masonry-press__set">
                    <div class="masonry-press__column masonry-press__column--50">
                        <div class="masonry-press__item">
                            {% for block in section.blocks %}
                                {% if block.type == 'image' %}
                                    {% unless usedImageBlocks contains block.id %}
                                        <div class="masonry-press__image masonry-press__image--tall" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                        {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                        {% break %}
                                    {% endunless %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="masonry-press__column masonry-press__column--50">
                        <div class="masonry-press__item">
                            {% for block in section.blocks %}
                                {% if block.type == 'image' %}
                                    {% unless usedImageBlocks contains block.id %}
                                        <div class="masonry-press__image masonry-press__image--tall" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                        {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                        {% break %}
                                    {% endunless %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="masonry-press__item">
                    {% for block in section.blocks %}
                        {% if block.type == 'press' %}
                            {% unless usedPressBlocks contains block.id %}
                                <div class="masonry-press__block">
                                    <img class="masonry-press__block-logo" src="{{ block.settings.logo | img_url: 'grande' }}" />
                                    <p class="masonry-press__block-content">{{ block.settings.text }}</p>
                                </div>
                                {% capture usedPressBlocks %}{{ usedPressBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="masonry-press__column masonry-press__column--40">
                <div class="masonry-press__item masonry-press__item--higher-order-tablet">
                    {% for block in section.blocks %}
                        {% if block.type == 'press' %}
                            {% unless usedPressBlocks contains block.id %}
                                <div class="masonry-press__block">
                                    <img class="masonry-press__block-logo" src="{{ block.settings.logo | img_url: 'grande' }}" />
                                    <p class="masonry-press__block-content">{{ block.settings.text }}</p>
                                </div>
                                {% capture usedPressBlocks %}{{ usedPressBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="masonry-press__item masonry-press__item--flex-grow">
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            {% unless usedImageBlocks contains block.id %}
                                <div class="masonry-press__image" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="masonry-press__set">
            <div class="masonry-press__column masonry-press__column--60">
                <div class="masonry-press__item masonry-press__item--flex-grow">
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            {% unless usedImageBlocks contains block.id %}
                                <div class="masonry-press__image" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="masonry-press__column masonry-press__column--40">
                <div class="masonry-press__item masonry-press__item--flex-grow masonry-press__item--hide-tablet">
                    {% for block in section.blocks %}
                        {% if block.type == 'image' %}
                            {% unless usedImageBlocks contains block.id %}
                                <div class="masonry-press__image" style="background-image: url({{ block.settings.image | img_url: 'grande' }}); background-position: {{ block.settings.horizontal_focal_point }} {{ block.settings.vertical_focal_point }}"></div>
                                {% capture usedImageBlocks %}{{ usedImageBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="masonry-press__item">
                    {% for block in section.blocks %}
                        {% if block.type == 'press' %}
                            {% unless usedPressBlocks contains block.id %}
                                <div class="masonry-press__block">
                                    <img class="masonry-press__block-logo" src="{{ block.settings.logo | img_url: 'grande' }}" />
                                    <p class="masonry-press__block-content">{{ block.settings.text }}</p>
                                </div>
                                {% capture usedPressBlocks %}{{ usedPressBlocks }} {{ block.id }}{% endcapture %}
                                {% break %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

  </section>
  
{% endif %}

{% schema %}
  {
    "name": "Masonry Press Grid",
    "settings": [
      {
        "type": "checkbox",
        "id": "visible",
        "label": "Visible",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "limit": 8,
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "horizontal_focal_point",
                "options": [
                    { "value": "center", "label": "Center"},
                    { "value": "left", "label": "Left"},
                    { "value": "right", "label": "Right"}
                ],
                "label": "Horizontal Focal Point"
            },
            {
                "type": "select",
                "id": "vertical_focal_point",
                "options": [
                    { "value": "center", "label": "Center"},
                    { "value": "top", "label": "Top"},
                    { "value": "bottom", "label": "Bottom"}
                ],
                "label": "Vertical Focal Point"
            }
        ]
      },
      {
        "type": "press",
        "name": "Press",
        "limit": 3,
        "settings": [
         {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}