{% comment %}

Meet The Founder

{% endcomment %}

{% if section.settings.visible == true %}
  <section class="panel large meet-the-founder-panel">
    <div class="large_container">
      <div class="row">
        <div class="column_1_2">
          <img src="{{ section.settings.image | img_url: '1000x' }}" />
        </div>
        <div class="column_1_2">
          <h1 class="futura">{{ pages[section.settings.page].title }}</h1>
          {{ pages[section.settings.page].content }}
        </div>
      </div>
    </div>
  </section>
{% endif %}
        
{% schema %}
  {
    "name": "Meet The Founder",
    "settings": [
      {
        "type": "checkbox",
        "id": "visible",
        "label": "Visible",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "page",
        "id": "page",
        "label": "Page"
      }
    ]
  }
{% endschema %}