{% comment %}

Newsletter Signup
---

Simple newsletter component that includes a header, description text and a mailchimp form.

{% endcomment %}

<header>
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.text }}</p>
</header>

{% include 'form-klaviyo', list_id: 'JWNJBX', submit_text: 'Sign Up' %}

{% schema %}
  {
    "name": "Newsletter Signup",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}