{% comment %}

Newsletter
---

Panel with image and newsletter signup form.

{% endcomment %}

{% if section.settings.visible == true %}

  <section class="panel background_cream">
    <div class="container">
      <div class="horizontal_image_content_card">
          <div class="image" style="background-image: url('{{ section.settings.image | img_url: '800x' }}')"></div>
          <div class="content wysiwyg">
          
              <div class="top_content">
                <h2 class="h1">{{ section.settings.title }}</h2>
                <p>{{ section.settings.text }}</p>
              </div>
              
              {% include 'form-klaviyo', list_id: 'JWNJBX', submit_text: 'Save 10%' submit_class='full_width' %}
              
          </div>
      </div>
    </div>
  </section>

{% endif %}

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Show Newsletter",
        "default":   true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
  	  },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}