{% comment %}

Our Story Top
---

Same structure as photo text panels section but specific for 'Our Story'

{% endcomment %}

<section class="panel">
	<div class="container">
        {% if section.settings.title != blank %}
            <div class="section_header">
                <h2 class="h1">{{ section.settings.title }}</h2>
                {% if section.settings.subtitle != blank %}
                    <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="photo_text_panel_group">
            {% for block in section.blocks %}
                {% if block.settings.alignment == 'image_on_left' %}
                    <div class="row photo_text_panel">
                        <div class="column_3_5">
                            {% if block.type == 'photo_text_panel' %}
                                <img src="{{ block.settings.image | img_url: '' }}" />
                            {% else block.type == 'video_text_panel' %}
                                {{ block.settings.video_embed }}
                            {% endif %}
                        </div>
                        <div class="column_2_5">
                            {{ block.settings.text }}
                        </div>
                    </div>
                {% else %}
                    <div class="row photo_text_panel switch_order_tablet">
                        <div class="column_2_5">
                            {{ block.settings.text }}
                        </div>
                        <div class="column_3_5">
                            {% if block.type == 'photo_text_panel' %}
                                <img src="{{ block.settings.image | img_url: '' }}" />
                            {% else block.type == 'video_text_panel' %}
                                {{ block.settings.video_embed }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
	</div>
</section>

{% schema %}
  {
    "name": "Our Story Top",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "max_blocks": 2,
    "blocks": [
      {
        "type": "photo_text_panel",
        "name": "Photo Text Panel",
        "settings": [
          {
            "type": "select",
            "id": "alignment",
            "options": [
                { "value": "image_on_left", "label": "Image On Left"},
                { "value": "image_on_right", "label": "Image On Right" }
            ],
            "label": "Alignment"
          },
      	  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
      	  },
      	  {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  }
        ]
      },
      {
        "type": "video_text_panel",
        "name": "Video Text Panel",
        "settings": [
          {
            "type": "select",
            "id": "alignment",
            "options": [
                { "value": "image_on_left", "label": "Video On Left"},
                { "value": "image_on_right", "label": "Video On Right" }
            ],
            "label": "Alignment"
          },
      	  {
            "type": "html",
            "id": "video_embed",
            "label": "Video Embed"
      	  },
      	  {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  }
        ]
      }
    ]
  }
{% endschema %}