{% comment %}

Photo Text Cards
---

Group of cards with photo and text. Transforms to carousel on mobile.

{% endcomment %}

{% if section.settings.visible == true %}

  <section class="panel">

    <div class="container">

          {% if section.settings.title != blank %}
              <div class="section_header">
                <h2 class="h1">{{ section.settings.title }}</h2>
                {% if section.settings.subtitle != blank %}
                  <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                {% endif %}
              </div>
          {% endif %}

          <!-- Card Grouping (Desktop) -->

          <div class="hide_on_tablet_landscape">
              <div class="photo_text_cards">
                  {% for block in section.blocks %}
                      <div class="photo_text_card">
                          <div class="photo" style="background-image: url({{ block.settings.image | img_url: 'grande' }})"></div>
                          <div class="content">
                            <h2>{{ block.settings.title }}</h2>
                            <p class="wysiwyg">{{ block.settings.text }}</p>
                          </div>
                      </div>
                  {% endfor %}
              </div>
          </div>

    </div>

      <!-- Image Carousel (Mobile) -->

      <div class="show_on_tablet_landscape">
          <div class="slick_carousel center_mode">
              {% for block in section.blocks %}
                  <div class="slick_carousel_item">
                      <div class="image" style="background-image: url({{ block.settings.image | img_url: 'grande' }})"></div>
                      <h2 class="neutratextps_bold">{{ block.settings.title }}</h2>
                      <p>{{ block.settings.text }}</p>
                  </div>
              {% endfor %}
          </div>
      </div>

  </section>

{% endif %}

{% schema %}
  {
    "name": "Photo Text Cards",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}