{% comment %}

Photo Text Panels
---

Section of panels with photo and text elements.

{% endcomment %}

{% if section.settings.show_component %}

    <section class="panel">
        <div class="container">
            {% if section.settings.title != blank %}
                <div class="section_header with_border">
                    <h2 class="h1">{{ section.settings.title }}</h2>
                    <span class="border_line triangle_down dark_brown"></span>
                </div>
            {% endif %}
            <div class="photo_text_panel_group">
                {% for block in section.blocks %}
                    {% if block.settings.alignment == 'image_on_left' %}
                        <div class="row photo_text_panel">
                            <div class="column_3_5">
                                {% if block.type == 'photo_text_panel' %}
                                    <img src="{{ block.settings.image | img_url: '' }}" />
                                {% else block.type == 'video_text_panel' %}
                                    {{ block.settings.video_embed }}
                                {% endif %}
                            </div>
                            <div class="column_2_5 wysiwyg">
                                {{ block.settings.text }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row photo_text_panel switch_order_tablet">
                            <div class="column_2_5 wysiwyg">
                                {{ block.settings.text }}
                            </div>
                            <div class="column_3_5">
                                {% if block.type == 'photo_text_panel' %}
                                    <img src="{{ block.settings.image | img_url: '' }}" />
                                {% else block.type == 'video_text_panel' %}
                                    {{ block.settings.video_embed }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endif %}

{% schema %}
  {
    "name": "Photo Text Panels",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_component",
        "label": "Show Component?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title (Optional)"
      }
    ],
    "max_blocks": 6,
    "blocks": [
      {
        "type": "photo_text_panel",
        "name": "Photo Text Panel",
        "settings": [
          {
            "type": "select",
            "id": "alignment",
            "options": [
                { "value": "image_on_left", "label": "Image On Left"},
                { "value": "image_on_right", "label": "Image On Right" }
            ],
            "label": "Alignment"
          },
      	  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
      	  },
      	  {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  }
        ]
      },
      {
        "type": "video_text_panel",
        "name": "Video Text Panel",
        "settings": [
          {
            "type": "select",
            "id": "alignment",
            "options": [
                { "value": "image_on_left", "label": "Video On Left"},
                { "value": "image_on_right", "label": "Video On Right" }
            ],
            "label": "Alignment"
          },
      	  {
            "type": "html",
            "id": "video_embed",
            "label": "Video Embed"
      	  },
      	  {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  }
        ]
      }
    ],
    "presets": [
      {
        "name": "Photo Text Panels",
    	"category": "Components"
      }
    ]
  }
{% endschema %}