{% comment %}

Photo Carousel
---

Carousel of images that can have text and an icon on hover.

{% endcomment %}

{% if section.settings.show_component %}

    <section class="panel">
        
        <div class="container">
        
            {% if section.settings.title != blank %}
                <div class="section_header">
                    <h2 class="h1">{{ section.settings.title }}</h2>
                    {% if section.settings.subtitle != blank %}
                    <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                    {% endif %}
                </div>
            {% endif %}

            <!-- Icons -->

            <div class="slick_carousel photo_carousel">
              {% for block in section.blocks %}
                  <div class="slick_carousel_item">
                    <div class="image" style="background-image: url({{ block.settings.image | img_url: 'grande' }})"></div>
                    <div class="content_container">
                      <div class="content">
                        {% if block.settings.icon_type == 'instagram' %}
                          <i class="fab fa-instagram"></i>
                        {% endif %}
                        <p>{{ block.settings.image_hover_text }}</p>
                      </div>
                    </div>
                    {% if block.settings.image_link != blank %}
                      <a class="image_link" href="{{ block.settings.image_link }}"></a>
                    {% endif %}
                  </div>
              {% endfor %}
            </div>

        </div>

    </section>

{% endif %}

{% schema %}
  {
    "name": "Photo Carousel",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_component",
        "label": "Show Component?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "photo",
        "name": "Photo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
      	  },
      	  {
            "type": "text",
            "id": "image_hover_text",
            "label": "Image Hover Text"
      	  },
          {
            "type": "text",
            "id": "image_link",
            "label": "Image Link"
      	  },
          {
            "type": "select",
            "id": "icon_type",
            "options": [
                { "value": "instagram", "label": "Instagram"},
                { "value": "none", "label": "None" }
            ],
            "label": "Icon Type"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Photo Carousel",
        "category": "Components"
      }
    ]
  }
{% endschema %}