{% comment %}

Press
---

Grid of press pieces/mentions. Transforms to slider on tablet.

{% endcomment %}

{% if section.settings.visible == true %}

  <section class="panel">

    <div class="container">

          {% if section.settings.title != blank %}
              <div class="section_header with_border">
                  <h2 class="h1">{{ section.settings.title }}</h2>
                  <span class="border_line triangle_down dark_brown"></span>
                  {% if section.settings.subtitle != blank %}
                    <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                  {% endif %}
              </div>
          {% endif %}

          <!-- Press -->

          <div class="row press_cards">
              {% for block in section.blocks %}
                  <div class="column_1_3 press_card">
                      <div class="press_card_top">
                          <img src="{{ block.settings.logo | img_url: 'grande' }}" />
                      </div>
                      <div class="seperator"></div>
                      <div class="press_card_bottom">
                          {% if block.settings.secondary_image != blank %}
                              <img src="{{ block.settings.secondary_image | img_url: 'grande' }}" />
                          {% endif %}
                          <p>{{ block.settings.subtext }}</p>
                      </div>
                  </div>
              {% endfor %}
          </div>

      </div>

  </section>
  
{% endif %}

{% schema %}
  {
    "name": "Press",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Show Press",
        "default":   true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "max_blocks": 6,
    "blocks": [
      {
        "type": "press",
        "name": "Press",
        "settings": [
         {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Sub Text"
          },
          {
            "type": "image_picker",
            "id": "secondary_image",
            "label": "Secondary Image (Optional)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Press",
        "category": "Components"
      }
    ]
  }
{% endschema %}