{% comment %}

Press Grid
---

Grid of press pieces/mentions. Unlike the other press component, this press is separated by column lines.
Transforms to slider on mobile.

{% endcomment %}

{% if section.settings.visible == true %}

  <div class="hide_on_tablet">

    <section class="panel-down-arrow background_cream">

      <div class="large_container">

          {% if section.settings.title != blank %}
              <div class="section_header with_border">
                  <h2 class="h1">{{ section.settings.title }}</h2>
                  {% if section.settings.subtitle != blank %}
                  <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                  {% endif %}
              </div>
          {% endif %}

          <!-- Press Grid -->

          <div class="hide_on_tablet">
            <div class="row press-grid">
              {% for block in section.blocks %}
                <div class="column_1_3 press-grid__item press-grid__column">
                  <img src="{{ block.settings.logo | img_url: 'grande' }}" class="press-grid__image" />
                  <p class="press-grid__text">{{ block.settings.subtext }}</p>
                </div>
              {% endfor %}
            </div>
          </div>

          <!-- Press Slider -->

          <div class="show_on_tablet">
            <div class="flexslider normal_slider">
              <ul class="slides">
                {% for block in section.blocks %}
                  <li class="press-grid__item">
                    <img src="{{ block.settings.logo | img_url: 'grande' }}" class="press-grid__image" />
                    <p class="press-grid__text">{{ block.settings.subtext }}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

      </div>

      <div class="down-arrow-btn smooth_scroll" data-target="buzz">
        <p class="down-arrow-btn__title">{{ section.settings.arrow_text }}</p>
        <img src="{{ 'arrow-down-red.png' | asset_img_url }}" class="down-arrow-btn__arrow" />
      </div>

    </section>

  </div>
  
{% endif %}

{% schema %}
  {
    "name": "Press Grid",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Show Press",
        "default":   true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "arrow_text",
        "label": "Arrow Text"
      }
    ],
    "blocks": [
      {
        "type": "press",
        "name": "Press",
        "limit": 6,
        "settings": [
         {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Sub Text"
          }
        ]
      }
    ]
  }
{% endschema %}