{% comment %}

Press
---

Grid of press logos.

{% endcomment %}
            
{% comment %}
    Logo Grid
{% endcomment %}

<div class="logo_grid row">

    {% for block in section.blocks %}
                    
        {% comment %} 
            Logo 
        {% endcomment %}
                                        
        <div class="column_1_3">
            <div class="logo_block_container">
            
                {% comment %} Image {% endcomment %}
                
                <div class="logo_block_image_container">
                    <div class="logo_block_image">
                        <img src="{{ block.settings.logo | img_url: 'grande' }}" />
                    </div>
                    {% if block.settings.link != blank %}
                        <a href="{{ block.settings.link }}" {% if block.settings.new_window %}target="_blank"{% endif %}></a>
                    {% endif %}
                </div>
                
                {% comment %} Title / Content {% endcomment %}
                
                {% if block.settings.title != blank %}
                    <div class="logo_block_content_container">
                        {% if block.settings.link != blank %}
                            <h4>
                                <a href="{{ block.settings.link }}" {% if block.settings.new_window %}target="_blank"{% endif %}>
                                    {{ block.settings.title }}
                                </a>
                            </h4>
                        {% else %}
                            <p>{{ block.settings.title }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                
            </div>
        </div>
        
    {% endfor %}
    
</div>
        
{% schema %}
  {
    "name": "Press Logo Grid",
    "blocks": [
      {
        "type": "press",
        "name": "Press",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Image"
      	  },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "new_window",
            "default": true,
            "label": "Link to a new window."
          }
        ]
      }
    ]
  }
{% endschema %}