{% comment %}

Product Reviews
---

Product page reviews powered by Shopify product reviews app.

{% endcomment %}

<div class="panel">

    <div class="product_reviews container">
    
        {% if section.settings.title != blank %}
          <div class="section_header">
            <h2 class="h1">{{ section.settings.title }}</h2>
            {% if section.settings.subtitle != blank %}
              <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
            {% endif %}
          </div>
        {% endif %}

        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
   
    </div>

</div>

{% schema %}
  {
    "name": "Product Reviews",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ]
  }
{% endschema %}