{% comment %}

Product Nutrition Facts

{% endcomment %}

{% if section.settings.visible == true %}
    <div class="product-nutrition-facts panel">
      <div class="product-nutrition-facts__container">
        <img src="{{ section.settings.desktop_image | img_url: '2000x' }}" class="product-nutrition-facts__desktop-image" />
        <div class="product-nutrition-facts__content">
          <h2 class="futura product-nutrition-facts__title">{{ section.settings.section_title }}</h2>
          <h5 class="product-nutrition-facts__subtitle">{{ section.settings.section_text }}</h5>
          {% if section.settings.show_cta %}
            {% if section.settings.cta_type == 'email' %}
              {% assign email_button_text = section.settings.email_button_text %}
              {% include 'form-klaviyo', list_id: 'J2Zm6m', submit_text: email_button_text form_container_class: 'email-signup-form--centered' %}
            {% else %}
              <a class="btn primary full_width dcm-event-tracker" data-type="coupon" data-label="{{ section.settings.cta_button_label }}" href="{{ section.settings.cta_button_link }}" {% if section.settings.cta_button_new_window %}target="_blank"{% endif %}>{{ section.settings.cta_button_text }}</a>
            {% endif %}
          {% endif %}
        </div>
        <img src="{{ section.settings.mobile_image | img_url: '2000x' }}" class="product-nutrition-facts__mobile-image" />
      </div>
    </div>
{% endif %}
        
{% schema %}
  {
    "name": "Product Nutrition Facts",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image (2000px width)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "section_text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Call To Action"
      },
      {
        "type":      "checkbox",
        "id":        "show_cta",
        "label":     "Show/Hide",
        "default":   true
      },
      {
        "type": "select",
        "id": "cta_type",
        "options": [
            { "value": "email", "label": "Email Form"},
            { "value": "button", "label": "Button"}
        ],
        "label": "Call To Action"
      },
      {
        "type": "text",
        "id": "email_button_text",
        "label": "Email Button Text"
      },
      {
        "type": "text",
        "id": "cta_button_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "cta_button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "cta_button_label",
        "label": "Button Label",
        "info": "Hidden label used for tracking purposes"
      },
      {
        "type": "checkbox",
        "id": "cta_button_new_window",
        "default": false,
        "label": "Link to a new window."
      }
    ]
  }
{% endschema %}