{% comment %}

Quote Slider
---

Slider w/ quotes.

{% endcomment %}

{% if section.settings.show_component %}

    <section class="panel">
        
        <div class="container">
        
            {% if section.settings.title != blank %}
            <div class="section_header">
                <h2 class="h1">{{ section.settings.title }}</h2>
                {% if section.settings.subtitle != blank %}
                <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- Slides -->

            <div class="flexslider quote_slider">
                <ul class="slides">
                    {% for block in section.blocks %}
                        <li class="quote_slide">
                          {% if block.settings.quote_image != blank %}
                            <div class="row">
                              <div class="column_1_2">
                                <img src="{{ block.settings.quote_image | img_url: 'grande' }}" />
                              </div>
                              <div class="column_1_2">
                                <p class="quote">{{ block.settings.quote_text }}</p>
                                <p>{{ block.settings.quote_title }}</p>
                              </div>
                            </div>
                          {% else %}
                            <div class="quote_slide_container">
                              <p class="quote">{{ block.settings.quote_text }}</p>
                              <p>{{ block.settings.quote_title }}</p>
                            </div>
                          {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </section>

{% endif %}

{% schema %}
  {
    "name": "Quote Slider",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_component",
        "label": "Show Component?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "type": "image_picker",
            "id": "quote_image",
            "label": "Quote Image (Optional)"
      	  },
      	  {
            "type": "textarea",
            "id": "quote_text",
            "label": "Quote Text"
      	  },
          {
            "type": "text",
            "id": "quote_title",
            "label": "Quote Title"
      	  }
        ]
      }
    ]
  }
{% endschema %}