{% comment %}

Shop Our Products
---

Call to action panel to shop.

{% endcomment %}

{% if section.settings.show_component %}

  <section class="panel">
      <div class="container">
        {% if section.settings.title != blank %}
          <div class="section_header">
            <h2 class="h1">{{ section.settings.title }}</h2>
            {% if section.settings.subtitle != blank %}
              <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="panel background_cream">
          <div class="container">
              <div class="shop_our_products_panel">
                  <div class="left_product product_column">
                      <a class="image_container" href="{{ section.settings.left_product_button_link }}"><img src="{{ section.settings.left_product_image | img_url: '' }}" /></a>
                      <div class="product_details">
                        <a href="{{ section.settings.left_product_button_link }}" class="underline_link large">{{ section.settings.left_product_button_text }}</a>
                        <h2 class="h1">{{ section.settings.left_product_price }}</h2>
                      </div>
                      <p>{{ section.settings.left_product_text }}</p>
                  </div>
                  <div class="middle_column">
                      <p>or</p>
                  </div>
                  <div class="right_product product_column">
                      <a class="image_container" href="{{ section.settings.right_product_button_link }}"><img src="{{ section.settings.right_product_image | img_url: '' }}" /></a>
                      <div class="product_details">
                        <a href="{{ section.settings.right_product_button_link }}" class="underline_link large">{{ section.settings.right_product_button_text }}</a>
                        <h2 class="h1">{{ section.settings.right_product_price }}</h2>
                      </div>
                      <p>{{ section.settings.right_product_text }}</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

{% endif %}

{% schema %}
  {
    "name": "Shop Our Products",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_component",
        "label": "Show Component?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "image_picker",
        "id": "left_product_image",
        "label": "Left Product Image"
      },
      {
        "type": "text",
        "id": "left_product_price",
        "label": "Left Product Price"
      },
      {
        "type": "text",
        "id": "left_product_text",
        "label": "Left Product Text"
      },
      {
        "type": "text",
        "id": "left_product_button_text",
        "label": "Left Product Button Text"
      },
      {
        "type": "text",
        "id": "left_product_button_link",
        "label": "Left Product Button Link"
      },
      {
        "type": "image_picker",
        "id": "right_product_image",
        "label": "Right Product Image"
      },
      {
        "type": "text",
        "id": "right_product_price",
        "label": "Right Product Price"
      },
      {
        "type": "text",
        "id": "right_product_text",
        "label": "Right Product Text"
      },
      {
        "type": "text",
        "id": "right_product_button_text",
        "label": "Right Product Button Text"
      },
      {
        "type": "text",
        "id": "right_product_button_link",
        "label": "Right Product Button Link"
      }
    ],
    "presets": [
      {
        "name": "Shop Our Products",
    	"category": "Components"
      }
    ]
  }
{% endschema %}