{% comment %}

Sticky Tab

{% endcomment %}

{% if section.settings.visible == true %}
  {% if section.settings.cta_type == 'email' %}
    <div class="sticky-tab">
      <div class="sticky-tab__label sticky-tab__toggle"><span>{{ section.settings.label }}</span></div>
      <div class="sticky-tab__content">
        <p class="sticky-tab__text">{{ section.settings.text }}</p>
        {% assign email_button_text = section.settings.email_button_text %}
        {% include 'form-klaviyo', list_id: 'J2Zm6m', submit_text: email_button_text %}
        <div class="sticky-tab__close sticky-tab__toggle">
          <i class="fas fa-times-circle"></i>
        </div>
      </div>
    </div>
  {% else %}
    <div class="sticky-tab">
      <a class="sticky-tab__label dcm-event-tracker" data-type="coupon" data-label="{{ section.settings.cta_button_label }}" href="{{ section.settings.cta_button_link }}" {% if section.settings.cta_button_new_window %}target="_blank"{% endif %}><span>{{ section.settings.cta_button_text }}</span></a>
      <div class="sticky-tab__content"></div>
    </div>
  {% endif %}
{% endif %}
        
{% schema %}
  {
    "name": "Sticky Tab",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "text",
        "id": "label",
        "label": "Label",
        "info": "Label will appear if this is an email call to action."
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "info": "Text will appear upon reveal of the email call to action."
      },
      {
        "type": "header",
        "content": "Call To Action"
      },
      {
        "type": "select",
        "id": "cta_type",
        "options": [
            { "value": "email", "label": "Email Form"},
            { "value": "button", "label": "Button"}
        ],
        "label": "Call To Action"
      },
      {
        "type": "text",
        "id": "email_button_text",
        "label": "Email Button Text"
      },
      {
        "type": "text",
        "id": "cta_button_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "cta_button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "cta_button_label",
        "label": "Button Label",
        "info": "Hidden label used for tracking purposes"
      },
      {
        "type": "checkbox",
        "id": "cta_button_new_window",
        "default": false,
        "label": "Link to a new window."
      }
    ]
  }
{% endschema %}