{% comment %}

Stores
---

Grid of store logos displayed with filter capability.

{% endcomment %}
    
<div class="mixitup_container">

    {% comment %}
        Location Filters
    {% endcomment %}
            
    {% assign locations = section.settings.location_filters | split: ','  %}
    
    {% if locations.size != 0 %}
        
        <ul class="filter_list">
        
            <li><a data-filter="all">All</a></li>
            
            {% for location in locations %}
            
                {% assign location_handle = location | handle %}
                
                <li><a data-filter=".{{ location_handle }}">{{ location }}</a></li>
                
            {% endfor %}
            
        </ul>
        
    {% endif %}
    
    {% comment %}
        Logo Grid
    {% endcomment %}

    <div class="logo_grid row">
    
        {% for block in section.blocks %}
            
            {% comment %}
                Save the location classes for this logo. User enters the locations in the backend as a comma seperated list.
                We parse and normalize the values (lowercase, handleized and seperated by spaces).
                By doing this we give the user backend flexibility while still being able to use the data as we want to work with mixitup filtering.
            {% endcomment %}
            
            {% assign location_classes = '' %}
            
            {% assign locations = block.settings.locations | split: ','  %}
            
            {% for location in locations %}
                {% assign location_handle = location | handle %}
                {% if forloop.last == true %}
                    {% assign location_classes = location_classes | append: location_handle %}
                {% else %}
                    {% assign location_classes = location_classes | append: location_handle | append: ' ' %}
                {% endif %}
            {% endfor %}
            
            {% comment %} 
                Logo 
            {% endcomment %}
                                                            
            <div class="column_1_5 mix {{ location_classes }}">
                <div class="logo_block_container">
                    <div class="logo_block_image_container">
                        <div class="logo_block_image">
                            <img src="{{ block.settings.logo | img_url: 'grande' }}" />
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        
    </div>

</div>
    
{% schema %}
  {
    "name": "Stores",
    "settings": [
      {
        "type": "text",
        "id": "location_filters",
        "label": "Location Filters",
        "info": "Enter a comma separated list of the countries that can be filtered."
      }
    ],
    "blocks": [
      {
        "type": "store",
        "name": "Store",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Image"
      	  },
          {
            "type": "text",
            "id": "locations",
            "label": "Locations",
            "info": "Enter a comma separated list of the countries for where this store is located."
          }
        ]
      }
    ]
  }
{% endschema %}