{% comment %}

Testimonial Carousel

{% endcomment %}

{% if section.settings.visible == true %}

    <section class="panel large background_cream">
        
        <div class="container">
        
            {% if section.settings.title != blank %}
                <div class="section_header">
                    <h2 class="h1">{{ section.settings.title }}</h2>
                    {% if section.settings.subtitle != blank %}
                        <p class="subtitle wysiwyg">{{ section.settings.subtitle }}</p>
                    {% endif %}
                </div>
            {% endif %}
        
        </div>

        <div class="slick_carousel testimonial-carousel">
            {% for block in section.blocks %}
            <div>
                {% if block.type == 'quote' %}
                    <div class="testimonial-carousel-item testimonial-carousel-quote">
                        <div class="testimonial-carousel-quote__stars">
                            <img src="{{ 'stars-gold.jpg' | asset_img_url }}" />
                        </div>
                        <div class="testimonial-carousel-quote__content">
                            <h3 class="testimonial-carousel-quote__title">{{ block.settings.title }}</h3>
                            <p>{{ block.settings.text }}</p>
                        </div>
                        <div class="testimonial-carousel-quote__bottom">
                            <img src="{{ 'amazon-verified-review-stamp.jpg' | asset_img_url: '500x' }}" />
                        </div>
                    </div>
                {% elsif block.type == 'image' %}
                    <div 
                    class="testimonial-carousel-item testimonial-carousel-image"
                    style="background-image: url({{ block.settings.image | img_url: 'grande' }})">
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </section>

{% endif %}

{% schema %}
  {
    "name": "Testimonial Carousel",
    "settings": [
      {
        "type": "checkbox",
        "id": "visible",
        "label": "Visible",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
      	  }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
      	  }
        ]
      }
    ]
  }
{% endschema %}