{% comment %}

Text Panel
---

Solid panel background with text on top.

{% endcomment %}

<section class="text_panel {{ section.settings.color }}">
	<div class="medium_container">
        {% if section.settings.title != blank %}
            <h4>{{ section.settings.title }}</h4>
        {% endif %}
        <p>{{ section.settings.text }}</p>
	</div>
</section>

{% schema %}
  {
    "name": "Text Panel",
    "settings": [
      {
        "type": "select",
        "id": "color",
        "options": [
            { "value": "black", "label": "Black"},
            { "value": "cream", "label": "Cream" }
        ],
        "label": "Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Text Panel",
    	"category": "Components"
      }
    ]
  }
{% endschema %}