{% comment %}

What's Inside

{% endcomment %}

{% if section.settings.visible == true %}
  <img class="whats-inside__mobile-image" src="{{ section.settings.mobile_image | img_url: '1000x' }}" />
  <section 
  class="whats-inside"
  style="background-image: url('{{ section.settings.background_image | img_url: '2000x' }}')">
    <div class="large_container">
      <div class="row">
        <div class="column_1_2">
          <h1 class="futura">{{ section.settings.title }}</h1>
          <ul class="icon-info-list">
            {% for block in section.blocks %}
              {% if block.type == 'icon' %}
                <li class="icon-info-list__item">
                  <div class="icon-info-list__image">
                    <img src="{{ block.settings.image | img_url: '500x' }}" />
                  </div>
                  <p class="icon-info-list__text">{{ block.settings.text }}</p>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <h5 class="wysiwyg">{{ section.settings.text }}</h5>
        </div>
      </div>
    </div>
  </section>
{% endif %}
        
{% schema %}
  {
    "name": "What's Inside",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type":      "checkbox",
        "id":        "visible",
        "label":     "Visible",
        "default":   true
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image (2000px width)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
      	  },
      	  {
            "type": "textarea",
            "id": "text",
            "label": "Text"
      	  }
        ]
      }
    ]
  }
{% endschema %}