{% comment %}
Add To Cart Form
---
Form component used to add a specific product to cart. Must be included within a product loop.
Includes: Variant selector, quantity updater and submit button.
{% endcomment %}

{% form 'product', product, class: "add_to_cart_form" %}
    
    {% comment %}
        Hidden Values to know the product/page name that pertain to this form.
    {% endcomment %}

    <div 
    class="add_to_cart_form_product_info" 
    data-product-name="{{ product.handle }}"
    data-variant-id="{{ current_variant.id }}">
    </div>
    
    {% if product.available %}{% include 'subscription-product' %}{% endif %}

    {% assign current_variant = product.selected_or_first_available_variant %}

    <!-- ID of product. Used for the Shopify Buy Now feature -->

    <input type="hidden" name="id" value="{{ current_variant.id }}" />

    <!-- Error Feedback -->

    <p class="error_feedback_message"></p>
    
    <!-- Variants // Hidden For Now Because only have one type of variant (6 pack) -->

    <div class="form_select_container hide">
        <select class="variant_selector">
            {% for variant in product.variants %}
                <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
            {% endfor %}
        </select>
        <i class="fal fa-angle-down"></i>
    </div>

    <!-- Add To Cart Footer -->

    <div class="add_to_cart_footer">
        
        <!-- Quantity Updater -->

        <div class="quantity_updater_container">
            <div class="circular_icon clickable quantity_updater" data-type="decrease">
                <i class="far fa-trash-alt"></i>
            </div>
            <h2 class="quantity">1</h2>
            <div class="circular_icon clickable quantity_updater" data-type="increase">
                <i class="fas fa-plus"></i>
            </div>
        </div>

        <!-- Feedback Message -->

        <div class="feedback_message">
            <i class="fas fa-check-square"></i><p><span class="feedback_quantity">1</span> Added!</p>
        </div>

    </div>

    <!-- Submit Button -->

    {% if current_variant.available %}
        <input 
            type="submit" 
            class="btn {{ button_type }} full_width add_to_cart_button" 
            value="Add To Cart" 
        />
    {% else %}
        <input 
            type="submit" 
            disabled="disabled"
            class="btn disabled full_width add_to_cart_button" 
            value="Out Of Stock" 
        />
    {% endif %}
    
    {% if show_buy_now != 'false' %}
        {{ form | payment_button }}
    {% endif %}

{% endform %}