{% comment %}
Forto Weekly Email Mailchimp Form
---
Included in a few parts of the site. Footer, landing pages and as a component in the homepage and blog.
{% endcomment %}

<div class="mc_embed_signup">
    <form action="https://fortocoffee.us16.list-manage.com/subscribe/post-json?u=e0fbee337035a8a5e542e0107&amp;id=186b74a0e5&c=?" method="post" name="mc-embedded-subscribe-form" class="validate mc-embedded-subscribe-form" novalidate>
        <input type="email" value="" name="EMAIL" class="required email" placeholder="Email address" id="mce-EMAIL">
        <button type="submit" name="submit" id="mc-embedded-subscribe" class="btn primary {{ mailchimp_submit_class }}">{{ mailchimp_submit_text }}</button>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bfaeb9f9cfe94bf88ebe82105_58d7ecad1c" tabindex="-1" value=""></div>
    </form>
    <div class="mce-responses" class="clear">
        <div class="response mce-error-response" style="display:none"></div>
        <div class="response mce-success-response" style="display:none"></div>
    </div>
</div>