{% comment %}

Klaviyo Email Form

{% endcomment %}

<div class="email-signup-form {{ form_container_class }}">

    <form class="klaviyo-form" action="" method="POST">
        <input type="hidden" name="g" value="{{ list_id }}">
        <input type="email" value="" name="email" placeholder="Email address" />
        <button type="submit" class="btn primary {{ submit_class }}">{{ submit_text }}</button>
    </form>

    <div class="email-signup-form__response email-signup-form__response--is-hidden"></div>

</div>