{% comment %}
    Saves the name of the page we are currently on.
    The output is in the body element. Used for js event tracking.
{% endcomment %}

{% if template contains 'page' %}
    {% capture pageName %}{{ page.title }} Page{% endcapture %}
{% elsif template contains 'index' %}
    {% assign pageName = 'Home Page' %}
{% elsif template contains 'product' %}
    {% assign pageName = 'Product Detail Page' %}
{% elsif template contains 'cart' %}
    {% assign pageName = 'Cart Page' %}
{% elsif template.directory == 'customers' %}
    {% assign pageName = 'Account Page' %}
{% endif %}