{% comment %}
Modal Video Container
---
Loaded in the header of each page. If a video modal is triggered in the DOM
then the contents of this modal will generate and play the video.
{% endcomment %}

<div class="modal video-modal">
    <div class="modal__transparent-layer modal-close"></div>
    <div class="modal__content">
        <div class="modal__video">
            <div class="plyr-video" data-plyr-provider="" data-plyr-embed-id=""></div>
        </div>
        <div class="modal-close modal-close__icon">
            <i class="fas fa-times-circle"></i>
        </div>
    </div>
</div>