<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription Product
	http://rechargepayments.com: v3
-->
{% if product.metafields.subscriptions.subscription_id %}
	{% comment %}Subscriptions Powered by ReCharge Payments: Meta Fields -->{% endcomment %}
		{% comment %}Subscription settings{% endcomment %}
		{% assign subscription_product = product.metafields.subscriptions %}
		{% assign subscription_id = subscription_product.subscription_id %}
		{% assign widget_settings = shop.metafields.subscriptions %}
		{% if shop.metafields.subscriptions.subscription_active == 'true' %}
			{% assign subscription_active = true %}
		{% else %}
			{% assign subscription_active = false %}
		{% endif %}
		{% if subscription_product.is_subscription_only == 'true' or product.tags contains 'Subscription Only' or product.tags contains 'subscription only' or product.tags contains 'Subscription only' or product.tags contains 'subscriptiononly' %}
			{% assign subscription_only = true %}
		{% else %}
			{% assign subscription_only = false %}
		{% endif %}
		{% if widget_settings.select_subscription_first == 'true' %}
			{% assign select_subscription_first = true %}
		{% else %}
			{% assign select_subscription_first = false %}
		{% endif %}
		{% if subscription_only or select_subscription_first %}
			{% assign default_purchase_type = "autodeliver" %}
		{% else %}
			{% assign default_purchase_type = "onetime" %}
		{% endif %}
		{% comment %}Subscription Interval Settings{% endcomment %}
		{% if subscription_product.shipping_interval_unit_type.size > 0 %}
			{% assign shipping_interval_unit_type = subscription_product.shipping_interval_unit_type %}
		{% else %}
			{% assign shipping_interval_unit_type = 'Days' %}
		{% endif %}
		{% if subscription_product.shipping_interval_frequency.size > 0 %}
			{% assign shipping_interval_frequency = subscription_product.shipping_interval_frequency | split: ',' %}
		{% else %}
			{% assign shipping_interval_frequency = '30' %}
		{% endif %}
		{% comment %}Discount settings{% endcomment %}
		{% assign discount_percentage = subscription_product.discount_percentage | round: 2 %}
		{% assign discount_floor = subscription_product.discount_percentage | floor %}
		{% if discount_percentage == discount_floor %}
			{% assign discount_percentage = discount_floor %}
		{% endif %}
		{% comment %}Currency settings{% endcomment %}
		{% assign currency_prefix = widget_settings.currency_prefix | default: "$" %}
		{% assign currency_suffix = widget_settings.currency_suffix | default: "" %}
		{% comment %}Widget translation{% endcomment %}
		{% assign label_onetime = widget_settings.onetime_message | default: "One-time purchase" %}
		{% assign label_autodeliver = widget_settings.subscribe_message | default: "Subscribe &amp; save" %}
		{% assign label_deliver_every = widget_settings.widget_deliver_every | default: "Deliver every" %}
		{% comment %}Popup settings{% endcomment %}
		{% if widget_settings.show_subscription_details == 'false' %}
			{% assign show_widget = false %}
		{% else %}
			{% assign show_widget = true %}
		{% endif %}
		{% if widget_settings.show_subscription_details_icon == 'false' %}
			{% assign show_widget_icon = false %}
		{% else %}
			{% assign show_widget_icon = true %}
		{% endif %}
		{% if widget_settings.show_learnmore == 'false' %}
			{% assign show_learnmore = false %}
		{% else %}
			{% assign show_learnmore = true %}
		{% endif %}
		{% if widget_settings.show_poweredby == 'false' %}
			{% assign show_poweredby = false %}
		{% else %}
			{% assign show_poweredby = true %}
		{% endif %}
		{% comment %}Custom text{% endcomment %}
		{% assign subscription_details_label = widget_settings.subscription_details_verbiage | default: "Subscription details" %}
		{% assign how_it_works_text = widget_settings.how_it_works | default: "<strong>How subscriptions work</strong><br><br>Products are automatically delivered on your schedule. No obligation, modify or cancel your subscription anytime." %}
		{% assign learnmore_link = widget_settings.learnmore_verbiage | default: "Learn more..." %}
		{% comment %}Custom styling{% endcomment %}
		{% assign widget_label_color = widget_settings.font_color | default: "#000000" %}
		{% assign widget_active_color = widget_settings.active_color | default: "#676767" %}
		{% assign widget_active_bg = widget_settings.background_color | default: "#F8F8F8" %}
		{% assign widget_icon = subscription.widget_icon | default: "black" %}
		{% if widget_icon == "white" %}
			{% assign widget_icon = "//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__icon__white@2x.png" %}
		{% else %}
			{% assign widget_icon = "//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__icon__black@2x.png" %}
		{% endif %}
		{% assign popup_zindex = widget_settings.popup_zindex | default: "56" %}
		{% assign popup_background_color = widget_settings.popup_background_color | default: "#474747" %}
		{% assign popup_text_color = widget_settings.popup_text_color | default: "#FFFFFF" %}
		{% assign popup_link_color = widget_settings.popup_link_color | default: "#4DD6B7" %}
		{% assign recharge_custom_css = widget_settings.custom_css | defalut: "" %}
		{% comment %}Custom URLs{% endcomment %}
		{% comment %}Learn more link{% endcomment %}
		{% if widget_settings.learnmore_url %}
			{% if widget_settings.learnmore_url contains "rechargepayments.com/subscribe-with-recharge" %}
				{% capture learnmore_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
			{% else %}
				{% assign learnmore_url = widget_settings.learnmore_url %}
			{% endif %}
		{% else %}
			{% capture learnmore_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
		{% endif %}
		{% comment %}Powered by badge{% endcomment %}
		{% if widget_settings.poweredby_url %}
			{% if widget_settings.poweredby_url contains "rechargepayments.com/subscribe-with-recharge" %}
				{% capture poweredby_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
			{% else %}
				{% assign poweredby_url = widget_settings.poweredby_url %}
			{% endif %}
		{% else %}
			{% capture poweredby_url %}http://rechargepayments.com/subscribe-with-recharge?utm_source=shopify%20store&utm_medium=customer%20link&utm_campaign=Shopify%20store%20back%20link&shop_name={{ shop.name | url_param_escape }}&shop={{ shop.permanent_domain }}{% endcapture %}
		{% endif %}
	<!-- Subscriptions Powered by ReCharge Payments: CSS -->
	<link href="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com/static/css/widget.css" rel="stylesheet" type="text/css">
	<style>
		/* Widget: Purchase options */
		label.rc_label {
			color: {{ widget_label_color }};
		}
		div.rc_block__type--active {
			background-color: {{ widget_active_bg }};
		}
		div.rc_block__type--active label.rc_label {
			color: {{ widget_active_color }};
		}
		/* Widget: Popup */
		div.rc_popup__block {
			z-index: {{ popup_zindex }};
		}
		div.rc_popup__block:before {
			border-bottom-color: {{ popup_background_color }};
		}
		div.rc_popup__block {
			background-color: {{ popup_background_color }} !important;
		}
		div.rc_popup__close,
		div.rc_popup__block__content,
		div.rc_popup__block__content strong {
			color: {{ popup_text_color }} !important;
		}
		div.rc_popup__block__content a {
			color: {{ popup_link_color }} !important;
		}
		/* ReCharge CSS */
		{{ recharge_custom_css }}
		/* Add Custom CSS Below */

	</style>
	<!-- Subscriptions Powered by ReCharge Payments: HTML -->
	<div id="rc_container"{% unless subscription_active %} style="display: none;"{% endunless %}{% if subscription_only %} class="rc_subscription-only"{% endif %}>
		<input type="hidden" name="{% if subscription_active and subscription_only or select_subscription_first %}properties[subscription_id]{% endif %}" class="rc_subscription_id" id="rc_subscription_id" value="{{ subscription_id }}">
		<input type="hidden" name="{% if subscription_active and subscription_only or select_subscription_first %}properties[shipping_interval_unit_type]{% endif %}" class="rc_shipping_interval_unit_type" value="{{ shipping_interval_unit_type }}">
		<select id="rc_duplicate_selector" class="rc_duplicate_selector" data-productid="{{ product.id }}" class="styled replaced no-js" style="display: none;">
			{% for variant in product.variants %}
				<option value="{{ variant.metafields.subscriptions.discount_variant_id }}">{{ variant.metafields.subscriptions.discount_variant_id }}</option>
			{% endfor %}
		</select>
		{% unless subscription_only %}
			<div class="rc_block rc_block__type rc_block__type__onetime{% unless select_subscription_first %} rc_block__type--active{% endunless %}">
				<input type="radio" id="rc_purchase_type_onetime_{{ product.id }}" name="purchase_type_{{ product.id }}" data-productid="{{ product.id }}" value="onetime"{% unless select_subscription_first %} checked{% endunless %} class="rc_radio rc_radio__onetime">
				<label for="rc_purchase_type_onetime_{{ product.id }}" class="rc_label rc_label__onetime">
					<p>
						{{ label_onetime }}
						{% if discount_percentage > 0 %}
							: {% for variant in product.variants %}{{ variant.price | money_without_trailing_zeros }}{% endfor %}
						{% endif %}
					</p>
				</label>
			</div>
		{% endunless %}
		<div class="rc_block rc_block__type rc_block__type__autodeliver{% if select_subscription_first %} rc_block__type--active{% endif %}"{% if subscription_only and shipping_interval_frequency.size == 1 %} style="display: none;"{% endif %}>
			<input type="radio" id="rc_purchase_type_autodeliver_{{ product.id }}" name="purchase_type_{{ product.id }}" data-productid="{{ product.id }}" value="autodeliver"{% if subscription_only or select_subscription_first %} checked{% endif %}{% if subscription_only %} style="display: none;"{% endif %} class="rc_radio rc_radio__autodeliver">
			{% unless subscription_only %}
				<label for="rc_purchase_type_autodeliver_{{ product.id }}" class="rc_label rc_label__autodeliver">
					<p>
						{{ label_autodeliver }} {% if discount_percentage > 0 %}{{ discount_percentage }}%{% endif %}
						{% if discount_percentage > 0 %}
							: {% for variant in product.variants %}{{ variant.metafields.subscriptions.discount_variant_price | replace: ".", "" | money_without_trailing_zeros }} {% endfor %}
						{% endif %}
					</p>
				</label>
			{% endunless %}
			<div id="rc_autodeliver_options" class="rc_block rc_block__type__options">
				{% if shipping_interval_frequency.size == 1 %}
					<label for="rc_shipping_interval_frequency" class="rc_label rc_label__deliver_every">
						<span class="rc_label__frequency">
							{{ label_deliver_every }}  {{ shipping_interval_frequency[0] }}
							{% if shipping_interval_frequency[0] == "1" %}
								{% if shipping_interval_unit_type == 'Months' %}Month{% elsif shipping_interval_unit_type == 'Weeks' %}Week{% else %}Day{% endif %}
							{% else %}
								{{ shipping_interval_unit_type }}
							{% endif %}
						</span>
						<div class="rc_popup">
							{% if show_widget %}
								<div class="rc_popup__hover">
									<i class="fas fa-question-circle"></i>
									<div class="rc_popup__block">
										<div class="rc_popup__block__content">
											<div class="rc_popup__close" style="display: none;">x</div>
											{{ how_it_works_text }}
											{% if show_learnmore %}
												<br><a href="/pages/faqs#subscription" target="_blank">{{ learnmore_link }}</a>
											{% endif %}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</label>
					<input type="hidden" name="{% if subscription_active and subscription_only %}properties[shipping_interval_frequency]{% endif %}" class="rc_shipping_interval_frequency" data-productid="{{ product.id }}" value="{{ shipping_interval_frequency }}">
				{% elsif shipping_interval_frequency.size > 1 %}
					<label for="rc_shipping_interval_frequency" class="rc_label rc_label__deliver_every">
						<span class="rc_label__delivery">{{ label_deliver_every }}</span>
						<div class="form_select_container">
							<select name="{% if subscription_active and subscription_only %}properties[shipping_interval_frequency]{% endif %}" id="rc_shipping_interval_frequency" data-productid="{{ product.id }}" class="rc_select rc_select__frequency rc_shipping_interval_frequency">
								{% for frequency in shipping_interval_frequency %}
									<option value="{{ frequency }}">
										{{ frequency }}
										{% if frequency == "1" %}
											{% if shipping_interval_unit_type == 'Months' %}Month{% elsif shipping_interval_unit_type == 'Weeks' %}Week{% else %}Day{% endif %}
										{% else %}
											{{ shipping_interval_unit_type }}
										{% endif %}
									</option>
								{% endfor %}
							</select>
							<i class="fal fa-angle-down"></i>
						</div>
						<div class="rc_popup">
							{% if show_widget %}
								<div class="rc_popup__hover">
									<i class="fas fa-question-circle"></i>
									<div class="rc_popup__block">
										<div class="rc_popup__block__content">
											<div class="rc_popup__close" style="display: none;">x</div>
											{{ how_it_works_text }}
											{% if show_learnmore %}
												<br><a href="/pages/faqs#subscription" target="_blank" class="underline_link">{{ learnmore_link }}</a>
											{% endif %}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</label>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Subscriptions Powered by ReCharge Payments: JS -->
	<script src="//rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com/static/js/widget.js"></script>
	<script>
		(function() {
			var myProduct = {
				id: {{ product.id }},
				active: {{ subscription_active }},
				subscription_id: {{ subscription_id }},
				shop_currency: "{{ shop.currency }}",
				currency_prefix: "{{ currency_prefix }}",
				currency_suffix: "{{ currency_suffix }}",
				subscription_only: {{ subscription_only }},
				select_subscription_first: {{ select_subscription_first }},
				shipping_interval_unit_type: "{{ shipping_interval_unit_type }}",
				shipping_interval_frequency: [{% for interval in shipping_interval_frequency %}{{ interval }}, {% endfor %}],
				discount_percentage: {{ discount_percentage }},
				variant_to_duplicate: { {% for variant in product.variants %}{{ variant.id }}:'{{ variant.metafields.subscriptions.discount_variant_id }}', {% endfor %} },
				variant_to_price: { {% for variant in product.variants %}{{ variant.id }}:'{{ variant.price }}', {% endfor %} },
				duplicate_to_price: { {% for variant in product.variants %}{{ variant.metafields.subscriptions.discount_variant_id }}: '{{ variant.metafields.subscriptions.discount_variant_price | replace: ".", "" }}', {% endfor %} },
			};
			document.addEventListener("DOMContentLoaded", function() {
				if (!window.ReCharge) { window.ReCharge = new rcWidget; }
				// ReCharge.addProduct(myProduct);
			});
		})();
	</script>
{% endif %}
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
