/*==================================
Add To Cart Form
==================================*/

.add_to_cart_form .add_to_cart_footer {
    display: none;
}

.add_to_cart_form.show_quantity_updater {
    .add_to_cart_footer {
        display: flex;
        flex-flow: row wrap;
    }
    .add_to_cart_button {
        display: none;
    }
}

// Footer w Quantity Updater & Feedback Message

.add_to_cart_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*==================================
Feedback
==================================*/

// Success Feedback

.feedback_message {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $brown;
}

.feedback_message i {
    margin-right: 5px;
}

.feedback_message .fa-check-square {
    color: $validGreen;
}

.feedback_message p {
    font-family: 'neutratextps_bold', sans-serif;
    margin-bottom: 0;
}

// Error Feedback

p.error_feedback_message {
    font-size: 14px;
    line-height: 16px;
    color: $invalidRed;
    margin: 10px 0;
}

/*==================================
Quantity Updater
==================================*/

.quantity_updater_container {
    display: flex;
    align-items: center;
}

// Centered Number

.quantity_updater_container h2 {
    margin: 0 auto;
    width: 50px;
    text-align: center;
}

/*==================================
Subscription
==================================*/

.add_to_cart_form div.rc_popup {
    // display: none;
}

// Purchase Type Toggles

.add_to_cart_form div.rc_block__type {
    border-radius: 0;
    padding: 0;
}

.add_to_cart_form .rc_block__type--active {
    background-color: transparent;

    label.rc_label {
        color: $brown;
    }
}

// Frequency Selection

.add_to_cart_form label.rc_label {
    width: 100%;
    padding: 0;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex !important;
    align-items: center;
    font-family: 'neutratextps_book', sans-serif;
    color: $brown;
}

.add_to_cart_form select.rc_select {
    padding: 5px 10px;
    font-size: 16px;
}

.add_to_cart_form span.rc_label__frequency {
    font-size: 16px;
}

.add_to_cart_form span.rc_label__delivery {
    padding-right: 20px;
    font-size: 16px;
}

// Custom Radio

.add_to_cart_form .rc_block.rc_block__type > label p {
    margin-bottom: 0;
    width: 50%;
    word-wrap: break-word;
}

.add_to_cart_form .rc_block.rc_block__type input {
    opacity: 0;
    position: absolute;
}

.add_to_cart_form .rc_block.rc_block__type > label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $brown;
    display: inline-block;
    background: transparent;
    margin-right: 10px;
    flex: 0 0 20px;
}

.add_to_cart_form .rc_block.rc_block__type > label:after {
    content: '';
    opacity: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    background: $brown;
    left: 7px;
    top: 10px;
}

.add_to_cart_form .rc_block.rc_block__type input:checked ~ label:after {
    opacity: 1;
}

// Info Popup

.add_to_cart_form .rc_popup {
    padding: 0 0 0 15px;
}

.add_to_cart_form .rc_popup__block {
    background-color: $cream !important;
    border: 1px solid $borderBrown;
    border-radius: $borderRadius;
    color: $brown;
    left: -140px;
}

.add_to_cart_form {
    div.rc_popup__close, div.rc_popup__block__content, div.rc_popup__block__content strong {
        color: $brown !important;
    }
}

.add_to_cart_form .rc_popup__block:before, .add_to_cart_form .rc_popup__block:after {
    content: "";
    display: block;
    width: auto;
    position: absolute;
    left: 50%;
}

.add_to_cart_form .rc_popup__block:before {
    top: -17px;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: $borderBrown;
}

.add_to_cart_form .rc_popup__block:after {
    top: -14px;
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom-color: $cream;
}

.add_to_cart_form .rc_popup__block__content {
    font-size: 15px;
    line-height: 20px;
}

.add_to_cart_form div.rc_popup__block__content a.underline_link {
    color: $brown !important;
}

/*==================================
Add To Cart Button
==================================*/

.add_to_cart_form .add_to_cart_button {
    visibility: visible !important;
}

/*==================================
Shopify Buy Now Button
==================================*/

.shopify-payment-button {
    margin-top: 10px;
}

// More Options Link

.add_to_cart_form .shopify-payment-button__button--hidden {
    visibility: visible;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 16px;
}