/*==================================
Font Awesome Override
Product Reviews App causes issues because they use an old version of Font Awesome
==================================*/

[class*=" fa-"]:before, [class^=fa-]:before {
    font-family: inherit !important;
    font-style: normal;
    font-weight: inherit !important;
    speak: none;
    text-decoration: inherit;
    width: auto !important;
    margin-right: 0 !important;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

/*==================================
Icon Button
Used in places like notification banners
==================================*/

// Default

.circular_icon {
    border-radius: 50%;
    border: 2px solid $borderBrown;
    background: $cream;
    color: $brown;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;

    // Only trigger hover change above tablet because of sticky effect on mobile devices
    
    @include above_tablet {
        &:hover {
            border: 2px solid $gold;
            background: $gold;
            color: $white;
        }
    }

    @include mobile_landscape {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 15px;
    }
}

.circular_icon svg {
    @include mobile_landscape {
        height: 10px;
    }
}

// Valid

.circular_icon.valid {
    border: 2px solid $validGreen;
    background: $white;
    color: $validGreen;

    &:hover {
        background: $validGreen;
        color: $white;
    }
}

// Invalid

.circular_icon.invalid {
    border: 2px solid $invalidRed;
    background: $white;
    color: $invalidRed;

    &:hover {
        background: $invalidRed;
        color: $white;
    }
}

// Clickable 

.circular_icon.clickable {
    cursor: pointer;
}

/*==================================
Pagination
==================================*/

.pagination {
    text-align: center;
}

/*==================================
Label
==================================*/ 

.rectangle_label {
    font-family: 'futura_book';
    padding: 5px 40px;
    background: $orange;
    color: $white;
    font-size: 18px;
    
    @include tablet {
        font-size: 14px;
        line-height: 18px;
    }
}