/*==================================
Buttons
==================================*/

.btn, .add_to_cart_form .shopify-payment-button__button--unbranded {
    border-radius: $borderRadius;
    padding: 15px 30px;
    font-family: 'futura_bold', sans-serif;
    font-size: 16px;
    line-height: 23px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: all .3s ease-in-out;

    @include mobile_landscape {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 20px;
    }
}

// Primary

.btn.primary {
    background: $red;
    color: $white;
    border: 0;

    &:hover {
        background: $gold;
        color: $white;
    }
}

// Secondary

.btn.secondary, .add_to_cart_form .shopify-payment-button__button--unbranded {
    background: $white;
    color: $brown;
    border: 2px solid $gold;

    &:hover {
      border: 2px solid $gold;
      color: $white;
      background: $gold;
    }
}

// PSL - Special Pumpkin Spic Latte Button

.btn.psl_btn {
    background: $pslOrange;
    color: $white;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    
    &:hover {
        background: $orange;
    }
}

// Disabled {

.btn.disabled {
    background: $grey;
    border: 2px solid $grey;
}

// Tertiary Button Link

a.underline_link, .underline_link {
  color: $brown;
  font-family: 'neutratextps_bold', sans-serif;
  border-bottom: 5px solid $orange;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.underline_link.large {
    font-size: 35px;
    line-height: 43px;
    border-bottom: 10px solid $orange;

    @include tablet {
      font-size: 21px;
      line-height: 29px;
      border-bottom: 5px solid $orange;
    }
}

// Full Width

.btn.full_width {
    display: block;
    width: 100%;
}

// Large Size

.btn.large {
  font-size: 43px;
  line-height: 43px;

  @include tablet {
      font-size: 21px;
      line-height: 29px;
  }
}

// Titlecase

.btn.titlecase {
    text-transform: none;
}

/*==================================
Down Arrow Button
==================================*/

.down-arrow-btn {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

// Title

.down-arrow-btn__title {
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: $red;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    font-family: 'neutratextps_demi';
}

// Arrow

.down-arrow-btn__arrow {
    width: 50px;
    display: block;
    margin: 0 auto;
    transition: all .3s ease-in-out;

    @include mobile_landscape {
        width: 30px;
    }
}

.down-arrow-btn:hover .down-arrow-btn__arrow {
    transform: translateY(5px);
}