/*==================================
Structure
==================================*/

footer.main_footer {
	background: $black;
	color: $cream;
    padding: 30px 0;
}

.template-blog, .template-article {
  footer.main_footer {
    display: none;
  }
}

/*==================================
Footer Top
==================================*/

.footer_top {
	margin-bottom: 100px;

	@include mobile_landscape {
		margin-bottom: 0;
	}
}

// Grid Adjustments

.footer_top .column_1_5, .footer_top .column_2_5 {
	@include mobile_landscape {
		width: 100%;
		margin-bottom: 30px;
	}
}

// Menu Header 

p.footer_menu_header {
	@include mobile_landscape {
		margin-bottom: 5px;
	}
}

// Menu Items

.main_footer ul.footer_menu_items {
	list-style: none;
}

.main_footer ul.footer_menu_items li a {
	color: $gold;
	font-size: 21px;
	line-height: 28px;
	font-weight: 600;
	font-family: 'neutratextps_demi', sans-serif;
	
	&:hover {
		color: $cream;
	}
}

// Copyright

footer.main_footer .copyright {
	font-size: 12px;
	line-height: 12px;
	color: $gold;
	margin-bottom: 0;
}

// Social

.footer_social_container {
	display: flex;
	flex-flow: row wrap;
}

.footer_social_container ul.social_icons {
	margin-bottom: 10px;
}

.footer_social_container p {
	margin-left: 5px;
}

/*==================================
Footer Bottom
==================================*/

// Menu Items

ul.footer_bottom_menu {
	list-style: none;
	margin: 20px 0 0;
}

ul.footer_bottom_menu li {
	display: inline-block;
	margin-right: 30px;
	font-size: 16.5px;

	@include mobile_landscape {
		width: 100%;
		margin-right: 0;
	}
}

ul.footer_bottom_menu li a:hover {
	color: $gold;
}

/*==================================
Newsletter Signup Adjustments
==================================*/

.main_footer .mc_embed_signup, .main_footer .email-signup-form {
	margin-bottom: 20px;
}