/*==================================
Structure
==================================*/

.form_container {
  margin-bottom: 30px;
}

/*==================================
General Inputs
==================================*/

// input[type="email"], input[type="text"], input[type="password"], input[type="tel"]

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 17px 20px;
  color: $brown;
  background: $white;
  border-radius: $borderRadius;
  border: 2px solid $brown;

  &::placeholder {
	  color: $borderBrown;
  }
  
  &.error {
    border: 2px solid $invalidRed;
  }
}

/*==================================
Custom Select
Uses custom font awesome down arrow as a psuedo element.
==================================*/

select {
  appearance: none;
  cursor: pointer;
}

select option:first-child {
  color: $borderBrown;
}

.form_select_container {
  position: relative;
  width: 100%;
}

.form_select_container i {
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
  line-height: 20px;
  color: $brown;
}

/* .form_select_container::after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 16px;
  line-height: 16px;
} */

/*==================================
Labels
==================================*/

form label {
  display: block;
  font-family: 'neutratextps_bold', sans-serif;
  margin-bottom: 10px;
}

.form_label_header {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0 0 10px;
    font-size: 16px;
  }
}

/*==================================
Feedback
==================================*/

.feedback {
  padding: 30px;
  margin-bottom: 30px;
  background: $lightCream;

  &.successForm {
    border-bottom: 5px solid $validGreen;
  }

  &.errorForm {
    border-bottom: 5px solid $invalidRed;
  }
}

.feedback p:last-child {
  margin-bottom: 0;
}

/*==================================
Checkbox
==================================*/

.form_checkbox_container {
  margin-bottom: 20px;
}

.form_checkbox_container label {
  display: inline;
  font-family: 'neutratextps_book', sans-serif;
}

/*==================================
Captcha Challenge
==================================*/

.shopify-challenge__container {
  padding: 50px 0;
}

/*==================================
Submit Footer
If have text next to form submit button
==================================*/

.form_submit_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_submit_footer p {
  margin: 0;
  font-size: 16px;
}

/*==================================
Newsletter Signup
==================================*/

.mc_embed_signup {
  position: relative;
}

.mc_embed_signup form, .email-signup-form form {
  display: flex;
  position: relative;
}

// Input

.mc_embed_signup .mc-embedded-subscribe-form input[type="email"], .email-signup-form input[type="email"] {
  padding: 10px;
  width: 70%;
  border: 0;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
  margin-bottom: 0;
  box-shadow: $boxShadowInput;
  -webkit-appearance: none;

  @include mobile {
    width: 60%;
  }
}

// Submit

.mc_embed_signup .mc-embedded-subscribe-form button[type="submit"], .email-signup-form button[type="submit"] {
  padding: 10px;
  height: 100%;
  border-radius: 0 3px 3px 0;
  width: 30%;
  text-transform: uppercase;
  margin-bottom: 0;
  box-shadow: $boxShadowInput;
  -webkit-appearance: none;

  @include mobile {
    width: 40%;
  }
}

// Responses

.mce-responses, .email-signup-form__response {
  font-size: 16px;
  line-height: 18px;
}

.mce-responses .response {
  padding-top: 10px;
}

.email-signup-form__response {
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0;
}

.email-signup-form__response--is-hidden {
  display: none;
}

// Centered Form - 1 field on top of other

.email-signup-form--centered form {
  flex-flow: row wrap;
}

.email-signup-form--centered input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px 3px 3px 3px;
}

.email-signup-form--centered button[type="submit"] {
  width: auto;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 3px 3px 3px 3px;
}