/*==================================
PAGE HEADER
==================================*/

.page_header {
    margin-bottom: 50px;

    @include mobile_landscape {
        margin-bottom: 20px;
    }
}

.page_header_label {
    background: $orange;
    color: white;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    font-family: 'neutratextps_bold', sans-serif;
}

/*==================================
SECTION HEADERS
==================================*/

.section_header {
    max-width: 850px;
    text-align: center;
    margin: 0 auto 50px;

    @include tablet {
        margin-bottom: 30px;
    }
}

// Title

.section_header h2 {
    font-family: 'futura_bold', sans-serif;
    margin-bottom: 10px;
    font-size: 43px;
    line-height: 50px;

    @include tablet {
        font-size: 25px;
        line-height: 33px;
    }
}

/*==================================
NORMAL HEADER WITH SUBTITLE
==================================*/

.header_with_subtitle {
    h1, h2, h3 {
        margin-bottom: 5px;
    }
}

/*==================================
Brown Background Header
==================================*/

.brown_background_header {
    background: $brown;
    color: $cream;
    padding: 10px;
}