/*==================================
MAIN HEADER
==================================*/

header.main_header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, .2);
  background: $white;
  transition: all .3s ease-in-out;

  @include tablet_landscape {
    display: none;
  }
}

.main_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.template-blog, .template-article {
  .main_header {
    display: none;
  }
}

// Menu Items

ul.header_menu_items {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}

ul.header_menu_items li {
  margin-left: 30px;
  font-size: 21px;
  line-height: 29px;
	text-transform: uppercase;
  font-family: 'futura_bold', sans-serif;
  color: $gold;

  &:first-child {
    margin-left: 0;
  }

  @include tablet_landscape {
    margin-left: 30px;
  }

  @include tablet_landscape {
    font-size: 21px;
    line-height: 29px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 25px;
    margin-left: 20px;
  }

}

ul.header_menu_items li a:hover {
  color: $orange;
}

/*==================================
MAIN HEADER TOP
==================================*/

.main_header_top {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid $gold;
  font-size: 14px;
  line-height: 14px;
  transition: height .3s ease-in-out;
  overflow: hidden;
  font-family: 'neutratextps_bold', sans-serif;
  display: flex;
  justify-content: space-between;
}

.main_header_top p {
  font-size: 14px;
  font-family: 'neutratextps_bold', sans-serif;
  line-height: 14px;
  margin-bottom: 0;
}

.main_header_top a:hover {
  color: $orange;
}

ul.main_header_top_list {
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
}

ul.main_header_top_list li {
  display: inline-block;
}

ul.main_header_top_list li:after {
  content: '|';
  padding: 0 10px 0 12px;
}

ul.main_header_top_list li:last-child:after {
  display: none;
}

// Left

.main_header_top_left {
  height: 100%;
  display: flex;
  align-items: center;
}

a.main_header_top_cta {
  height: 100%;
  background: $red;
  color: $white;
  padding: 12px 30px 10px;
  margin-right: 10px;
  display: inline-block;
  transition: all .3s ease-in-out;

  &:hover {
    background: $gold;
    color: $white;
  }
}

// Right

.main_header_top_right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Scrolled

.main_header.scrolled .main_header_top {
  height: 0;
}

/*==================================
MAIN HEADER BOTTOM
==================================*/

.main_header_bottom {
  width: 100%;
  height: 80px;
  display: flex;
}

// Header Left

.main_header_bottom_left {
  width: 75%;
  display: flex;
  align-items: center;

  @include tablet {
    width: auto;
  }
}

// Logo

.main_header_bottom .logo {
  width: 180px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
  
  @include mobile_landscape {
    width: 120px;
  }
}

.main_header_bottom .logo a {
  display: block;
}

.main_header_bottom .logo img {
  display: block;
  width: 100%;
}

// Header Right

.main_header_bottom_right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Header Icons

ul.header_icons li {
  margin-left: 20px;
  font-size: 26px;
  line-height: 30px;

  &:first-child {
    margin-left: 0;
  }
}

// Tooltips

[data-balloon]:before {
  width: 0 !important;
  height: 0 !important;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba($gold, 1);
  background: 0 0 !important;
}

[data-balloon]:after {
  text-transform: none;
  font-family: 'neutratextps_book', sans-serif !important;
  background: rgba($gold, 1);
}

/*==================================
MOBILE HEADER
==================================*/

header.mobile_header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: none;
  box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, .2);

  @include tablet_landscape {
    display: block;
  }
}

.template-blog, .template-article {
  .mobile_header {
    display: none;
  }
}

// Top

.mobile_header_top {
  border-bottom: 2px solid $gold;
  background: white;
  height: 30px;
  overflow: hidden;
  transition: height .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_header_top p {
  font-size: 14px;
  font-family: 'neutratextps_bold', sans-serif;
  line-height: 14px;
  margin-bottom: 0;
}

.mobile_header.scrolled .mobile_header_top {
  height: 0;
}

// Bottom

.mobile_header_bottom {
  width: 100%;
  height: 60px;
  background: $white;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;

  @include mobile_landscape {
    height: 60px;
  }
}

.mobile_header_bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Menu Items

.mobile_header ul.header_menu_items li {
  font-size: 18px;
  line-height: 25px;
}

// Logo

.mobile_header .logo {
  width: 100px;
  margin-right: 30px;
  transition: all .3s ease-in-out;
}

.mobile_header .logo a {
  display: block;
}

.mobile_header .logo img {
  display: block;
  width: 100%;
}

// Header Right

.mobile_header_right {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Cart

.mobile_header span.cart_count {
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 16px;
}

/*==================================
MOBILE NAVIGATION
==================================*/

ul.mobile_navigation {
  height: 0vh;
  overflow: hidden;
  background: $white;
  transition: all .5s ease-in-out;
}

.mobile_navigation li {
  width: 100%;
  display: block;
  padding: 12px 15px;
  font-family: 'futura_bold', sans-serif;
  text-transform: uppercase;
  color: $gold;
  font-size: 23px;
  line-height: 23px;
}

.mobile_navigation li:first-child {
  padding: 24px 15px 10px;
  border-top: 2px solid $borderBrown;
}

// Nav Items w/ Icon

li.with_icon a {
  display: flex;
  align-items: center;
}

li.with_icon i {
  margin-right: 10px;
  width: 30px;
  text-align: center;
}

li.with_icon span {
  font-size: 16px;
  line-height: 16px;
}

// Open State

.mobile_nav_open ul.mobile_navigation {
  height: 100vh;
  opacity: 1;
}

/*==================================
Cart Icon
==================================*/

li.cart_icon {
  position: relative;
}

span.cart_count {
  position: absolute;
  background: white;
  font-family: 'futura_bold', sans-serif;
  border: 2px solid $borderBrown;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  left: 16px;
  top: 11px;
  font-size: 14px;

  @include tablet {
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 16px;
  }
}

/*==================================
MENU ICON
==================================*/

ul.header_menu_items li.menu_icon_container {
  margin-left: 15px;
}

// Custom Hamburger Menu Icon

.menu_icon {
  position: relative;
  display: block;
  border-top: 3px solid $gold;
  height: 14px;
  width: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:before {
      content: "";
      width: 100%;
      border-bottom: 3px solid $gold;
      position: absolute;
      top: 4px;
      transition: all .3s ease-in-out;
  }  

  &:after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 18px;
      border-bottom: 3px solid $gold;
      transition: all .3s ease-in-out;
  }  

}

// Transforms to 'X' once clicked

.mobile_nav_open .menu_icon {
    border-top: 0px;

    &:before {
        transform: rotate(45deg);
        top: 0;
        border-bottom: 3px solid $gold;
    }

    &:after {
        transform: rotate(-45deg);
        bottom: 11px;
        border-bottom: 3px solid $gold;
    } 
}