/*==================================
HEADER HERO
==================================*/

.header_hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

// Content

.header_hero .content {
    width: 40%;
    padding: 30px 0;
    background: $cream;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet_landscape {
        order: 1;
        width: 100%;
    }
}

.header_hero.break_early .content {
    @include laptop {
        order: 1;
        width: 100%;
    }
}

.header_hero .content_container {
    width: 80%;
    margin: 0 auto;

    @include tablet_landscape {
        width: 90%;
    }
}

.header_hero .content h1 {
    font-size: 43px;
    line-height: 57px;
    font-family: 'futura_bold', sans-serif;

    @include tablet {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 10px;
    }
}

.header_hero .content p {
    font-size: 25px;
    line-height: 35px;

    @include mobile_landscape {
        font-size: 21px;
        line-height: 30px;
    }
}

// Media

.header_hero .media {
    width: 60%;

    @include tablet_landscape {
        width: 100%;
    }
}

.header_hero.break_early .media {
    @include laptop {
        width: 100%;
    }
}

.header_hero .image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;

    @include large_desktop {
        height: 650px;
    }

    @include tablet {
        height: 300px;
    }

    @include mobile_landscape {
        height: 200px;
    }
}

// Positioning

section.header_hero.media_on_left .media {
    order: -1;
}

/*==================================
Full Width Hero
==================================*/

.full_width_hero img {
    display: block;
    width: 100%;
}

/*==================================
Hero - A
---
Static full width image with large text on top.
==================================*/

// Structure

.hero-a {
    position: relative;
}

// Images

.hero-a__desktop-image {
    display: block;
    width: 100%;

    @include small_desktop {
        display: none;
    }
}

.hero-a__mobile-image {
    display: none;
    width: 100%;

    @include small_desktop {
        display: block;
    }
}

// Content

.hero-a__content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include small_desktop {
        position: relative;
        width: 100%;
        padding: 20px 10px;
    }
}

.hero-a__main-title {
    display: block;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0px;
    letter-spacing: .8px;
    font-family: 'neutraface_display';

    @include tablet {
        font-size: 60px;
        line-height: 60px;
    }

    @include mobile_landscape {
        font-size: 45px;
        line-height: 45px;
    }

    @include mobile {
        font-size: 39px;
        line-height: 39px;
    }
}

.hero-a__secondary-title {
    display: block;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 56px;
    font-family: 'neutraface_display';
    margin-bottom: 20px;

    @include tablet {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 5px;
    }

    @include mobile_landscape {
        font-size: 32px;
        line-height: 32px;
    }

    @include mobile {
        font-size: 28px;
        line-height: 28px;
    }
}

.hero-a__sub-title {
    display: block;
    font-size: 37px;
    line-height: 37px;
    letter-spacing: .3px;
    word-spacing: 0px;
    font-family: 'neutratextps_demi';
    margin-bottom: 20px;

    @include tablet {
        font-size: 27px;
        line-height: 27px;
        margin-bottom: 5px;
    }

    @include mobile_landscape {
        font-size: 20px;
        line-height: 20px;
    }

    @include mobile {
        font-size: 18px;
        line-height: 18px;
    }
}