/*==================================
Lists
==================================*/

ul, ol {
  margin: 0;
  padding: 0;
}

// Styled list within content areas

.wysiwyg {

    // General

    ul, ol {
        list-style: none;
        margin: 0 0 20px;
        padding-left: 0;
    }

    ul li, ol li {
        margin-bottom: 5px;
        margin-left: 20px;
        position: relative;
    }

    // Unordered List

    ul li:before {
        content: "\2022";
        padding-right: 5px;
        font-size: 40px;
        vertical-align: middle;
        display: inline-block;
        margin-left: -20px;
        position: absolute;
        left: 0;
    }

    // Ordered

    ol li {
        counter-increment: item;
    }

    ol li:before {
        padding-right: 5px;
        content: counter(item) ".";
        font-family: 'neutratextps_bold', sans-serif;
        display: inline-block;
        margin-left: -1em;
    }

}

// List with extra spacing between items

ul, ol {
    &.extra_spacing li {
        margin-bottom: 30px;

        @include mobile_landscape {
            margin-bottom: 20px;
        }
    }
}

/*==================================
Circular Social Icons
==================================*/

ul.social_icons {
  display: block;
  margin: 0;
}

ul.social_icons li {
  display: inline-block;
  margin: 0px 5px;
}

ul.social_icons a {
  background: $gold;
  color: $white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;

  &:hover{
    background: $white;
    color: $gold;
  }
}

// Custom Alignment

ul.social_icons.flush_left li:first-child {
  margin: 0 5px 0 0;
}

ul.social_icons.flush_right {
  text-align: right;

  li:last-child {
    margin: 0 0 0 10px;
  }
}

/*==================================
Filter List
==================================*/

ul.filter_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

ul.filter_list li {
    margin: 0 10px;
}

ul.filter_list li a {
    cursor: pointer;
    
    &.mixitup-control-active {
        border-bottom: 5px solid $orange;
    }
}

/*==================================
Payment Icons List
==================================*/

ul.payment_icons {
	list-style: none;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
}

ul.payment_icons li {
	margin-right: 10px;
	width: 50px;
	
	@include mobile_landscape {
        margin-right: 5px;
		width: 35px;
	}
}

ul.payment_icons img {
    display: block;
}

// Flush Right

ul.payment_icons.flush_right {
    justify-content: flex-end;
}

ul.payment_icons.flush_right li:last-child {
    margin-right: 0;
}

/*==================================
Trust Badges
==================================*/

ul.trust_badges {
	list-style: none;
	margin: 0 0 5px;
	display: flex;
	flex-flow: row wrap;
}

ul.trust_badges li {
	margin-right: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	
	@include mobile_landscape {
        margin-right: 5px;
		width: 50px;
	}
}

ul.trust_badges img {
    display: block;
}

// Flush Right

ul.trust_badges.flush_right {
    justify-content: flex-end;
}

ul.trust_badges.flush_right li:last-child {
    margin-right: 0;
}

/*==================================
Icon Info List
==================================*/

ul.icon-info-list {
    list-style: none;
    margin: 50px 0;

    @include tablet {
        margin: 30px 0;
    }
}

// Item

li.icon-info-list__item {
    display: flex;
    margin-bottom: 50px;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablet {
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }
}

// Image

.icon-info-list__image {
    flex: 0 0 50px;
    margin: 0 30px 0 0;

    @include tablet {
        margin: 0 0 20px 0;
    }
}

// Text

.icon-info-list__text {
    margin-bottom: 0;
}