/*==================================
STRUCTURE
==================================*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($black, .75);
    z-index: -10;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0s ease-in-out, z-index 0s .3s ease-in-out;
}

.modal--is-open {
    z-index: 1000;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

/*==================================
TRANSPARENT LAYER
==================================*/

.modal__transparent-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;    
}

// Main Content

.modal__content {
    width: 70%;
    z-index: 13;
    transform: scale(.95);
    background: $white;
    padding: 60px 30px 30px;
    border-radius: 3px 3px 3px 3px;

    @include tablet {
        width: 90%;
        padding: 40px 20px 20px;
    }
}

.modal--is-open .modal__content {
    transform: scale(1);
    transition: all .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

/*==================================
MODAL CLOSE
==================================*/

.modal-close__icon {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 20px;
    z-index: 10;
    color: $grey;

    @include tablet {
        right: 20px;
        top: 10px;
    }
}