/*==================================
Information Cards
==================================*/

// Structure

.information_card {
    background: $cream;
    text-align: center;
    border-radius: 5px;
    padding: 30px 20px;
    height: 100%;
    transition: all .5s $growTransition;

    &:hover {
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

}

// Icon

.information_card .icon {
    width: 100px;
    margin: 0 auto 10px;
}

// Content

.information_card p {
    margin-bottom: 0;
}

/*==================================
Photo Text Panels
==================================*/

.photo_text_panel_group .photo_text_panel {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablet {
        margin-bottom: 30px;
    }
}

// Grid Adjustments

.photo_text_panel_group .photo_text_panel .column_3_5 {
    @include tablet {
        width: 100%;
    }
}

.photo_text_panel_group .photo_text_panel .column_2_5 {
    @include tablet {
        width: 100%;
    }
}

.photo_text_panel_group .photo_text_panel.switch_order_tablet .column_2_5 {
    @include tablet {
        order: 1;
    }
}

// Image

.photo_text_panel img {
    border-radius: 5px;
}

/*==================================
Horizontal Image Content Card
==================================*/

.horizontal_image_content_card {
    display: flex;
    flex-flow: row wrap;
}

.horizontal_image_content_card .image {
    width: 50%;
    height: auto;
    background-size: cover;
    background-position: center;

    @include tablet {
        width: 100%;
        height: 300px;
    }

    @include mobile_landscape {
        height: 230px;
    }
}

.horizontal_image_content_card .content {
    width: 50%;
    padding: 20px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        width: 100%;
    }
}

// Newsletter Adjustment

.horizontal_image_content_card .mc_embed_signup .mc-embedded-subscribe-form input[type="email"] {
    border-width: 1px 0 1px 1px;
    border-style: solid;
}

/*=================================
Standard Card
==================================*/

.standard_card {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.standard_card .header {
    margin-bottom: 5px;
}

/*==================================
Press Cards
==================================*/

// Structure

.press_card {
    text-align: center;
    margin-bottom: 0;
}

// Top

.press_card_top {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.press_card_top img {
    max-height: 100%;
    max-width: 180px;
    height: auto;
    margin: 0 auto;
    align-self: center;
}

// Bottom

.press_card_bottom p {
    font-size: 16px;
    line-height: 22px;
    justify-content: center;
    max-width: 250px;
    margin: 0 auto 20px;
}

.press_card_bottom img {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto 10px;
    width: auto !important;
}

// Seperator

.press_card .seperator {
    height: 2px;
    width: 30px;
    background: $borderBrown;
    margin: 0 auto;
    margin: 20px auto;
}

/*==================================
Press Grid
==================================*/

.press-grid__column {
    border-right: 1px solid $red;

    &:last-child {
        border-right: 0;
    }
}

.press-grid__item {
    text-align: center;
}

.press-grid__item a:hover {
    color: $orange;
}

// Image

img.press-grid__image, .flexslider .slides img.press-grid__image {
    height: 60px;
    margin: 0 auto 30px;
    width: auto;

    @include mobile_landscape {
        height: 40px;
    }
}

/*==================================
Masonry Press Grid
==================================*/

// Structure

.masonry-press__set {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -10px;
}

.masonry-press__column {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.masonry-press__column--60 {
    width: 60%;

    @include tablet {
        width: 100%;
    }
}

.masonry-press__column--40 {
    width: 40%;

    @include tablet {
        width: 100%;
    }
}

.masonry-press__column--50 {
    width: 50%;

    @include tablet {
        width: 100%;
        display: none;
    }
}

// Item

.masonry-press__item {
    margin-bottom: 20px;
}

.masonry-press__item--flex-grow {
    flex: 1;
}

// Image

.masonry-press__image {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.masonry-press__image:after {
    content: '';
    display: block;
    padding-bottom: 60%;
}

.masonry-press__image--tall:after {
    padding-bottom: 150%;
}

// Block

.masonry-press__block {
    border: 2px solid $gold;
    padding: 40px 20px;
    text-align: center;
    display: block;
    box-shadow: $boxShadow;
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: $boxShadowHover;
    }
}

.masonry-press__block-logo {
    width: 200px;
    display: block;
    margin: 0 auto 20px;
}

.masonry-press__block-content {
    margin: 0 auto;
    max-width: 400px;
}

// Helpers

.masonry-press__column--hide-tablet, .masonry-press__item--hide-tablet {
    @include tablet {
        display: none;
    }
}

.masonry-press__item--higher-order-tablet {
    @include tablet {
        order: 1;
    }
}

/*==================================
Sticky Tab
==================================*/

.sticky-tab {
    position: fixed;
    top: 50%;
    right: -450px;
    display: flex;
    z-index: 10;
    height: auto;
    min-height: 180px;
    box-shadow: $boxShadow;
    transition: all .3s ease-in-out;

    @include mobile_landscape {
        right: -300px;
    }
}

.sticky-tab--is-open {
    right: 0;
}

// Label

.sticky-tab__label {
    width: 40px;
    display: block;
    background: $red;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;

    @include mobile_landscape {
        width: 33px;
    }
}

.sticky-tab__label:hover {
    background: $gold;
}

.sticky-tab__label span {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'futura_bold', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: $white;

    @include mobile_landscape {
        font-size: 14px;
    }
}

// Content

.sticky-tab__content {
    width: 450px;
    background: $white;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include mobile_landscape {
        width: 300px;
        padding: 0 10px;
    }
}

.sticky-tab__text {
    margin-bottom: 5px;
    font-family: 'neutratextps_demi', sans-serif;

    @include mobile_landscape {
        font-size: 16px;
    }
}

.sticky-tab__close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: $grey;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.sticky-tab__close:hover {
    transform: scale(.9);
}

/*==================================
Shop Our Products
==================================*/

// Structure

.shop_our_products_panel {
    display: flex;
    flex-flow: row wrap;
}

// General

.shop_our_products_panel .product_column {
    padding: 0 10px;
}

.shop_our_products_panel .product_column a.image_container {
    display: block;
    height: 300px;

    @include tablet {
        height: auto;
    }
}

.shop_our_products_panel .product_column img {
    display: block;
    width: auto;
    max-height: 100%;
    transform: scale(1);
    transition: all .3s cubic-bezier(.165,.84,.44,1);

    &:hover {
        transform: scale(1.1);
    }

    @include tablet {
        transform: scale(1);
        margin-bottom: 10px;
        height: auto;
    }
}

.shop_our_products_panel .product_details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
        margin-bottom: 0;
    }
}

// Left Product

.left_product {
    width: 35%;

    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}

.left_product .underline_link {
    align-self: flex-start;
}

// Middle Column

.middle_column {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}

.middle_column p {
    color: $borderBrown;
    font-family: 'neutratextps_bold', sans-serif;
    font-size: 40px;
}

// Right Product

.right_product {
    width: 60%;

    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}

.right_product .underline_link {
    align-self: flex-start;
}

/*==================================
Photo Text Cards
==================================*/

// Structure

.photo_text_cards {
    display: flex;
    flex-flow: row wrap;
}

// Card

.photo_text_card {
    width: 25%;

    @include tablet_landscape {
        width: 50%;
    }
}

.photo_text_card .photo {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

// Content

.photo_text_card .content {
    padding-right: 15px;
}

.photo_text_card .content h2 {
    margin-bottom: 5px;
}

/*==================================
Cream Card
==================================*/

.cream_card {
    background: $lightCream;
    border-radius: $borderRadius;
    border: 2px solid $borderBrown;
    padding: 20px;
    margin-bottom: 30px;
}

// Header

.cream_card header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1, h2, h3 {
        margin-bottom: 0;
    }
}

// Footer

.cream_card footer {
    display: flex;
    justify-content: space-between;
}

/*==================================
Logo Grid
==================================*/

// Structure

.logo_block_container {
    position: relative;
    display: block;
}

// Image 

.logo_block_image_container {
    border: 2px solid $cream;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    
    &:after {
        content: "";
        display: block;
        padding-bottom: 60%;
    }
}

.logo_block_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_block_image_container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo_block_image img {
    margin: 0 auto;
    max-height: 80px;
    
    @include mobile_landscape {
        max-height: 60px;
    }
}

// Content

.logo_block_content_container {
    margin-top: 10px;
}

.logo_block_content_container a:hover, .logo_block_image_container:hover ~ .logo_block_content_container a {
    color: $orange;
}

// Column Adjustments

.logo_grid .column_1_3 {
    @include tablet {
        width: 50%;
    }
}

/*==================================
Image Gallery
==================================*/

.image_gallery {
    display: flex;
    flex-flow: row wrap;
}

.image_gallery_item {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;

    @include tablet {
        height: 150px;
    }
}

// Grid Adjustments

.image_gallery {
    .column_1_5, .column_1_4 {
        @include tablet_landscape {
            width: 33.33%;
        }
        @include mobile_landscape {
            width: 50%;
        }
    }
} 

// Overlay

.image_gallery_item .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .5);
    color: $white;
    padding: 10px;
    opacity: 0;
    transition: all .3s ease-in-out;

    &:hover {
        opacity: 1;
    }

    @include tablet {
        opacity: 1;
    }
}

.image_gallery_item .overlay h3 {
    font-size: 14px;
    color: $white;
    margin-bottom: 5px;
}

.image_gallery_item .overlay p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}

/*==================================
Notification Banner
==================================*/

// Default

.notification_banner {
    background: $lightCream;
    padding: 20px 40px 20px 20px;
    border-radius: $borderRadius;
    border: 2px solid $borderBrown;
    margin-bottom: 40px;
    position: relative;
}

.notification_banner p:last-of-type {
    margin-bottom: 0;
}

.notification_banner .circular_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    // margin-top: -20px;
}

// Dismissible
// By default hide dismissible notifications.

.notification_banner.dismissible {
    display: none;
}

// Valid

.notification_banner.valid {
    background: $lightCream;
    border: 2px solid $validGreen;
}

// Invalid

.notification_banner.invalid {
    background: $lightCream;
    border: 2px solid $invalidRed;
}

/*==================================
Header Notification Bar
==================================*/

.header_notification_bar {
    text-align: center;
    background: $white;
    color: $brown;
    padding: 20px 0;

    @include mobile_landscape {
        padding: 10px 0;
    }
}

// Content

.header_notification_bar_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.header_notification_bar p {
    margin-bottom: 0;
    font-family: 'neutratextps_demi', sans-serif;

    @include mobile_landscape {
        font-size: 14px;
        line-height: 20px;
    }
}

.header_notification_bar_content img {
    width: 100px;
    margin-left: 10px;
    padding-bottom: 1px;
    
    @include mobile_landscape {
        width: 80px;
        margin-left: 7px;
    }
}

/*==================================
Tabs
==================================*/

// Tab Items

ul.tab_items {
    display: flex;
    list-style: none;
}

ul.tab_items li {
    border: 2px solid $borderBrown;
    border-radius: $borderRadius $borderRadius 0 0;
    background: $cream;
    padding: 5px;
    margin: 0 5px -2px;
    font-family: 'neutratextps_bold', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

   &.active {
       border-bottom: 2px solid $white;
       background: $white;
   }
}

// Tab Content

.tab_content {
   border: 2px solid $borderBrown;
   border-radius: $borderRadius;
   padding: 20px;
}

.tab_content .icon {
    width: 100px;
    margin: 0 auto;
}

// New Tab Styling

ul.tabs {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}

ul.tabs li {
    border: 2px solid $red;
    background: $white;
    padding: 10px;
    font-family: 'futura_bold', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

ul.tabs li.active, ul.tabs li.flex-active {
    background: $red;
    color: $white;
}

/*==================================
Checkout Bar
==================================*/

.checkout_bar {
    background: rgba($tan75, 1);
    padding: 30px 0;
    text-align: center;
    position: fixed;
    bottom: -50px;
    left: 0;
    width: 100%;
    z-index: -10;
    opacity: 0;
    transition: all .3s ease-in-out;

    &.visible {
        z-index: 10;
        opacity: 1;
        bottom: 0;
    }

    @include tablet {
        padding: 10px 0;
    }
}

/*==================================
Icon Group
==================================*/

// Structure

ul.icon_group {
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

// Individual Icon

li.icon_group_container {
    text-align: center;
    width: 20%;
    padding: 0 10px;
    
    @include tablet_landscape {
        width: 25%;
    }
    
    @include tablet {
        width: 50%;
    }
}

li.icon_group_container img {
    height: 100px;
}

li.icon_group_container p {
    font-size: 16px;
    line-height: 20px;
    font-family: 'neutratextps_bold', sans-serif;
}

/*==================================
Text Panel
==================================*/

// Structure

.text_panel {
    padding: 100px 0;
    text-align: center;
    
    @include mobile_landscape {
        padding: 50px 0;
    }
}

// Colors

.text_panel.black {
    color: $white;
    background: $black;
}

.text_panel.cream {
    color: $brown;
    background: $cream;
}

// Font

.text_panel h4 {
    color: inherit;
}

.text_panel p {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 0;
    
    @include mobile_landscape {
        font-size: 25px;
        line-height: 35px;
    }
}