/*==================================
Reviews Structure
==================================*/

.product_reviews .spr-container {
    padding: 0;
    border: 0;
}

/*==================================
Write A Review Form
==================================*/

.product_reviews .spr-form-title {
    font-size: inherit;
    line-height: inherit;
}

.product_reviews .spr-form-label {
    font-size: inherit;
    line-height: inherit;
}

// Stars

.product_reviews .spr-form-review-rating {
    margin: 0 0 20px 0;
}

// Form Fields

.product_reviews {
    .spr-form-contact-name, .spr-form-contact-email, .spr-form-contact-location, .spr-form-review-rating, .spr-form-review-title, .spr-form-review-body {
        margin: 0 0 10px 0;
    }

    .spr-form-input {
        margin-bottom: 10px !important;
    }
}

/*==================================
Reviews Header
==================================*/

.spr-summary-caption {
    @include mobile_landscape {
        width: 100%;
        display: block;
        margin: 10px 0;
    }
}

.spr-summary-actions-newreview, .spr-button-primary {
    border-radius: $borderRadius;
    padding: 15px 30px;
    font-family: 'neutratextps_bold', sans-serif;
    text-transform: capitalize;
    font-size: 21px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    transition: all .3s ease-in-out;
    background: $red;
    color: $cream !important;
    border: 0;

    &:hover {
        background: $gold;
        color: $cream;
    }

    &:visited {
        color: $cream;
    }

    @include mobile_landscape {
        font-size: 18px;
        line-height: 23px;
        padding: 10px 20px;
    }
}

/*==================================
Individual Review
==================================*/

// Container

.product_reviews .spr-review {
    padding: 10px 0px;
}

.product_reviews .spr-review-content {
    margin: 0 0 10px 0;
}

// Stars

.spr-icon:before, .product_reviews .spr-icon:before {
    color: $orange;
}

// Title / Body Content

span.spr-review-header-byline {
    font-size: 16px;
    font-style: normal;
    opacity: 1;
    margin: 0 0 10px 0;

    span.verified {
        color: $amazonVerified;
        font-weight: bold;
    }
}

.product_reviews .spr-review-header-title {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 10px;
}

.product_reviews .spr-review-content-body {
    font-size: inherit;
    line-height: inherit;
}

// Review Response

.spr-review-reply {
    display: none;
}

// Report Review

.spr-review-reportreview {
    display: none;
}

// Footer

.product_reviews {
    .fa-check-circle-o, .fa-share-alt, .fa-thumbs-down, .fa-thumbs-up {
        color: $brown;
        opacity: .6;
        padding: 0;
    }
}

