/*==================================
FLEXSLIDER DIRECTION NAV
==================================*/

.flexslider .flex-direction-nav a {
	top: 50%;
}

.flexslider .flex-direction-nav i {
    color: $orange;
    font-size: 33px;
    line-height: 32px;
}

.flexslider .flex-direction-nav .flex-prev {
    left: -30px;
}

.flexslider .flex-direction-nav .flex-next {
    right: -30px;
}

/*==================================
FLEXSLIDER CONTROL NAV
==================================*/

// Control Nav

.flex-control-paging {
  z-index: 10;
}

.flex-control-nav {
    bottom: 0;
    position: relative;
}

.flexslider .flex-control-paging li a {
    background: $grey;
    box-shadow: none;
}

.flexslider .flex-control-paging li a:hover, .flexslider .flex-control-paging li a.flex-active {
    background: $lightBrown;
}

/*==================================
FLEXSLIDER FULL WIDTH SLIDER
==================================*/

// Images

.full_width_slider img.image_full {
    display: block;
    
    @include tablet {
        display: none;
    }
}

.full_width_slider img.image_mobile {
    display: none;
    
    @include tablet {
        display: block;
    }
}

// Control Nav Adjustments

.flexslider.full_width_slider .flex-control-nav {
    position: absolute;
}

// Direction Nav Adjustments

.flexslider.full_width_slider .flex-direction-nav .flex-prev {
    left: 30px;
}

.flexslider.full_width_slider .flex-direction-nav .flex-next {
    right: 30px;
}

/*==================================
FLEXSLIDER QUOTE SLIDER
==================================*/

.quote_slide p.quote {
    font-size: 33px;
    line-height: 40px;

    @include mobile_landscape {
        font-size: 23px;
        line-height: 26px;
    }
}

.quote_slide_container {
    max-width: 850px;
    text-align: center;
    margin: 0 auto 40px;
}

// Quote Slider

.flexslider.quote_slider {
    overflow: visible !important;

    @include mobile_landscape {
      margin-bottom: 0;
    }
}

// Direction Nav Adjustments

.flexslider.quote_slider .flex-direction-nav {
    @include mobile_landscape {
        display: none;
    }
}

/*==================================
Slick Arrows
==================================*/

.slick-arrow {
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    z-index: 100;
    color: $orange;
    font-size: 35px;
    outline: 0;
}

// Previous

.slick-arrow.slick-prev {
    left: 15px;
}

// Next

.slick-arrow.slick-next {
    right: 15px;
}

/*==================================
Slick Carousel - Center Mode
==================================*/

// Item

.slick_carousel.center_mode .slick_carousel_item {
    padding: 0 5px;
}

// Background Image

.slick_carousel.center_mode .slick_carousel_item .image {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;

    @include tablet {
        height: 500px;
    }

    @include mobile_landscape {
        height: 400px;
    }

    @include mobile {
        height: 300px;
    }
}

// Title/Content

.slick_carousel.center_mode .slick_carousel_item h2 {
    margin-bottom: 10px;
}

// Arrow Adjustments

.slick_carousel.center_mode .slick-arrow {
    margin-top: -100px;
}

/*==================================
Slick Carousel - Photo Carousel
==================================*/

// Item

.photo_carousel .slick_carousel_item {
    margin: 0;
    position: relative;
}

.photo_carousel .slick_carousel_item:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

// Background Image

.slick_carousel.photo_carousel .slick_carousel_item .image {
    width: 100%;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

// Hover Content

.slick_carousel.photo_carousel .slick_carousel_item .content_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black,.8);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.slick_carousel.photo_carousel .slick_carousel_item:hover .content_container {
    opacity: 1;
}

.slick_carousel.photo_carousel .slick_carousel_item .content {
    text-align: center;
}

.slick_carousel.photo_carousel .slick_carousel_item .content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
}

// Image Link

.slick_carousel.photo_carousel .slick_carousel_item a.image_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

// Arrow Adjustments

.slick_carousel.photo_carousel .slick-arrow {
    background: $orange;
    color: $white;
    width: 50px;
    height: 50px;
    outline: 0;
    transition: all .3s ease-in-out;
    
    &:hover {
        opacity: .8;
    }
    
    @include mobile_landscape {
        display: none !important;
    }
}

.slick_carousel.photo_carousel .slick-arrow.slick-prev {
    left: -25px;
}

.slick_carousel.photo_carousel .slick-arrow.slick-next {
    right: -25px;
}

/*==================================
Slick Carousel - Testimonial Carousel
==================================*/

// Slick Elements

.testimonial-carousel.slick-slider {
    padding: 0 60px;

    @include tablet {
        padding: 0 10px;
    }
};

.testimonial-carousel .slick-list {
    overflow: visible;
    padding: 0 20px !important;
}

.testimonial-carousel .slick-track {
    display: flex;
}

.testimonial-carousel .slick-track .slick-slide {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

// General Carousel Item

.testimonial-carousel-item {
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba($black,0.16), 0 4px 4px 0 rgba($black,0.08)
}

// Quote

.testimonial-carousel-quote {
    background: $white;
    padding: 40px 20px;
    height: 350px;
    width: 100%;
    margin: 10px 0;
    text-align: center;

    @include tablet {
        height: 300px;
    }
}

.testimonial-carousel-quote__stars img {
    margin: 0 auto 30px;
}

.testimonial-carousel-quote__title {
    margin-bottom: 10px;
}

.testimonial-carousel-quote__bottom img {
    width: 130px;
    margin: 0 auto;
}

// Image

.testimonial-carousel-image {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

// Arrows

.testimonial-carousel .slick-arrow {
    opacity: 0;
    transition: opacity .3s ease-in-out;

    @include mobile_landscape {
        display: none;
    }
}

.testimonial-carousel:hover .slick-arrow {
    opacity: 1;
}
