/*------------------------
General Stucture
------------------------*/

.table {
    margin-bottom: 20px;
}

.table_row {
    display: flex;
    padding: 30px 0;
    border-bottom: 2px solid $borderBrown;

    &:last-child {
        border-bottom: 0;
    }

    @include tablet {
        padding: 20px 0 0;
        flex-flow: row wrap;
    }
  
}

// Cells

.table_cell {
    width: 25%;
    text-align: center;

    @include mobile_landscape {
      width: 50%;
    }
}

.table_cell.fourty {
    width: 40%;
}

.table_cell.twenty {
    width: 20%;
}

.table_cell.fifteen {
    width: 15%;
}

.table_cell.left {
  text-align: left;
  
  @include mobile_landscape {
    text-align: left;
  }
}

.table_cell.right {
  text-align: right;
}

.table_cell.vertical_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------------------
Header
------------------------*/

.table_header {
    padding: 5px 0;
    border-bottom: 5px solid $borderBrown;
    font-family: 'neutratextps_bold', sans-serif;
    text-transform: uppercase;
    color: $borderBrown;

    @include tablet {
      display: none;
    }
}

/*------------------------
Body
------------------------*/

.table_body {
    border-bottom: 5px solid $borderBrown;

    h1, h2, h3 {
        color: $brown;
    }
}

/*------------------------
Footer
------------------------*/

.table_footer .table_row .table_cell:first-child {
    justify-content: space-between;
    width: 75%;
}

.order_table .table_body {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}