/*==================================
Plyr Video
==================================*/

.plyr__control {
    color: $white;
}

.plyr__control--overlaid {
    background: rgba($orange, .8);
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: rgba($orange, .8);
}

.plyr--full-ui input[type=range] {
    color: $orange;
}