/*==================================
Structure
==================================*/

.yotpo_container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

/*==================================
Yotpo Reviews
==================================*/

// Powered by Yotpo Label

.yotpo-label.yotpo-small-box {
    display: none !important;
}

.yotpo .write-review.yotpo-regular-box {
    border-top: 2px solid $brown !important;
}

.yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button {
    top: 21px !important;
}

label.y-label.yotpo-header-title {
    display: none !important;
}

.yotpo-header-element span.y-label.yotpo-user-title.yotpo-action-hover {
    font-size: 13px !important;
}

.yotpo .yotpo-review .yotpo-main .content-title {
    color: $brown !important;
}

.yotpo-regular-box.yotpo-bottomline {
    border-top: 0 !important;
}

// Review Stars

.yotpo.yotpo-main-widget .write-review .yotpo-header .yotpo-icon {
    color: $orange !important;
}

// Form Elements

.yotpo .y-label, .yotpo label.y-label, .yotpo .form-group .form-element .y-label {
    color: $brown !important;
    font-family: 'neutratextps_book', sans-serif !important;
    font-size: 18px !important;
	line-height: 23px !important;
}

.yotpo.yotpo-main-widget {
    input, .y-input {
        height: auto;
    }
}

.yotpo .text-box, .yotpo .yotpo-text-box {
    padding: 17px 20px !important;
    color: $brown !important;
    background: $white !important;
    border-radius: $borderRadius !important;
    border: 2px solid $brown !important;
}

.yotpo .yotpo-default-button {
    background: $red !important;
    text-transform: capitalize !important;
    border-radius: $borderRadius;
    padding: 15px 30px;
    font-family: 'neutratextps_bold', sans-serif !important;
    font-size: 21px !important;
    line-height: 29px !important;
}

.yotpo.yotpo-main-widget .primary-color-btn:hover , .yotpo.yotpo-main-widget input[type="button"].primary-color-btn:hover, .yotpo.yotpo-main-widget .primary-color-btn.yotpo-disabled:hover, .yotpo.yotpo-main-widget input[type="button"].primary-color-btn.yotpo-disabled:hover {
    background: $gold !important;
}

.yotpo-default-button.yotpo-icon-btn {
    background: $orange !important;
}

// Stars

.yotpo .yotpo-first-review .yotpo-first-review-stars .yotpo-icon-star {
    color: $orange !important;
}

// Review Nav

.yotpo.yotpo-main-widget .yotpo-small-box.yotpo-nav.reviews {
    border-bottom: 0;
    margin-bottom: 20px;
    padding-top: 0;
}

// Icons

.yotpo.yotpo-main-widget .transparent-color-btn span.yotpo-icon, span.yotpo-icon.yotpo-icon-share {
    color: $orange;
}

// Links

.yotpo.yotpo-main-widget a {
    color: inherit !important;
}

.yotpo.yotpo-main-widget a:hover, .yotpo.yotpo-main-widget .yotpo-review .yotpo-footer .yotpo-action:hover {
    color: $orange !important;
}

// Review Content

.yotpo .yotpo-review .yotpo-main .content-review, .yotpo .yotpo-comment .yotpo-main .content-review, .yotpo .yotpo-question .yotpo-main .content-review {
    color: $brown !important;
}

// Profile Icon

.yotpo .yotpo-review .yotpo-header .yotpo-icon-profile, .yotpo .yotpo-comment .yotpo-header .yotpo-icon-profile, .yotpo .yotpo-question .yotpo-header .yotpo-icon-profile {
    background: $cream !important;
}

// Review Boxes

.yotpo.yotpo-main-widget  .yotpo-review.yotpo-regular-box {
    background: $lightCream;
    padding: 25px 25px 22px;
    margin-bottom: 20px;
    border-radius: $borderRadius;
    border-top: 0;
}

.yotpo-footer label.y-label {
    font-size: 15px !important;
}

// Mobile Adjustments
// Particularly being able to show the write reviews icon

.yotpo-regular-box > .yotpo-default-button.yotpo-icon-btn.pull-right.yotpo-hidden-mobile.write-button.write-review-button {
    display: block !important;
}

.yotpo-nav.reviews .yotpo-icon-btn-big.transparent-color-btn.yotpo-visible-mobile {
    display: none !important;
}