/*==================================
Account Header
==================================*/

.account_header {
    display: flex;
    justify-content: space-between;
}

/*==================================
Navigation
==================================*/

// Desktop Navigation

.account_navigation {
    list-style: none;
    margin-bottom: 30px;
}

.account_navigation li {
    margin-bottom: 10px;
}

.account_navigation li a {
    color: $brown;
	font-size: 21px;
	line-height: 28px;
    font-family: 'futura_bold';
    
    &.active {
        color: $orange;
    }
	
	&:hover {
		color: $orange;
	}
}

// Mobile Navigation

.mobile_account_navigation_button {
    background: $lightCream;
    padding: 10px;
    color: $brown;
	font-size: 21px;
	line-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_account_navigation_button span {
    font-size: 12px;
    transition: all .2s ease-in-out;

    &.rotated_up {
        transform: rotate(-180deg);
    }
}

ul.mobile_account_navigation {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    margin-bottom: 20px;
    left: 0;
    transition: all .2s ease-in-out;

    &.open {
      max-height: 800px;
      opacity: 1;
    }
}

ul.mobile_account_navigation li {
    background: $lightCream;
    border-top: 1px solid $borderBrown;
    margin-bottom: 0;
}

.mobile_account_navigation li a {
    display: block;
    padding: 10px;

    &.active {
        color: $orange;
    }
}

/*==================================
Address
==================================*/

// Address Container

.address_container {
    background: $lightCream;
    border-radius: $borderRadius;
    border: 2px solid $borderBrown;
    padding: 20px;
    margin-bottom: 30px;
}

// Address Footer

.address_footer {
    display: flex;
    justify-content: space-between;
}

.address_footer p {
    margin-bottom: 0;
}