/*==================================
Menu
==================================*/

ul.product_collections_menu {
    list-style: none;
    padding: 30px 0 0;
}

ul.product_collections_menu li {
    display: inline-block;
    margin-right: 50px;
    color: $brown;
    font-family: 'neutratextps_bold', sans-serif;
    font-size: 35px;
    line-height: 43px;

    @include tablet_landscape {
        font-size: 28px;
        line-height: 35px;
        margin-right: 20px;
    }

    @include tablet {
        font-size: 18px;
        line-height: 30px;
        margin-right: 5px;
    }

    @include mobile_landscape {
        font-size: 16px;
        line-height: 28px;
    }
}

/*==================================
Product Collection Header
==================================*/

// Structure

.product_collection_header {
    display: flex;
    margin-bottom: 50px;

    @include tablet {
        margin-bottom: 20px;
    }
}

// Icon

.product_collection_header .icon {
    background: $cream;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}

.product_collection_header .icon img {
    width: 50px;

    @include tablet {
        width: 30px;
    }
}

// Title/Description

.product_collection_header .content {
    flex: 1;
}

.product_collection_title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product_collection_title .icon {
    width: 50px;
    height: 50px;
    display: none;

    img {
        width: 30px;
    }

    @include tablet {
        display: flex;
    }
}

.product_collection_header .content {
    @include tablet {
        width: 100%;
    }
}

.product_collection_header h2 {
    border-bottom: 2px solid;
    margin-bottom: 0;
    display: inline-block;
    font-family: 'futura_bold', sans-serif;
    text-transform: uppercase;
}

/*==================================
Individual Product Card
==================================*/

.individual_product_card {
    display: flex;
    flex-direction: column;
    @include tablet {
        width: 50%;
    }
    @include mobile_landscape {
        width: 100%;
    }
}

// Featured Image

.individual_product_card .product_image {
    margin: 0 auto 30px;
    transform: scale(1);
    transition: all .5s $growTransition;
    display: block;

    &:hover {
        transform: scale(1.15);
    }
}

// Add extra margin left to account for shadow on product images

.individual_product_card .product_image img {
    width: auto;
    display: block;
    margin-left: 30px;
    max-height: 300px;

    @include tablet {
        margin-left: 0;
    }
}

// Content

.individual_product_card_bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.individual_product_card .product_details {
    margin-bottom: 20px;
    flex-grow: 1;

    @include tablet {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 5px;
    }
}

.individual_product_card .product_details h1 {
    margin-bottom: 5px;
}

.individual_product_card .product_details p {
    margin-bottom: 5px;
}

// Adjustments to Quantity Updater on Mobile

.individual_product_card .quantity_updater_container {
    @include mobile_landscape {
        width: 100%;
        margin-bottom: 10px;
    }
}

// Button

.individual_product_card .add_to_cart_button {
    // margin-bottom: 20px;
}