/*==================================
Cart Table
==================================*/

.cart_table {
    margin-bottom: 50px;
}

// Table Grid Adjustments

.cart_table .table_cell.twenty {
    @include tablet {
        width: 50%;
    }
}

/*==================================
Cart Item
==================================*/

.cart_item {
    position: relative;
}

// Remove Cart Item

.remove_cart_item {
    @include tablet {
        position: absolute;
        top: 0;
        right: 0;
    }
}

// Item Details

.table_cell.fourty.cart_item_details, .cart_item_details {
    display: flex;
    position: relative;

    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}

.cart_item_details p {
    @include tablet {
        font-size: 16px;
        line-height: 16px;
    }
}

.cart_item_details .product_image {
    margin-right: 10px;
    width: 100px;

    @include tablet {
        width: 60px;
    }
}

.cart_item_details .product_info {
    width: 70%;
    
    h2, p {
        margin-bottom: 5px;
    }
}

.cart_item_details .remove_cart_item {
    cursor: pointer;
}

// Quantity

.cart_item_quantity .quantity_updater_container {
    justify-content: center;
    width: 70%;
    margin: 0 auto;

    @include tablet {
        justify-content: flex-start;
        margin: 0;
    }
}

/*==================================
Cart Footer
==================================*/

.cart_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

// Left Side

.cart_footer_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include tablet {
        order: 1;
        width: 100%;
        align-items: flex-start;
    }
}

// Right Side

.cart_footer_right {
    width: 70%;
    text-align: right;

    @include tablet {
        width: 100%;
        margin-bottom: 30px;
    }
}

.cart_footer_right .btn {
    margin-bottom: 20px;
}

/*==================================
Order Calculations
==================================*/

.order_calculation_line {
    display: flex;
}

.order_calculation_title {
    width: 90%;
    text-align: right;

    h2 {
        text-transform: uppercase;
    }

    @include mobile_landscape {
        text-align: left;
    }
}

.order_calculation_price {
    width: 10%;
    text-align: right;
    
    @include mobile_landscape {
        width: 30%;
    }
}

.order_calculations h2 {
    margin-bottom: 10px;

    @include mobile_landscape {
        font-size: 16px;
        line-height: 16px;
    }
}

/*==================================
Checkout Button
==================================*/

.checkout_button_container {
    display: flex;
    justify-content: flex-end;
}