/*================
Chart Section
================*/

// Structure

.comparison-chart__panel {
    background: $cream;
    padding: 40px 0 15px;
    position: relative;

    @include tablet {
        padding: 20px 0 0;
    }
}

.comparison-chart__panel .down-arrow-btn {
    @include tablet {
        margin-bottom: 20px;
    }
}

// Desktop Image

.comparison-chart__desktop-image {
    display: block;
    position: relative;
    z-index: 10;
    transform: translateX(68px);
}

// Header

.comparison-chart-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 20px;
    }
}

.comparison-chart-header__image {
    width: 60%;
    position: relative;
    padding-right: 50px;
    margin-right: 50px;

    @include tablet_landscape {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
}

.comparison-chart-header__image:after {
    content: "";
    width: 2px;
    height: 100px;
    background: $brown;
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -50px;

    @include tablet_landscape {
        display: none;
    }
}

.comparison-chart-header__image img {
    display: block;
    width: 100%;
}

.comparison-chart-header__cta-title {
    display: block;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: .3px;
    word-spacing: 0px;
    font-family: 'neutratextps_demi';
    margin-bottom: 20px;

    @include tablet {
        font-size: 16px;
        line-height: 23px;
    }
}

.comparison-chart-header__cta {
    width: 40%;
    position: relative;

    @include tablet_landscape {
        display: none;
    }
}

// Sunburst

img.comparison-chart__sunburst {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

// Coffee

.comparison-chart-coffee {
    position: absolute;

    @include tablet {
        display: none;
    }
}

.comparison-chart-coffee--left {
    left: -255px;
    top: -90px;
    width: 360px;

    @include tablet_landscape {
        left: -243px;
        top: -90px;
        width: 330px;
    }
}

.comparison-chart-coffee--right {
    right: -280px;
    width: 400px;
    top: 0;

    @include tablet_landscape {
        right: -200px;
        width: 250px;
    }
}

/*================
What's Inside
================*/

.whats-inside {
    background-size: cover;
    background-position: center;
    padding: 100px 0;

    @include tablet {
        padding: 20px 0;
        text-align: center;
        background-image: none !important;
    }
}

.whats-inside .column_1_2 {
    @include tablet {
        width: 100%;
    }
}

// Mobile Image

.whats-inside__mobile-image {
    display: none;

    @include tablet {
        display: block;
    }
}

/*================
Meet The Founder
================*/

.meet-the-founder-panel {
    @include tablet {
        text-align: center;
    }
}

.meet-the-founder-panel .column_1_2 {
    @include tablet {
        width: 100%;
    }
}

/*================
Product Nutrition Facts
================*/

.product-nutrition-facts {
    background: $lightCream;
}

.product-nutrition-facts__container {
    position: relative;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

// Images 

.product-nutrition-facts__desktop-image {
    display: block;
    width: 100%;

    @include laptop {
        transform: translateX(35px);
    }

    @include tablet_landscape {
        display: none;
    }
}

.product-nutrition-facts__mobile-image {
    display: none;

    @include tablet_landscape {
        display: block;
        width: 100%;
    }
}

// Content

.product-nutrition-facts__content {
    position: absolute;
    top: 0;
    text-align: center;
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include laptop {
        left: -2.5%;
    }

    @include tablet_landscape {
        position: relative;
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }
}

.product-nutrition-facts__title {
    margin-bottom: 5px;
}