/*==================================
Post Card
==================================*/

// Structure

.post_card {
    padding-bottom: 25px;
    border-bottom: 1px solid $cream;
    margin-bottom: 20px;

    &:last-child {
        border-bottom: 0;
    }
}

// Top

.post_card_top {
    margin-bottom: 20px;

    h1, p {
        margin-bottom: 5px;
    }
}

/*==================================
Individual Post
==================================*/

// Body

.post_body {
    // margin-bottom: 40px;
}

// Header

.post_header {
    margin-bottom: 20px;

    h1,p {
        margin-bottom: 5px;
    }
}

// Section Elements

div#shopify-section-press_blog_post .panel, div#shopify-section-icon_group_blog .panel {
    padding-top: 0;
}

/*==================================
Wysiwyg Element Adjustments
==================================*/

// Button

.wysiwyg .btn {
    margin-bottom: 20px;
}

// Images

.wysiwyg img {
    margin-bottom: 20px;
}

img[style="float: left;"] {
  margin-right: 20px;
}