/*==================================
Structure
==================================*/

.product_row_top {
    .column_3_5, .column_2_5 {
        @include tablet {
            width: 100%;
        }
    }
}

/*==================================
Product Slider
==================================*/

// Structure

.product_slider_container {
    display: flex;
}

// Thumbnails

ul.product_slider_thumbnails {
    list-style: none;
    width: 20%;

    @include tablet {
        width: 15%;
    }
}

ul.product_slider_thumbnails li.product_slider_thumbnail_image {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    border: 2px solid $borderBrown;
    border-radius: $borderRadius;

    @include tablet {
        height: 60px;
        margin-bottom: 5px;
    }

    @include mobile {
        height: 40px;
    }
}

ul.product_slider_thumbnails li.underline_link {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;

    @include mobile {
        font-size: 12px;
        line-height: 16px;
    }
}

// Slider

.product_slider {
    width: 80%;
    padding: 0 20px;
}

.flexslider.product_slider .slides > li > img {
    width: auto;
    margin: 0 auto;
    max-height: 400px;

    @include tablet {
        max-height: 200px;
    }

    @include mobile {
        max-height: 180px;
    }
}

// Product Image Zoom

.drift-zoom-pane.drift-inline {
    z-index: 100;
}

/*==================================
Product Details
==================================*/

// Extra margin after the add to cart form

.individual_product_details_container .add_to_cart_form {
    margin-bottom: 20px;
}

// Stars

.individual_product_details_container .spr-badge {
    margin-bottom: 10px;
}

// Product Price / Variant Info

.individual_product_details_container .product_price {
    margin-bottom: 10px;
}

.individual_product_details_container .variant_info {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'neutratextps_book', sans-serif;
    
    @include mobile_landscape {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }
}