/*================
Top Section
================*/

section.psl_top {
    background-image: url('psl_desktop_background_graphic.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    @include mobile_landscape {
        background-image: url('psl_mobile_background_graphic.jpg');
        background-position: center top;
        background-size: 100% auto;
    }
}

/*================
Intro Container
================*/

.psl_intro_container {
    position: relative;
    background: $cream;
    width: 57.9%;
    clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
    padding: 150px 40px 50px;
    
    @include tablet_landscape {
        width: 100%;
        clip-path: polygon(0 0,100% 0,40% 100%,0 100%);
        padding: 80px 20px 200px;
    }
}

.psl_intro_container h1 {
    font-size: 66px;
    line-height: 68px;
    font-family: 'futura_bold';
    color: $pslDarkOrange;
    text-transform: uppercase;
    
    @include laptop {
        font-size: 40px;
        line-height: 43px;
    }
    
    @include mobile_landscape {
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 10px;
    } 
}

.psl_intro_container h1 span {
    font-size: 54px;
    line-height: 56px;
    
    @include laptop {
        font-size: 33px;
        line-height: 35px;
    }
    
    @include mobile_landscape {
        font-size: 25px;
        line-height: 27px;
    }
}

.psl_intro_container p {
    color: $pslRed;
    
    @include mobile_landscape {
        font-size: 14px;
    }
}

.psl_intro_container .rectangle_label {
    background: $pslRed;
    position: absolute;
    top: 50px;
    left: 0;
    
    @include tablet_landscape {
        top: 20px;
    }
}

/*================
Icons Container
================*/

.psl_icons_container {
    background: white;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    width: 62.9%;
    clip-path: polygon(0 0,92% 0,100% 100%,0 100%);
    
    @include tablet_landscape {
        width: 100%;
        clip-path: none;
    }
    
    @include tablet {
        padding: 20px 10px;
    }
}   

.icon_container {
    margin-right: 40px;
    width: 25%;
    max-width: 180px;
    
    @include tablet_landscape {
        margin: 0 10px;
        width: 33.33%;
    }
}

.icon_container img {
    display: block;
    width: 100%;
}
    
/*================
Email Container
================*/

.psl_email_signup_container {
    background: $pslRed;
    color: $white;
    padding: 80px 40px 70px;
    width: 80%;
    clip-path: polygon(0 0,78.6% 0,100% 100%,0 100%);
    
    @include tablet_landscape {
        width: 100%;
        clip-path: none;
        text-align: center;
    }
    
    @include tablet {
        padding: 40px 20px 30px;
    }
}

.psl_email_signup_container header {
    margin-bottom: 30px;
}

.psl_email_signup_container header h1 {
    margin-bottom: 10px;
    
    @include tablet {
        padding: 0 30px;
    }
}

.psl_email_signup_container header p br {
    @include tablet_landscape {
        display: none;
    }
}

// Mailchimp Signup Adjustments

.psl_email_signup_container form.validate.mc-embedded-subscribe-form {
    max-width: 750px;
}

.psl_email_signup_container button#mc-embedded-subscribe {
    background: $pslOrange;
    
    &:hover {
        background: $orange;
    }
}

/*================
Animated Bottles
================*/

.psl_bottle.enlarged {
    transition: all 1s .5s $bounceIn;
}

.psl_bottle.moving {
    transition: all .3s $bounceIn;
}

// Desktop Bottles

.psl_bottle_desktop, .pml_bottle_desktop {
    position: absolute;
    opacity: 0;
    transform: scale(.7);
    
    @include tablet_landscape {
        display: none;
    }
}

img.psl_bottle_desktop {
    top: 20px;
    left: 50%;
    width: 340px;
    
    @include laptop {
        width: 300px;
    }
}

img.pml_bottle_desktop {
    top: 130px;
    width: 430px;
    right: -3%;
    
    @include laptop {
        width: 350px;
    }
}

// Mobile Bottles

img.psl_bottle_mobile, img.pml_bottle_mobile {
    display: none;
    opacity: 0;
    transform: scale(.7);
    transition: all 1s .5s $bounceIn;
    
    @include tablet_landscape {
        display: block;
    }
}

img.psl_bottle_mobile {
    width: 250px;
    position: absolute;
    top: 10%;
    right: 0%;
    
    @include tablet {
        width: 180px;
    }
    
    @include mobile_landscape {
        top: 17%;
        right: -14%;
    }
}

img.pml_bottle_mobile {
    width: 200px;
    position: absolute;
    top: 20%;
    right: 30%;
    
    @include tablet {
        width: 180px;
        right: 25%;
        top: 25%;
    }
    
    @include mobile_landscape {
        top: 23%;
        right: 35%;
    }
}

// Loaded Animation

.main_content.loaded {
    img.psl_bottle_desktop, img.pml_bottle_desktop, img.pml_bottle_mobile, img.psl_bottle_mobile {
        opacity: 1;
        transform: scale(1);
    }
}

/*================
Bottom Bottles
================*/

section.psl_bottom {
    padding: 60px 40px 40px;
    display: flex;
    flex-flow: row wrap;
    
    @include tablet {
        padding: 40px 0 20px;
    }
}

// Bottles

section.psl_bottom .bottles {
    width: 70%;
    
    @include tablet {
        width: 100%;
    }
}

section.psl_bottom .bottles img {
    transform: scale(.9);
    transition: all .3s $growTransition;
    
    &:hover {
       transform: scale(1); 
    }

    @include tablet {
        width: 130%;
        max-width: none;
        transform: scale(1) translateX(-8%);
    }
}

// Content

section.psl_bottom .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    
    @include tablet {
        width: 100%;
        order: -1;
        margin-bottom: 30px;
    }
}

section.psl_bottom .content h1 {
    color: $pslRed;
}
