@font-face {
  font-family: 'neutratextps_book';
  src: url('https://cdn.shopify.com/s/files/1/1978/7807/files/NeutraTextPS-Book.ttf?11607019472425775184') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neutratextps_bold';
  src: url('https://cdn.shopify.com/s/files/1/1978/7807/files/NeutraTextPS-Bold.ttf?14620419324699324468') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, p {
    color: #653B2D;
    font-family: 'neutratextps_bold', sans-serif;
}

.navbar__branding, h1, h2, h3 {
    color: #653B2D;
    font-family: 'neutratextps_bold', sans-serif;
}

.breadcrumbs .crumb+.crumb:after, .breadcrumbs .crumb+.rc_crumb:after, .breadcrumbs .rc_crumb+.crumb:after, .breadcrumbs .rc_crumb+.rc_crumb:after, .rc_breadcrumbs .crumb+.crumb:after, .rc_breadcrumbs .crumb+.rc_crumb:after, .rc_breadcrumbs .rc_crumb+.crumb:after, .rc_breadcrumbs .rc_crumb+.rc_crumb:after {
    border-left-color: #F1EBDE;
}

.breadcrumbs .crumb:hover+.crumb:after, .breadcrumbs .crumb:hover+.rc_crumb:after, .breadcrumbs .rc_crumb:hover+.crumb:after, .breadcrumbs .rc_crumb:hover+.rc_crumb:after, .rc_breadcrumbs .crumb:hover+.crumb:after, .rc_breadcrumbs .crumb:hover+.rc_crumb:after, .rc_breadcrumbs .rc_crumb:hover+.crumb:after, .rc_breadcrumbs .rc_crumb:hover+.rc_crumb:after {
border-left-color: #F1EBDE;
}

.breadcrumbs .crumb>a, .breadcrumbs .crumb>span, .breadcrumbs .rc_crumb>a, .breadcrumbs .rc_crumb>span, .rc_breadcrumbs .crumb>a, .rc_breadcrumbs .crumb>span, .rc_breadcrumbs .rc_crumb>a, .rc_breadcrumbs .rc_crumb>span {
 color: #653B2D;
}

.breadcrumbs .crumb:last-child:hover, .breadcrumbs .rc_crumb:last-child:hover, .rc_breadcrumbs .crumb:last-child:hover, .rc_breadcrumbs .rc_crumb:last-child:hover {
background-color: #F1EBDE;
    color: #653B2D;
}

.breadcrumbs .crumb:hover+.crumb:after, .breadcrumbs .crumb:hover+.rc_crumb:after, .breadcrumbs .rc_crumb:hover+.crumb:after, .breadcrumbs .rc_crumb:hover+.rc_crumb:after, .rc_breadcrumbs .crumb:hover+.crumb:after, .rc_breadcrumbs .crumb:hover+.rc_crumb:after, .rc_breadcrumbs .rc_crumb:hover+.crumb:after, .rc_breadcrumbs .rc_crumb:hover+.rc_crumb:after {
background-color: #F1EBDE;
}

.breadcrumbs .crumb:hover, .breadcrumbs .rc_crumb:hover, .rc_breadcrumbs .crumb:hover, .rc_breadcrumbs .rc_crumb:hover {
background-color: #F1EBDE;
    color: #653B2D;
}

.breadcrumbs, .rc_breadcrumbs {
    background-color: #F1EBDE;
    color: #653B2D;
}

.recharge .btn.btn-primary, .rc_button.rc_button--primary, .button.button--primary {
    border-radius: 3px;
    padding: 15px 30px;
    font-family: 'neutratextps_bold', sans-serif;
    font-size: 21px;
    line-height: 29px;
    display: inline-block;
    height: auto;
    text-align: center;
    transition: all .3s ease-in-out;
    background: #E63E2E;
    color: #F1EBDE;
    border: 0 !important;
font-family: 'neutratextps_bold', sans-serif;
}

.rc_header-settings {
    min-height: auto;
    margin-bottom: auto;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]), textarea, select {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 17px 20px;
  color: #653B2D;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #653B2D;
}

.rc_header-settings__actions a {
    background: 0;
    color: #653B2D;
    border-bottom: 5px solid #FDB933;
    padding: 0;
    height: auto;
    min-width: auto;
font-family: 'neutratextps_bold', sans-serif;
}
.menu__item>a:active, .menu__item>a:focus, .menu__item>a:hover, .rc_menu__item>a:active, .rc_menu__item>a:focus, .rc_menu__item>a:hover {
background: transparent;
color: #653B2D;
}

.menu__item>a, .rc_menu__item>a {
    width: 100%;
    line-height: 1;
    font-size: 21px;
    display: block;
    padding: 9px 15px;
    text-decoration: none;
    color: #653B2D;
    text-transform: capitalize;
    font-weight: normal;
    font-family: 'neutratextps_book';
}

.rc_menu__item>a.active {
    color: #FDB933;
    background: none;
}