/*==================================
Structure
==================================*/

.recharge .rc_layout .rc_layout__sidebar, .recharge .rc_layout .rc_layout__content {
    padding-top: 0;
}

#ReCharge .recharge .layout__sidebar, #ReCharge .recharge .rc_layout__sidebar, .recharge .rc_layout .rc_layout__content, #ReCharge.page__customers__billing .rc_layout .rc_layout__sidebar, #ReCharge.page__customers__subscriptions__shipping-address .rc_layout .rc_layout__sidebar, #ReCharge.page__customers__billing__address .rc_layout .rc_layout__sidebar {
    padding-left: 0;
    padding-right: 0;
}

#ReCharge.page__customers__billing .rc_layout .rc_layout__content, #ReCharge.page__customers__subscriptions__shipping-address .rc_layout .rc_layout__content {
    @include tablet {
        padding-left: 0;  
    }
}

/*==================================
Fonts
==================================*/

#ReCharge a {
  border-bottom: 5px solid $orange;

  &:hover {
      color: $orange;
      text-decoration: none;
  }
}

.recharge {
    h1, h2, h3, h4, h5 {
        text-transform: capitalize;
    }
}

/*==================================
Buttons
==================================*/

.recharge .btn.btn-primary, .rc_button.rc_button--primary, .button.button--primary {
    border-radius: $borderRadius;
    padding: 15px 30px;
    font-family: 'neutratextps_bold', sans-serif;
    font-size: 21px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    transition: all .3s ease-in-out;

    @include mobile_landscape {
        font-size: 18px;
        line-height: 23px;
        padding: 10px 20px;
    }
}

// Primary

.recharge .btn.btn-primary, .rc_button.rc_button--primary, .button.button--primary {
    background: $red;
    color: $cream;
    border: 0 !important;

    &:hover {
        background: $gold !important;
        color: $cream !important;
    }
}

// Secondary

.recharge .btn.btn-secondary{
    background: $cream;
    color: $brown;
    border: 2px solid $gold;

    &:hover {
      border: 2px solid $gold;
      color: $cream;
      background: $gold;
    }
}

/*==================================
Header/Title
==================================*/

.rc_title-bar__title, .rc_header-settings__title {
    h2, h3 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 50px;
        text-transform: capitalize;

        @include tablet {
            font-size: 27px;
            line-height: 35px;
            margin-bottom: 30px;
        }
    }
}

.rc_header-settings__actions {
    align-items: flex-end;
}

/*==================================
Forms
==================================*/

// Select

.recharge select, .recharge #ReCharge-Mobile-Nav {
    height: 59px;
    padding: 10px;
    background: url('font_awesome_down_arrow.png') no-repeat 95% 50%;
    background-size: 20px;
    appearance: none;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.recharge #rc_mobile_navigation {
    margin-bottom: 30px;
}

/*==================================
Navigation
==================================*/

ul.nav, ul#rc_navigation {
    list-style: none;
}

ul.nav li, ul#rc_navigation li {
    margin-bottom: 10px;
    text-transform: capitalize;

    &.active {
        color: $orange;
    }
}

#ReCharge ul.nav li a, ul#rc_navigation li a {
    border: 0;

    &.active {
        color: $orange;
    }
}

.rc_layout__sidebar a.btn.btn-default.btn-back {
    display: inline-block;
    margin-bottom: 20px;
}

/*==================================
Table
==================================*/

// Table Head

tr#hidden-header-ReCharge, .re__history.table thead tr, .re__history__order.table thead tr, .rc_table thead tr {
    padding: 5px 0;
    border-bottom: 5px solid $borderBrown;
    font-family: 'neutratextps_bold', sans-serif;
    text-transform: uppercase;
    color: $borderBrown;
}

.recharge .table thead tr th, .re__history.table thead tr th, .re__history__order.table thead tr th, .rc_table thead tr th {
    padding: 0 10px;
    text-align: center;
    width: 20%;

    &:first-child {
        padding: 0 10px 0 0;
        text-align: left;
    }

    &:last-child {
        padding: 0 0 0 10px;
        text-align: right;
    }

    @include tablet {
        width: auto;
        text-align: left;
    }
}

// Body

.recharge tbody {
    border-bottom: 5px solid $borderBrown;
    margin-bottom: 20px;
}

.re__subscriptions__subscription__items.table tbody {
    @include tablet {
        border-bottom: 0;
    }
}

.recharge tbody tr {
    border-bottom: 2px solid $borderBrown;
    
    &:last-child {
        border-bottom: 0;
    }
}

.recharge tbody tr td {
    padding: 20px 10px;
    text-align: center;
    width: 20%;

    &:first-child {
        padding: 20px 10px 20px 0;
        text-align: left;
    }

    &:last-child {
        padding: 20px 0 20px 10px;
        text-align: right;
    }

    @include tablet {
        width: auto;
        text-align: left;
    }
}

.recharge tbody tr td.re__subscriptions__subscription__item__actions:last-child {
    @include tablet {
        padding: 20px;
    }
}

.recharge.page__customers__billing tbody tr td {
    vertical-align: top;
    width: auto;
}

// Footer

.re__subscriptions__subscriptions hr {
    display: none;
}

.recharge tfoot td {
    background-color: white;
    font-size: 23px;
    line-height: 30px;
    font-family: 'neutratextps_bold', sans-serif;
    text-align: right;
    padding-top: 10px;
}

/*==================================
Delivery Schedule
==================================*/

.re__schedule__order {
    background: $lightCream;
    border-radius: $borderRadius;
    border: 2px solid $borderBrown;
    padding: 20px;
}

.re__schedule__order__address.rc_delivery_address {
    margin-bottom: 20px;
}

.re__schedule__order .rc_table {
    margin-bottom: 0;
}

.re__schedule__order br {
    display: none;
}

/*==================================
Add Product
==================================*/

// Search

.recharge #product-search span.input-group-addon {
    display: none;
}

.recharge #product-search .input-group-btn {
    vertical-align: top;
}

// Border

div#content__add_product hr {
    background-color: $borderBrown;
    height: 5px;
}

// Product

.recharge .product-name {
    font-size: 23px;
    line-height: 30px;
    font-family: 'neutratextps_bold', sans-serif;
}

/*==================================
Shipping Address
==================================*/

// Header

.recharge.page__customers__subscriptions__shipping-address .rc_header-settings__actions, .recharge.page__customers__billing__address .rc_header-settings__actions {
    margin-bottom: 20px;
}

// Responsive form adjustments

@media screen and (max-width: 575px) {

    .recharge.page__customers__subscriptions__shipping-address .rc_layout__container, .recharge.page__customers__billing__address .rc_layout__container {
        padding-left: 0;
        padding-right: 0;
    }

    .recharge.page__customers__subscriptions__shipping-address .rc_layout__container .rc_layout, .recharge.page__customers__billing__address .rc_layout__container .rc_layout {
        margin-left: 0;
        margin-right: 0;
    }

    .recharge.page__customers__subscriptions__shipping-address .rc_layout [class^="rc_layout__sm"], .recharge.page__customers__billing__address .rc_layout [class^="rc_layout__sm"] {
        padding-left: 0;
        padding-right: 0;
    }

}